%div.s3_uploader
  = s3_uploader_form key: "uploads/badge_files/#{SecureRandom.hex}-#{current_user.name}-${filename}", acl: "private", max_file_size: 40.megabytes do
    = file_field_tag :file
    This image will be shown to the student, and shared with any communities if the student has chosen to make the award public.
  %div#uploaded_files Uploaded:
  %div.upload.s3_progress
    Progress:
    %div.progress
      %div.bar

= simple_form_for @grade, url: assignment_grade_path(@assignment), method: :patch, :html => { :class => 'form-horizontal' } do |f|
  = hidden_field_tag :student_id, current_student.id
  - if @assignment.assignment_type.has_levels?
    = f.input :raw_score, :collection => @score_levels.map { |l| [l.name,l.value] }, :as => :select, :input_html => {:class => "col-lg-3"}
  - elsif @assignment.has_levels?
    = f.input :raw_score, :collection => @assignment_score_levels.map { |l| [l.name,l.value] }, :as => :select, :input_html => {:class => "col-lg-3"}
  - else
    = f.input :raw_score, :default => @assignment.point_total, :label => "Score", :hint => "Total Assignment Points: #{ points @assignment.point_total }", :input_html => {:class => "col-lg-3"}
  = f.simple_fields_for :grade_files, @grade.grade_files.new do |gff|
    = gff.input :filename, :input_html => { :class => 's3_files' }, :as => :hidden
  = f.input :feedback, :as => :text, :input_html => {:style => "width: 90%; height: 200px;"}
  - if @assignment.release_necessary?
    = f.input :status, :as => :select, :collection => Grade::STATUSES, :hint => "Can the student see this grade?", :include_blank => false
  - elsif @grade.status.blank?
    = f.hidden_field :status, value: 'Graded'
  .form-actions.col-lg-offset-3
    = f.button :submit, "#{@grade.persisted? && @grade.is_graded? ? 'Update' : 'Submit'} Grade", :class => "btn-primary"
    = link_to 'Cancel', assignment_path(@assignment), :class => 'btn btn-info'
