%h4
  .small-2= "#{term_for :group}:"
  - if @group.present?
    .small-10= link_to @group.name, group_path(@grade.group)

    - @group.students.each do |student|
      %h3 #{term_for :student}
      = link_to @assignment.grade_for_student(student).student.name, student_path(@assignment.grade_for_student(student).student)
%hr.clear


  - if @group.present? && @group.submission_for_assignment(@assignment)
    = render "submission"

.clearfix

= render "results"

//= render "analytics"

