.small-12.columns
  %h4
    %span.bold= "#{term_for :group}:"
    - if @group.present?
      = link_to @group.name, group_path(@group)

      .clearfix

      %h4.bold= "#{term_for :students}:"
      %ul
        - @group.students.each do |student|  
          %li= link_to student.name, student_path(student)
    - else
      = link_to "Create a #{term_for :group}", new_group_path, :class => "button tiny radius"

  %hr.clear


    - if @group.present? && @group.submission_for_assignment(@assignment)
      = render "submission"

  .clearfix

  //= render "results"

  //= render "analytics"

