.small-12.medium-6.columns
  - if current_student.grade_for_assignment(@assignment).present?
    .panel= render "grades/results"

  - if current_student.submission_for_assignment(@assignment)
    .panel= render "grades/submission"
  - elsif @assignment.future? || @assignment.still_accepted?
    .panel
      = link_to "Submit", new_assignment_submission_path(@assignment, :student_id => current_student), :class => 'button tiny secondary radius'
      - if @assignment.past?
        .label.alert.radius= "Past due"

.small-12.medium-6.columns
  .panel= render "grades/analytics"

