.heading= "#{term_for :student}:"
= link_to @grade.student.try(:name), student_path(@grade.student)
= "#{term_for :assignment}:"
= link_to @grade.assignment.name, assignment_path(@grade.assignment_id)
- if @grade.raw_score?
  .heading Raw Score:
  = @grade.raw_score
- if @grade.final_score?
  .heading Final Score:
  = @grade.final_score
  //- if @grade.grade_files.present?
  //.heading.col-lg-2 Documents:
  //.col-lg-offset-2
  //- @grade.grade_files.each do |gf|
  //= link_to gf.filename, gf.url
  //if current_user.is_staff?
  //= link_to "(Remove)", remove_uploads_path({ :model => "GradeFile", :upload_id => gf.id } )

- if @grade.feedback?
  .heading Feedback:
  = raw @grade.feedback

- if @grade.earned_badges.present?
  .heading= "#{term_for :badges}:"
  - @grade.earned_badges.each do |badge|
    %img{:src => badge.try(:icon), :alt => badge.name, :width => "40", :height => "40"}

- if @grade.assignment.release_necessary?
  .heading Status:
  = @grade.status

- if @grade.student.submission_for_assignment(@assignment)
  .clear
  .heading Submission:
  = link_to "View Submission", assignment_submission_path(@assignment, @grade.student.submission_for_assignment(@assignment))
