.small-12.large-6.columns
  - if current_user.is_student?
    .bold Your Results
  - else
    %span.bold
      = " #{@grade.student.try(:name)}'s Results "
    %span= link_to "Edit Grade", edit_assignment_grade_path(@assignment, :student_id => @grade.student.id), :class => 'button tiny secondary radius'
  - if @grade.raw_score?
    %h6
      %span Score:
      %span.bold= "#{points @grade.raw_score }"
      %span=" / #{points @grade.assignment.point_total } possible points"
  - if @grade.feedback?
    %h6 Instructor Feedback:
    %p= raw @grade.feedback

  - if @grade.assignment.release_necessary? && current_user.is_staff?
    %h6 
      Status:
      %span.bold= @grade.status