- if current_student.grade_for_assignment(@assignment).present?
  - if current_user.is_student?
    %p.bold Your Results
  - else
    %p.bold 
      #{current_student.try(:first_name)}'s Grade
      %span= link_to "Edit", edit_assignment_grade_path(@assignment, :student_id => current_student.id), :class => 'button tiny secondary radius'

  - grade = current_student.grade_for_assignment(@assignment)
  %p
    %span.bold= "#{points grade.raw_score }"
    %span=" / #{points @assignment.point_total } possible points"
  - if current_student.grade_for_assignment(@assignment).assignment.release_necessary? && current_user.is_staff?
    %p 
      Status:
      %span.bold= current_student.grade_for_assignment(@assignment).status
  - if current_student.grade_for_assignment(@assignment).feedback.present?
    %p.bold Instructor Feedback:
    %p= raw current_student.grade_for_assignment(@assignment).feedback

