.modal.fade#rubric-modal
  .modal-dialog
    .modal-content
      .modal-header
        = button_tag class: 'close', 'data-dismiss' => 'modal', 'aria-hidden' => true do
          &times;
        %h4.modal-title Rubric
      .modal-body
        %ul
          - rubric.criteria.each do |criteria|
            %li
              = criteria.name
              - criteria.levels.each do |level|
                = label_tag criteria.name, level.name
                = radio_button_tag criteria.name, level.value
      .modal-footer
        = button_tag class: 'btn btn-default', 'data-dismiss' => 'modal' do
          Close
        = button_tag class: 'btn btn-primary' do
          Save Changes
