= content_nav_for @assignment, "Grade" do
  %li= link_to "All #{@grade.assignment.name } Grades", assignment_path(@grade.assignment_id), :class => "button tiny radius success"
  - if @assignment.is_individual?
    %li= link_to 'Edit Grade', edit_assignment_grade_path(@assignment, :student_id => @grade.student_id), :class => "button tiny radius success"
    %li= link_to "Delete Grade", assignment_grade_path(@assignment, :student_id => @grade.student_id), :class => "button tiny radius success", :data => { confirm: 'Are you sure?' }, :method => :delete
    %li= link_to "Grade Another " +@grade.assignment.name, edit_assignment_grade_path("assignment_id"=>@grade.assignment.id), :class => "button tiny radius success"
  - else
    %li= link_to 'Edit Grades', group_grade_assignment_path("assignment_id" => @assignment.id, "id" => @grade.id, :group_id => @grade.group_id), :class => "button tiny radius success"
    %li= link_to "Grade Another " +@grade.assignment.name, edit_assignment_grade_path("assignment_id"=>@grade.assignment.id), :class => "button tiny radius success"


.small-12.columns
  %h3= @grade.assignment.name
  - if @grade.assignment.is_individual?
    = render "individual_show"
  - else
    = render "group_show"
