.small-12.panel.mainContent
  = content_nav_for @assignment, "#{@grade.student.name}" do
    = render "assignments/tabs"

  .small-12.columns

    - if @grade.assignment.is_individual?
      %h3
        = "#{@grade.student.name}'s #{@grade.assignment.try(:name)}"
      .assignmentDescription= raw @grade.assignment.description
      = render "individual_show"
    - else
      %h3= "#{@grade.group.try(:name)}'s #{@grade.assignment.name}"
      = render "group_show"

  .clearfix