.small-12.panel.mainContent
  / Grades Navigation
  - if @assignment.is_individual?
    = content_nav_for @assignment, "#{@grade.student.name}" do
      %li= link_to "All #{@grade.assignment.name } Grades", assignment_path(@grade.assignment_id), :class => "button tiny radius"
      %li= link_to "See #{@grade.student.first_name}'s Dashboard", student_path(@grade.student), :class => "button tiny radius"
      %li= link_to 'Edit Grade', edit_assignment_grade_path(@assignment, :student_id => @grade.student_id), :class => "button tiny radius"
      %li= link_to "Delete Grade", assignment_grade_path(@assignment, :student_id => @grade.student_id), :class => "button tiny radius", :data => { confirm: 'Are you sure?' }, :method => :delete
      %li= link_to "Grade Another " +@grade.assignment.name, edit_assignment_grade_path("assignment_id"=>@grade.assignment.id), :class => "button tiny radius"
  - else
    = content_nav_for @assignment, "Grade" do
      %li= link_to 'Edit Grades', group_grade_assignment_path("assignment_id" => @assignment.id, "id" => @grade.id, :group_id => @grade.group_id), :class => "button tiny radius"
      %li= link_to "Grade Another " +@grade.assignment.name, edit_assignment_grade_path("assignment_id"=>@grade.assignment.id), :class => "button tiny radius"


  .small-12.columns
    - if @grade.assignment.is_individual?
      %h3.bold= "#{@grade.student.try(:name)}'s #{@grade.assignment.name}"
      = render "individual_show"
    - else
      %h3.bold= "#{@grade.group.try(:name)}'s #{@grade.assignment.name}"
      = render "group_show"

  .clearfix