.small-12.panel.mainContent
  / Criteria Levels Navigation
  = content_nav_for @assignment do
    = render "students/tabs"

  .small-12.columns
    %h3= link_to @grade.assignment.name, @grade.assignment

    .assignmentDescription
      = @grade.assignment.description

    //- if @grade.grade_files.present?
    //%h5 Documents:
    //%ul
    //- @grade.grade_files.each do |gf|
    //%li
    //   = link_to gf.filename, gf.url
    //  = link_to "(Remove)", grades_grade_file_remove_path({ :grade_id => @grade.id, :grade_file_id => gf.id, :redirect => { :controller => "grades", :id => @grade.id, :upload_id => gf.id } } )

    - if @grade.assignment.is_individual?
      = render "individual_show"
    - else
      = render "group_show"

  .clearfix
