.small-12.panel.mainContent
  / Criteria Levels Navigation
  = content_nav_for @assignment do
    - if current_user.is_student?
      = render "students/student_profile_tabs"
    - else
      = render "students/tabs"


  .small-12.columns
    %h3= @assignment.name

    - if @assignment.open_at?
      Opens:
      %span.bold= @assignment.open_at

    - if @assignment.due_at?
      .small-12.large-4.columns
        Due:
        %span.bold= @assignment.due_at

    .clearfix

    .small-12.columns= raw @assignment.description

    //- if @grade.grade_files.present?
    //%h5 Documents:
    //%ul
    //- @grade.grade_files.each do |gf|
    //%li
    //   = link_to gf.filename, gf.url
    //  = link_to "(Remove)", grades_grade_file_remove_path({ :grade_id => @grade.id, :grade_file_id => gf.id, :redirect => { :controller => "grades", :id => @grade.id, :upload_id => gf.id } } )

    - if @grade.assignment.is_individual?
      = render "individual_show"
    - else
      = render "group_show"

  .clearfix
