.small-12.columns.panel.callout
  .small-12.large-6.columns
    - if current_user.is_staff?
      %h5
        Submitted by:
        = link_to @grade.student.try(:name), student_path(@grade.student)

    %h5
      Submitted:
      = @grade.student.submission_for_assignment(@grade.assignment).created_at
      - if @grade.student.submission_for_assignment(@grade.assignment).late?
        %span.label.alert.round Late!
    - if @grade.student.submission_for_assignment(@grade.assignment).updated_at != @grade.student.submission_for_assignment(@grade.assignment).created_at
      %h5
        Updated:
        = @grade.student.submission_for_assignment(@grade.assignment).updated_at

    - if @grade.student.submission_for_assignment(@grade.assignment).link?
      %h5
        Link:
        = link_to @grade.student.submission_for_assignment(@grade.assignment).link, @grade.student.submission_for_assignment(@grade.assignment).link

    - if @grade.student.submission_for_assignment(@grade.assignment).submission_files.present?
      %h5 Attachments:
      %ul
        - @grade.student.submission_for_assignment(@grade.assignment).submission_files.each do |sf|
          %li
            = link_to sf.filename, sf.url
            = link_to "(Remove)", remove_uploads_path({ :model => "SubmissionFile", :assignment_id => @assignment.id, :upload_id => sf.id } )
            
  .small-12.large-6.columns
    %h5 Statement:
    %p= raw @grade.student.submission_for_assignment(@grade.assignment).text_comment