%li= link_to "All #{@assignment.name} Grades", assignment_path(@assignment), :class => "button tiny radius"
%li= link_to "Back to #{@assignment.name}", assignment_path(@assignment), :class => "button tiny radius"
%li= link_to "Back to #{@assignment.name}", assignment_path(@assignment), :class => "button tiny radius"