.small-12.panel.mainContent
  / Grades Navigation
  = content_nav_for @assignment, "Editing Grade" do
    = render "tabs"

  .small-12.columns
    %h3 Editing #{current_student.name}'s Grade for #{@assignment.name}
    = render 'form'

  .clearfix