.small-12.panel.mainContent
  / Grades Navigation
  = content_nav do
    = render "assignments/tabs"

  .pagetitle Updating Selected Grades

  .small-12.columns            
    %table.responsive.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "string"}= term_for :student
          %th.sortable{"data-sort" => "int"} Score
          %th.sortable{"data-sort" => "string"} Current Status
      %tbody
        - for grade in @grades
          %tr
            %td= grade.student.name
            %td= points grade.raw_score
            %td= grade.status

    .small-12.right
      = simple_form_for :grade, :url => update_status_grades_assignment_path(@assignment), :html => { :method => :put} do |f|
        - for grade in @grades
          = hidden_field_tag "grade_ids[]", grade.id
        .medium-3.right= f.input :status, :label => "Update Status to:", :as => :select, :collection => Grade::STATUSES
        %hr
        .right
          = f.button :submit, "Update Statuses", :class => "button tiny radius"

  .clearfix