= content_nav_for @assignment, "Updating Grade Statuses" do
  %li= link_to "Back to #{@assignment.name}", assignment_path(@assignment), :class => "button tiny radius"

.small-12
  %h2 Selected Grades

%table.responsive.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"}= term_for :student
      %th.sortable{"data-sort" => "int"} Score
      %th.sortable{"data-sort" => "string"} Current Status
  %tbody
    - for grade in @grades
      %tr
        %td= grade.student.name
        %td= grade.raw_score
        %td= grade.status

.small-12
  = simple_form_for :grade, :url => update_status_grades_assignment_path(@assignment), :html => { :method => :put, :class => "form-horizontal" } do |f|
    - for grade in @grades
      = hidden_field_tag "grade_ids[]", grade.id
    = f.input :status, :label => "Update Status to:", :as => :select, :collection => Grade::STATUSES
    .form-actions
      = f.button :submit, "Update Statuses", :class => "button tiny radius"
