= content_nav_for @assignment, "Editing Grade" do
  %li= link_to "All #{@assignment.try(:name) } Grades", assignment_path(@grade.assignment_id), :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title
  = render 'form'