= content_nav_for @assignment, "Editing Grade" do
  %li= link_to "All #{@assignment.name} Grades", assignment_path(@assignment), :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3 Editing #{current_student.name}'s Grade for #{@assignment.name}
  = render 'form'
