.small-12.panel.mainContent
  / Grades Navigation
  .show-for-medium-up
    = content_nav_for @assignment, "Editing Grade" do
      = render "assignments/tabs"

  .hide-for-medium-up{:style => "padding: 10px"}
    = mobile_nav_for @assignment, "Editing Grade"

  .small-12.columns    
    .hide-for-medium-up
      %a.radius.button.tiny.small-12.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Options
      %ul#drop.f-dropdown
        = render "assignments/tabs"

    %h3 Editing #{current_student.name}'s Grade for #{@assignment.name}
    = render 'form'

  .clearfix