.small-12.panel.mainContent
  / Criteria Levels Navigation
  = content_nav do
    = render "assignments/tabs"

  .pagetitle Import Grades for #{@assignment.name}

  .small-12.columns
    %p
      = "To import grades you need to upload a .csv file with the following content: the #{term_for :student}'s name, uniqname, score, and any text feedback you'd like to include. These fields *MUST* be in this order. Note that you may include additional information in the extra columns, but that content will be ignored."
      = link_to "Download Sample File", roster_students_path(format: 'csv'), :class => "button tiny radius"

    = form_tag({:action => :upload}, :multipart => true) do
      = file_field_tag 'file'
      = submit_tag("Import")

  .clearfix