= content_nav_for @assignment, "New Grade" do
  %li= link_to "Back to #{@assignment.name}", assignment_path(@assignment), :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title
  - if @assignment.accepts_submissions? && @student.submissions.where(:assignment_id => @assignment)
    - @student.submission_for_assignment(@assignment).tap do |s|
      - if @assignment.is_individual?
        %h4
          = "#{term_for :student}:"
          = link_to s.student.try(:name), s.student
      - elsif @assignment.has_groups?
        %h4
          = "#{term_for :group}:"
          = link_to s.student.try(:name), assignment_group_path(s, s.student)

      %b.heading.col-lg-2 Submitted:
      .col-lg-offset-2= s.created_at
      - if s.updated_at != s.created_at
        %b.heading.col-lg-2 Last Updated:
        .col-lg-offset-2= s.updated_at
      - if s.link?
        %b.heading.col-lg-2 Link:
        .col-lg-offset-2= link_to s.link, s.link

      - if s.submission_files.present?
        %b.heading.col-lg-2 Files:
        - s.submission_files.each do |sf|
          .col-lg-offset-2= link_to sf.filename.identifier, sf.filename.url

      %b.heading.col-lg-2 Statement:
      .col-lg-offset-2= raw s.text_comment

  = render 'form'