.small-12.panel.mainContent
  = content_nav do
    = render "assignments/tabs"

  
  - if @assignment.is_individual?
    .pagetitle= "#{@grade.student.name}'s #{ @assignment.name }"

    .small-12.columns= render "individual_show"
    
  - else
    .pagetitle #{@group.try(:name)}'s #{@assignment.name}
      
    .small-12.columns= render "group_show"