%h3.text-center Due This Week
%hr
- current_course_data.by_assignment_type.each do |assignment_type, assignments|
  -# Do not use `assignment_type.has_soon_assignments?' It will trigger a query.
  - if assignments.any?(&:soon?) && assignment_type.include_in_to_do?
    - assignments.each do |assignment|
      - if assignment.soon? && assignment.visible?
        - if assignment.accepts_submissions?
          - if assignment.is_individual?
            .right= render "students/submissions", assignment: assignment
          - else
            .right= render "students/group_submissions", assignment: assignment, group: current_student.group_for_assignment(assignment)
        - if current_student.submission_for_assignment(assignment).present?
          %p.strikethrough= link_to "#{assignment.try(:name)}", assignment
        - else
          %p
            .bold= link_to assignment.name, assignment_grade_path(assignment, :student_id => current_student)
            .form_label= "Due: #{assignment.try(:due_at).strftime("%A, %B %d, %Y, at %H:%M%p")}"
        %hr
        .clearfix
