.text-center
  %h4= term_for :badges
  %hr
  %ul.small-block-grid-4
    - current_course_data.badges.each do |badge|
      - if current_student_data.earned_badge?(badge)
        %li
          // Checking to see if the class has badges with points - if not display the tooltip without the point value
          - if ! current_course.valuable_badges? || ! badge.point_total.present?
            // Using Foundations Tooltip functionality to display badge title and point value if present
            %span.has-tip{:title => "#{badge.name}", :data => {'tooltip' => true} }
              %img{:src => badge.icon, :alt => "You've earned the #{badge.name} badge", :class => "earned"}
          - elsif current_course.valuable_badges?
            %span.has-tip.tip-top{:title => "#{badge.name}, #{badge.point_total} points", :data => {'tooltip' => true} }
              %img{:src => badge.icon, :alt => "You've earned the #{badge.name} badge", :class => "earned"}
      - else
        %li
          // If the student hasn't earned the badge then check to see if it's visible - if it is, then display it. If it isn't, it won't appear in this sidebar.
          - if badge.visible?
            - if current_course.valuable_badges?
              %span.has-tip.tip-top{:title => "#{badge.name}, #{badge.point_total} points", :data => {'tooltip' => true} }
                %img{:src => badge.try(:icon), :alt => "#{badge.try(:name)}", :class => "unearned"}
            - else
              %span.has-tip{:title => "#{badge.name}", :data => {'tooltip' => true} }
                %img{:src => badge.try(:icon), :alt => "#{badge.try(:name)}", :class => "unearned"}
    .clearfix
    = "#{term_for :badges} you've earned will shine brightly!"
