.col-lg-12
  %h4= "#{current_course.user_term}s"

%table.table.table-striped.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Email
      %th.sortable{"data-sort" => "string"} Name
      %th.sortable{"data-sort" => "string"} Role
      %th.sortable{"data-sort" => "int"} Score
      %th.sortable{"data-sort" => "int"} Logins
      - if current_course.has_badges?
        %th.sortable{"data-sort" => "int"} Badges Earned
      %th
  %tbody
    - @students.each do |student|
      %tr
        %td= student.email
        %td= student.display_name
        %td= student.role
        %td= student.character_profile
        %td
          = student.score_for_course(current_course) if student.respond_to?(:grades)
