- if current_student_data.team.present?
  %h4= current_student_data.team.name
  %table.responsive.simpleTable
    %thead
      %tr
        %th
        %th Name
        %th Character Profile
        %th Role
        %th Score
    %tbody
      - j = 1
      - current_student_data.team.sorted_students.each do |student|
        - if student.display_name?
          %tr
            %td= j
            %td= student.display_name
            %td= student.character_profile(current_course)
            %td= student.team_role
            %td= points student.cached_score_for_course(current_course) if student.respond_to?(:grades)
          - j += 1
