.small-12.columns.medium-5
  %table.responsive.simpleTable.highchart{:data => { "graph-container" => "#graphcontainer", "graph-type" => "column", "graph-legend-disabled" => 1, "graph-xaxis-rotation" => 0  } }
    %thead
      %tr
        %th #{term_for :team}
        %th Score
        %th{:data => { "graph-skip" => 1 } }  Rank
    %tbody
      - i = 1
      - current_course.teams.order_by_high_score.each do |team|
        %tr{ class: ("complete" if current_student.present? && team == current_student.team_for_course(current_course)) }
          %td
            - if team.banner.present?
              %img{:src => team.banner}
              .img.form_label.inverse= team.name
            - else
              = team.name
          - if current_course.team_score_average?
            %td= points team.try(:average_grade)
          - else
            %td= points team.try(:score)
          %td= i
          - i += 1
.small-12.columns.medium-7
  #graphcontainer



