%ul.tabs
  %li.active
    %a{ "data-toggle" => "tab", "data-target" => "#tabt1"} #{term_for :team} Leaderboard
  - if current_course.shared_badges?
    %li
      %a{ "data-toggle" => "tab", "data-target" => "#tabt2"} My #{term_for :team} Rankings
%br
%br
.tab-content
  .tab-pane#tabt1.active
    %table.table.table-striped.simpleTable
      %thead
        %tr
          %th
          %th Name
          - if current_course.team_score_average?
            %th Score
      %tbody
        - i = 1
        - @teams.order_by_high_score.each do |team|
          %tr
            %td= i
            %td= team.name
            - if current_course.team_score_average?
              %td= points team.try(:average_grade)
          - i += 1

  .tab-pane#tabt2
    = render "teams/in_team_rankings"
