%ul.tabs
  %li.active
    %a{ "data-toggle" => "tab", "data-target" => "#tabt1"} #{term_for :team} Leaderboard
  - if current_course.shared_badges?
    %li
      %a{ "data-toggle" => "tab", "data-target" => "#tabt2"} My #{term_for :team} Rankings
  - if current_course.team_challenges?
    %li
      %a{ "data-toggle" => "tab", "data-target" => "#tabt3"} #{term_for :challenges}

- if current_user.is_student? && ! current_student.display_name?
  = "Want to see the your #{term_for :team} leaderboard?"
  = link_to "Set your screen name!", edit_profile_users_path

%br
%br
.tab-content
  .tab-pane#tabt1.active
    %table.table.table-striped.simpleTable
      %thead
        %tr
          %th
          %th Name
          - if current_course.team_score_average?
            %th Score
      %tbody
        - i = 1
        - current_course_data.teams_by_high_score.each do |team|
          %tr
            %td= i
            %td= team.name
            - if current_course.team_score_average?
              %td= points team.try(:average_grade)
          - i += 1

  .tab-pane#tabt2
    = render "teams/in_team_rankings"

  .tab-pane#tabt3
    = render "challenges/student_index"
