%ul.tabs
  %li.active
    %a{ "data-toggle" => "tab", "data-target" => "#tabt1"} #{term_for :team} Leaderboard
  - if current_course.shared_badges?
    %li
      %a{ "data-toggle" => "tab", "data-target" => "#tabt2"} My #{term_for :team} Rankings
%br
%br
.tab-content
  .tab-pane#tabt1.active
    %table.table.table-striped.simpleTable
      %thead
        %tr
          %th{"data-sort" => "string"} Name
          - if current_course.team_score_average?
            %th{"data-sort" => "string"} Score
      %tbody
        - @sorted_teams.each do |team|
          %tr
            %td= team.name
            - if current_course.team_score_average?
              %td= points team.try(:average_grade)
  .tab-pane#tabt2
    = render "teams/in_team_rankings"
