.small-12.panel.mainContent
  / Team Edit Breadcrumbs
  = content_nav_for Team, "Edit #{breadcrumb_link_for(@team)}".html_safe do
    = render "tabs"
  
  .small-12.columns
  
    %h2= @title
    = render 'form'

  .clearfix