= content_nav_for Team do
  %li= link_to "Add a #{current_course.team_term}", new_team_path, :class => "btn btn-tiny btn-info"
  %li= link_to "Grade a #{current_course.team_term} Challenge", challenges_path, :class => "btn btn-tiny btn-info"

%table.table.table-striped.simpleTable
  %thead
    %tr
      %th{"data-sort" => "int"} Rank
      %th{"data-sort" => "string"} Name
      %th{"data-sort" => "int"} No. of Students
      %th{"data-sort" => "int"} Score
      - if current_user.is_staff?
        %th{"data-sort" => "string"} Badges Earned
        %th{"data-sort" => "int"} Total Badges
        %th
        %th
  %tbody
    - i = 1
    - @teams.each do |team|
      %tr
        %td= team.rank
        %td= link_to team.name, team
        %td= team.member_count
        %td= team.try(:score)
        - if current_user.is_staff?
          %td
            - team.earned_badges.each do |badge|
              %img{:src => asset_path(badge.icon), :alt => badge.name, :width => "25"}
          %td= team.try(:student_badge_count)
          %td= link_to 'Edit', edit_team_path(team), :class => 'btn btn-tiny btn-info'
          %td= link_to 'Delete', team, :class => 'btn btn-tiny btn-warning', :data => { confirm: 'Are you sure?' }, :method => :delete
