.small-12.panel.mainContent
  / Team Index Breadcrumbs
  = content_nav_for Team do
    = render "tabs"
  
  .small-12.columns
    %dl.tabs{:data => {'tab' => true}}
      %dd.active
        %a{ "href" => "#tabt1"} #{term_for :team} Leaderboard
      %dd
        %a{ "href" => "#tabt2"} #{term_for :teams} Stats

  .small-12.columns
    .tabs-content
      .content#tabt1.active
        = render "leaderboard"
      .content#tabt2
        = render "stats"
  
  .clearfix