.col-lg-12
  %h3= @title

%table.table.table-striped.simpleTable
  %thead
    %tr
      %th{"data-sort" => "int"} Rank
      %th{"data-sort" => "string"} Name
      %th{"data-sort" => "int"} No. of Students
      %th{"data-sort" => "int"} Score
        %th
        %th
  %tbody
    - i = 1
      - @teams.each do |team|
        %tr
          %td= team.rank
          %td= team.name, team
          %td= team.member_count
          %td= team.try(:score)