.col-lg-12
  %h3= @title

%table.table.table-striped.simpleTable
  %thead
    %tr
      %th{"data-sort" => "int"} Rank
      %th{"data-sort" => "string"} Name
      %th{"data-sort" => "int"} Score
  %tbody
    - i = 1
    - @teams.each do |team|
      %tr
        %td= team.rank
        %td= team.name
        %td= "#{number_with_delimiter(team.try(:average_grade), :delimiter => ',')}"