.small-12.panel.mainContent
  / Student Dashboard Breadcrumbs
  = content_nav_for @team do
    = render "tabs"

  .small-12.columns

    %h4.bold= @team.name

    %table.responsive.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "string"} First Name
          %th.sortable{"data-sort" => "string"} Last Name
          %th.sortable{"data-sort" => "string"} Email
          - if current_course.team_roles? 
            %th.sortable{"data-sort" => "string"} Role
          %th.sortable{"data-sort" => "int"} Score
          %th.sortable{"data-sort" => "string"} Level
          - if current_course.has_badges?
            %th{:width => 200} #{term_for :badges} Earned
          %th.button-column
      %tbody
        - @team.students.each do |student|
          - if student.is_student?
            %tr
              %td= link_to student.first_name, student_path(student)
              %td= link_to student.last_name, student_path(student)
              %td= mail_to student.email, student.email
              - if current_course.team_roles? 
                %td= student.team_role
              %td= points student.cached_score_for_course(current_course) if student.respond_to?(:grades)
              %td
                = student.grade_letter_for_course(current_course)
                = student.grade_level_for_course(current_course)
              - if current_course.has_badges?
                %td
                  - student.earned_badges.each do |badge|
                    %img{:src => asset_path(badge.icon), :alt => badge.name, :width => "25"}
              %td
                .button-bar
                  %ul.button-group.round.right
                    %li= link_to 'Dashboard', student_path(student), :class => 'button tiny secondary'
                    %li= link_to 'Edit', edit_user_path(student), :class => 'button tiny secondary'


    %hr

    .small-12
      %h4.bold Challenge Grades

    %table.responsive.simpleTable
      %thead
        %tr
          %th{"data-sort" => "string"} Name
          %th Score
          %th

      %tbody
        - @challenges.each do |challenge|
          %tr
            %td= link_to challenge.name, challenge
            %td= points challenge.challenge_grade_for_team(@team).try(:score)
            %td
              - if challenge.challenge_grade_for_team(@team).present?
                = link_to 'Edit Grade', edit_challenge_challenge_grade_path(:challenge_id => challenge, :id => challenge.challenge_grade_for_team(@team).id), :class => 'button tiny round secondary'
              - else
                = link_to "Grade", new_challenge_challenge_grade_path(:challenge_id => challenge, :team_id => @team.id), :class => 'button tiny round secondary'

  .clearfix