= simple_form_for [@rubric, @criterium] do |f|
  .well.clearfix
    = f.input :name
    = f.bootsy_area :description
    - if @criterium.category
      = f.input :category, :as => :hidden
    - else
      = f.input :category

  .well.clearfix= render 'levels_form', f: f, rubric: @rubric, criterium: @criterium

  .form-actions
    .btn-toolbar
      .btn-group
        = f.button :submit, :class => "button tiny radius"
      .btn-group
