= simple_form_for [@rubric, @criterium] do |f|
  .form-inputs
    = f.input :name
    = f.input :description, as: :text, input_html: { :class => :ckeditor, 'ckeditor-toolbar' => 'Mini' }
    - if @criterium.category
      = f.input :category, :as => :hidden
    - else
      = f.input :category

  .form-actions
    %div.btn-toolbar
      %div.btn-group
        = f.button :submit, :class => "btn-primary"
      %div.btn-group
