%fieldset.nested-fields
  %h5 Levels
  %script(id="level-template" type="text/x-template")
    %li.item.level-item.list-group-item.clearfix
      = f.simple_fields_for :levels, CriteriumLevel.new do |lf|
        = render 'level_fields', f: lf
  %ul.list-group.levels
    - criterium.levels.ordered.each do |level|
      %li.list-group-item.level-item.clearfix
        = f.simple_fields_for :levels, level, class: 'form-inline' do |lf|
          = render 'level_fields', f: lf
  %hr
    = link_to 'Add a Criterium Level', '#', class: 'add-item', 'data-template' => '#level-template'
