= content_nav_for @rubric, Criterium do
  %li= link_to 'Add Criterium', new_rubric_criterium_path(@rubric)

- @criteria.group_by(&:category).each do |category, criteria|
  .panel
    .panel-heading.clearfix
      = link_to new_criterium_path(@rubric, category: category), class: 'btn btn-xs btn-info pull-right' do
        %span.glyphicon.glyphicon-plus
        Add '#{category}' Criterium
      %h3.panel-title= category
    %table.table.display.table-striped.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "string"} Name
          %th.sortable{"data-sort" => "string"} Description
          %th
      %tbody
        - @criteria.each do |criterium|
          %tr
            %td= criterium.name
            %td= criterium.description
            %td
              = table_link_to 'Edit', [:edit, @rubric, criterium]
              = table_link_to 'Destroy', [@rubric, criterium], method: :delete, data: { confirm: 'Are you sure?' }
