= content_nav_for @rubric, @criterium do
  %li= link_to 'Edit', edit_criterium_path(@criterium)

%p <strong>Name:</strong> #{@criterium.name}
%p <strong>Category:</strong> #{@criterium.category}
%p <strong>Description:</strong> #{@criterium.description}

%h3 Levels

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Description
      %th Value
  %tbody
    - @criterium.levels.ordered.each do |level|
      %tr
        %td= level.name
        %td= level.description
        %td= level.value
