= content_nav_for @rubric, @criterium do
  %li= link_to 'Edit', edit_rubric_criterium_path(@rubric, @criterium)

%p <strong>Name:</strong> #{@criterium.name}
%p <strong>Category:</strong> #{@criterium.category}
%p <strong>Description:</strong> #{@criterium.description}

