/ Assignment Type Navigation
= content_nav_for AssignmentType do
  %li= link_to "New #{term_for :assignment} Type", new_assignment_type_path, :class => "button radius tiny success"

.small-12.columns
  %h2= "#{term_for :assignment} Types"

  %table.responsive.simpleTable
    %thead
      %tr
        %th.sortable{"data-sort" => "string"} Name
        %th.sortable{"data-sort" => "string"} Predictor Display
        %th.sortable{"data-sort" => "int"} Max value
        %th
      %tbody
        - current_course_data.assignment_types.each do |assignment_type|
          %tr
            %td= link_to assignment_type.name, assignment_type
            %td= assignment_type.points_predictor_display
            %td= points assignment_type.max_value
            %td
              .button-bar
                %ul.button-group.radius.round
                  %li= link_to 'See', assignment_type_path(assignment_type), :class => 'button tiny'
                  %li= link_to 'Edit', edit_assignment_type_path(assignment_type), :class => 'button tiny'
                  %li= link_to 'Delete', assignment_type, :class => 'button tiny', :data => { confirm: 'Are you sure?' }, :method => :delete

