= content_nav_for @assignment_type do
  %li= link_to "See All #{term_for :assignment} Types", assignment_types_path, :class => "btn btn-tiny btn-info"
  %li= link_to "Edit #{@assignment_type.name}", edit_assignment_type_path(@assignment_type), :class => "btn btn-tiny btn-info"
  %li= link_to "Create New #{term_for :assignment} Type", new_assignment_type_path, :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title

.well
  %h4 The Basics
  %p.clear
    %b Point setting:
    = @assignment_type.point_setting
  %p
    %b= "Each #{current_course.assignment_term} is worth:"
    = points @assignment_type.universal_point_value
  %p
    %b Are there due dates?
    = @assignment_type.due_date_present? ? "Yes" : "No"
  %p
    %b Resubmission:
    = @assignment_type.resubmission? ? "Yes" : "No"
  %p
    %b Max value:
    = points @assignment_type.max_value
  %p
    %b Students set course weight?
    = @assignment_type.student_weightable? ? "Yes" : "No"

.well
  %h4 Predictor Settings
  %p.clear
    %b Order:
    = @assignment_type.order_placement
  %p
    %b Points predictor display:
    = @assignment_type.points_predictor_display
  %p
    %b Predictor description:
    = raw @assignment_type.predictor_description

.well
  %h4 Grading
  %p.clear
    %b Is this assignment quick gradeable?
    = @assignment_type.mass_grade? ? "Yes" : "No"
  %p
    %b In what form?
    = @assignment_type.mass_grade_type
  %p
    %b Are there levels to the grading? (This includes normal A - F grading schemes.)
    = @assignment_type.levels? ? "Yes" : "No"

  .well
    %h5 Score Levels
    %ul.clear
    - @score_levels.order('value DESC').each do |sl|
      %li= "#{sl.name} - #{sl.value}"