= simple_form_for([@challenge, @challenge_grade], :html => {:class => 'form-horizontal' }) do |f|
  .form-inputs
    = f.association :challenge
    = f.input :score
    = f.text_area :feedback,  :class => :ckeditor, :input_html => { :ckeditor => {:toolbar => "Mini", :maxlength => 1000} }
    = f.input :status
    = f.association :team
    = f.input :final_score

  .form-actions
    = f.button :submit