= simple_form_for([@challenge, @challenge_grade]) do |f|
  = f.association :team, @teams
  = f.label :score
  = f.text_field :score
  %h6.small out of #{points @challenge.point_total} points
  = f.bootsy_area :feedback
  = f.label :status
  = f.select :status, Grade::STATUSES
  %h6.small Can the student see this grade?

  .form-actions
    = f.button :submit, :class => "button tiny radius"