.small-12.panel.mainContent
  / Challenge Grades Navigation
  = content_nav_for @challenge do
    %li= link_to "See All #{@challenge.name} Grades", challenge_path(@challenge), :class => "button tiny radius"
    %li= link_to 'See Grade', challenge_challenge_grade_path(@challenge, @challenge_grade), :class => "button tiny radius"

  .small-12.columns
    %h3= @title
    = render 'form'

  .clearfix