.small-12.panel.mainContent
  / Challenge Grades Navigation
  = content_nav do
    = render "teams/tabs"

  .pagetitle= @title

  .small-12.columns

    #massGrade
      = simple_form_for @challenge, method: :put, :url => mass_edit_challenge_path(@challenge) do |f|
        %table.responsive
          - @challenge_grades.each_with_index do |cg, i|
            %tr
              %td
                = link_to cg.team.name, team_path(cg.team)
              %td
                = f.simple_fields_for :challenge_grades, cg do |cgf|
                  = cgf.hidden_field :team_id
                  - if cg.persisted?
                    = cgf.text_field :score, data: {autonumeric: true, "m-dec" => "0"}
                  - else
                    = cgf.text_field :score, :value => nil, data: {autonumeric: true, "m-dec" => "0"}
              %td= " / #{points  @challenge.point_total} points"
        .right
          = f.button :submit, "Submit", :class => "button tiny radius"
          = link_to 'Cancel', challenges_path, :class => 'button tiny radius transparent'

  .clearfix