.small-12.panel.mainContent
  / New Challenge Grade Navigation
  .show-for-medium-up
    = content_nav_for @challenge, "New Grade" do
      = render "teams/tabs"

  .hide-for-medium-up{:style => "padding: 10px"}
    = mobile_nav_for @challenge, "New Grade" 

  .small-12.columns
  
    .hide-for-medium-up
      %a.radius.button.tiny.small-12.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Options
      %ul#drop.f-dropdown
        = render "teams/tabs"

    %h3= @title
    = render 'form'

  .clearfix