= content_nav_for @challenge, "New Grade" do
  %li= link_to "See All #{@challenge.name} Grades", challenge_path(@challenge), :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title
  = render 'form'