= content_nav_for ChallengeGrade do
  %li= link_to "See All #{@challenge.name} Grades", challenge_path(@challenge), :class => "button tiny radius success"
  %li= link_to 'Edit Grade', edit_challenge_challenge_grade_path(@challenge, @challenge_grade), :class => "button tiny radius success"

.small-12.columns
  %h3= @title
  %p
    %b #{term_for :challenge}:
    = link_to @challenge.name, @challenge
  %p
    %b Score:
    = points @challenge_grade.score
  %p
    %b Feedback:
    = @challenge_grade.feedback
  %p
    %b Status:
    = @challenge_grade.status
  %p
    %b #{term_for :team}:
    = link_to @challenge_grade.team.name, @challenge_grade.team
  %p
    %b Final score:
    = @challenge_grade.final_score

