.small-12.panel.mainContent
  / Challenge Grade Navigation
  .show-for-large-up
    = content_nav_for ChallengeGrade do
      = render "teams/tabs"

  .hide-for-large-up{:style => "padding: 10px"}
    = mobile_nav_for ChallengeGrade

  .small-12.columns
    
    .hide-for-large-up
      %a.radius.button.tiny.small-12.medium-4.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Select
      %ul#drop.f-dropdown
        = render "teams/tabs"

    %h3= @title
    %p
      %b #{term_for :challenge}:
      = link_to @challenge.name, @challenge
    %p
      %b Score:
      = points @challenge_grade.score
    %p
      %b Feedback:
      = @challenge_grade.feedback
    %p
      %b Status:
      = @challenge_grade.status
    %p
      %b #{term_for :team}:
      = link_to @challenge_grade.team.name, @challenge_grade.team
    %p
      %b Final score:
      = @challenge_grade.final_score


  .clearfix