.small-12.panel.mainContent
  / Challenge Grade Navigation
  = content_nav do
    = render "teams/tabs"

  .pagetitle= @title

  .small-12.columns
    %p
      %b #{term_for :team}:
      = link_to @challenge_grade.team.name, @challenge_grade.team
    %p
      %b Score:
      = points @challenge_grade.score
    %p
      %b Status:
      = @challenge_grade.status
    %p
      %b Feedback:
      %p= raw @challenge_grade.text_feedback

  .clearfix