.small-12.columns.panel
  %span.large-3.columns
    = f.input :name, :label => "Score Name"
  %span.large-3.columns
    = f.label :value
    = f.text_field :value, data: {autonumeric: true, "m-dec" => "0"}
  %span.large-6.columns
    = f.hidden_field :_destroy, class: 'destroy'
    = link_to 'Remove Level', '#', class: 'remove-assignment-score-level button tiny radius right'