= simple_form_for @assignment do
  %table.responsive.simpleTable
    %thead
      %tr
        - if @assignment.release_necessary?
          %th
        %th.sortable{"data-sort" => "string"}= current_course.group_term
        %th.sortable{"data-sort" => "string"} Score
        - if @assignment.assignment_type.student_weightable?
          %th.sortable{"data-sort" => "int"} Multiplied Scores
        - if @assignment.has_levels?
          %th.sortable{"data-sort" => "string"} Level
        %th Badges Earned
        - if @assignment.release_necessary?
          %th.sortable{"data-sort" => "string"} Status
        - if @assignment.accepts_submissions?
          %th.sortable{"data-sort" => "string"} Submission
        %th
    %tbody
      - @groups.each do |group|
        - grade = @assignment.grades.find_by group_id: group
        %tr
          - if @assignment.release_necessary?
            %td
              - if grade
                = check_box_tag "grade_ids[]", grade.id
          %td= link_to group.name, group
          %td
            - if grade
              = grade.score
          - if @assignment.assignment_type.student_weightable?
            %td= "Multiplied Score"
          - if @assignment.has_levels?
            %td
              - if grade
                = @assignment.grade_level(grade)
          %td
            - group.earned_badges.each do |badge|
              %img{:src => badge.try(:icon), :alt => badge.try(:name), :width => 40}
          - if @assignment.release_necessary?
            %td= grade.try(:status)
          - if @assignment.accepts_submissions?
            %td
              - group.submission_for_assignment(@assignment).tap do |submission|
                - if submission && grade
                  = link_to "See Submission", assignment_grade_path(@assignment.id, :group_id => group.id), :class => "button radius tiny"
                - elsif submission
                  = link_to "See Submission", assignment_grade_path(@assignment.id, :group_id => group.id), :class => "button radius tiny"
                - else
                  = link_to "Submit", new_assignment_submission_path(@assignment, @submission, :group_id => group.id), :class => "button radius tiny"
          %td
            - if grade
              = link_to "See Grade", assignment_grade_path(@assignment.id, grade.id, :group_id => group.id), :class => "button radius tiny"
            - else
              = link_to 'Grade', group_grade_assignment_path("assignment_id"=>@assignment.id, :group_id => group.id), :class => "button radius tiny"
  - if @assignment.release_necessary? && @assignment.grades.present?
    = submit_tag "Update Grade Statuses", :class => "button radius tiny"

  .clearfix
