- if current_course.has_teams? && @assignment.is_individual?
  .small-12.right.medium-4.columns
    = form_tag assignment_path(@assignment), :name => "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
      = hidden_field_tag :assignment_id, @assignment.id
      = select_tag :team_id, options_for_select(current_course.teams.alpha.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select #{current_course.team_term}"

= form_tag edit_status_grades_assignment_path @assignment do
  %table.responsive.simpleTable
    %thead
      %tr
        %th.sortable{"data-sort" => "string"} First Name
        %th.sortable{"data-sort" => "string"} Last Name
        - if ! @assignment.assignment_type.student_weightable?
          %th.sortable{"data-sort" => "int"} Score
        - elsif @assignment.assignment_type.student_weightable?
          %th.sortable{"data-sort" => "int"} Raw Score
          %th.sortable{"data-sort" => "int"} Multiplied Score
        - if @assignment.has_levels?
          %th{"data-sort" => "string"} Level
        - if @assignment.release_necessary?
          %th.sortable{"data-sort" => "string"} Status
        %th
        - if @assignment.release_necessary?
          %th
            .button-bar
              %ul.button-group.right.round
                %li
                  %button.select-all.tiny= "Check"
                %li
                  %button.select-none.tiny= "Uncheck"
    %tbody
      - if @team
        - students = current_course_data.students_for_team(@team)
      - else
        - students = current_course_data.students
      - students.each do |student|
        - grade = current_course_data.grade_for_student_and_assignment(student, @assignment)
        %tr
          %td= link_to student.first_name, student_path(student)
          %td= link_to student.last_name, student_path(student)
          %td{:data => { :"sort-value" => "#{grade.raw_score}"} }= points grade.raw_score if grade.status?
          - if @assignment.assignment_type.student_weightable?
            %td= points grade.score if grade.status?
          - if @assignment.has_levels?
            %td
              = @assignment.grade_level(grade) if grade.status?
          - if @assignment.release_necessary?
            - if grade.is_released?
              %td= "Released" 
            - elsif grade.is_graded?
              %td.need_to_be_released= "Graded" 
            - else
              %td
          %td
            - if @assignment.accepts_submissions?
              - student.submissions.where(:assignment_id => @assignment).each do |submission|
                - if submission && grade
                  .button-bar
                    - if submission.submission_files.present?
                      %i.fi-paperclip.right
                    %ul.button-group.round.right
                      %li= link_to "See Grade", assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny secondary'
                      %li= link_to "Edit Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny secondary'
                      
                - elsif submission
                  .button-bar
                    - if submission.submission_files.present?
                      %i.fi-paperclip.right
                    %ul.button-group.round.right
                      %li= link_to "Grade", edit_assignment_grade_path(@assignment.id, submission.id, :student_id => student.id), :class => 'button tiny primary round'
                  %i.fi-paperclip
              
              - if ! student.submissions.where(:assignment_id => @assignment).present?
                - if grade && grade.status_is_graded_or_released?
                  .button-bar
                    %ul.button-group.round.right
                      %li= link_to "See Grade", assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny secondary'
                      %li= link_to "Edit Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny secondary round'
                - else
                  .button-bar
                    %ul.button-group.round.right
                      %li= link_to "Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny primary round'
            - else
              - if grade && grade.status_is_graded_or_released?
                .button-bar
                  %ul.button-group.round.right
                    %li= link_to "See Grade", assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny secondary'
                    %li= link_to "Edit Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny secondary round'
              - else
                .button-bar
                  %ul.button-group.round.right
                    %li= link_to "Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny primary round'
          - if @assignment.release_necessary?
            %td.text-center
              - if grade.is_graded?
                = check_box_tag "grade_ids[]", grade.id

  - if @auditing.present?

    %hr

    %h3 Auditing #{term_for :students}

    %table.responsive.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "string"} First Name
          %th.sortable{"data-sort" => "string"} Last Name
          %th.sortable{"data-sort" => "int"} Raw Score
          - if @assignment.assignment_type.student_weightable?
            %th.sortable{"data-sort" => "int"} Multiplied Score
          - if @assignment.has_levels?
            %th{"data-sort" => "string"} Level
          - if @assignment.release_necessary?
            %th.sortable{"data-sort" => "string"} Status
          - if @assignment.accepts_submissions?
            %th.sortable{"data-sort" => "int"} Submission
          %th
          - if @assignment.release_necessary?
            %th
              .button-bar
                %ul.button-group.right.round
                  %li
                    %button.select-all.tiny= "Check"
                  %li
                    %button.select-none.tiny= "Uncheck"
      %tbody
        - if @team
          - students = current_course_data.auditing_students_for_team(@team)
        - else
          - students = current_course_data.auditing_students
        - students.each do |student|
          - grade = current_course_data.grade_for_student_and_assignment(student, @assignment)
          %tr
            %td= link_to student.first_name, student_path(student)
            %td= link_to student.last_name, student_path(student)
            %td{:data => { :"sort-value" => "#{grade.raw_score}"} }= points grade.raw_score if grade.status?
            - if @assignment.assignment_type.student_weightable?
              %td
                = points grade.score if grade.status?
            - if @assignment.has_levels?
              %td
                = @assignment.grade_level(grade) if grade.status?
            - if @assignment.release_necessary?
              %td
                - if grade.is_released?
                  = "Released"
                - elsif grade.is_graded?
                  = "Graded"
            %td
              - if @assignment.accepts_submissions?
                - student.submissions.where(:assignment_id => @assignment).each do |submission|
                  - if submission && grade
                    .button-bar
                      - if submission.submission_files.present?
                        %i.fi-paperclip.right
                      %ul.button-group.round.right
                        %li= link_to "See Grade", assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny secondary'
                        %li= link_to "Edit Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny secondary'
                        
                  - elsif submission
                    .button-bar
                      - if submission.submission_files.present?
                        %i.fi-paperclip.right
                      %ul.button-group.round.right
                        %li= link_to "Grade", edit_assignment_grade_path(@assignment.id, submission.id, :student_id => student.id), :class => 'button tiny primary round'
                    %i.fi-paperclip
                  - elsif grade && grade.status_is_graded_or_released?
                    .button-bar
                      %ul.button-group.round.right
                        %li= link_to "See Grade", assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny secondary'
                        %li= link_to "Edit Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny secondary round'
                  - elsif ! student.submissions.where(:assignment_id => @assignment).present?
                    .button-bar
                      %ul.button-group.round.right
                        %li= link_to "Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny primary round'
              - else
                - if grade && grade.status_is_graded_or_released?
                  .button-bar
                    %ul.button-group.round.right
                      %li= link_to "See Grade", assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny secondary'
                      %li= link_to "Edit Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny secondary round'
                - else
                  .button-bar
                    %ul.button-group.round.right
                      %li= link_to "Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button tiny primary round'
            - if @assignment.release_necessary?
              %td.text-center
                - if grade.is_graded?
                  = check_box_tag "grade_ids[]", grade.id

  - if @assignment.release_necessary? && @assignment.grades.present?
    .right
      = submit_tag "Update Selected Grade Statuses", :class => "button tiny radius"
