.small-12.panel.mainContent
  / Assignment Navigation
  = content_nav_for @assignment do
    %li= link_to "Create a New #{term_for :assignment}", new_assignment_path, :class => "button tiny radius"
    %li= link_to "Edit #{@assignment.name}", edit_assignment_path(@assignment), :class => "button tiny radius"

  .small-4.medium-5.columns
    %h2= @title

  - if @assignment.description?
    %p
      %b Description:
      = raw @assignment.description

  - if @assignment.point_total?
    %p
      %b Point Total:
      = points @assignment.point_total

  - if @assignment.open_at?
    %p
      %b Open date:
      = @assignment.open_at

  - if @assignment.due_at?
    %p
      %b No longer accepted after:
      = @assignment.due_at

  - if @assignment.accepts_submissions_until?
    %p
      %b Accept submissions until:
      = @assignment.accepts_submissions_until
  - if @assignment.assignment_files.present?
    %p
      %b Documents:
      - @assignment.assignment_files.each do |af|
        = link_to af.filename, af.url
        = link_to " (Remove)", remove_uploads_path({ :model => "AssignmentFile", :upload_id => af.id, :redirect => { :controller => "assignments", :id => @assignment.id} } )

  - if current_course.has_teams? && @assignment.is_individual?
    .small-12.right.medium-5.columns
      = form_tag assignment_path(@assignment), :method => :get do
        = hidden_field_tag :assignment_id, @assignment.id
        = select_tag :team_id, options_for_select(current_course.teams.alpha.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select a #{current_course.team_term}", :class => "small-8 medium-8"
        = submit_tag 'Filter', :class => 'button tiny radius medium-3'

  .small-12.columns
    - if @assignment.has_groups?
      = render 'group_show'
    - else
      = render 'individual_show'

  .clearfix
