= content_nav_for @assignment do
  %li= link_to "See All #{term_for :assignments}", assignments_path, :class => "btn btn-tiny btn-info"
  %li= link_to "Create a New #{term_for :assignment}", new_assignment_path, :class => "btn btn-tiny btn-info"
  %li= link_to "Edit #{@assignment.name}", edit_assignment_path(@assignment), :class => "btn btn-tiny btn-info"
  - if @assignment.assignment_type.mass_grade?
    %li= link_to 'Quick Grade', mass_grade_assignment_path(@assignment), :class => "btn btn-tiny btn-info"
    %li= link_to 'Speed Grade', speed_grade_assignment_path(@assignment), :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title

  - if @assignment.description?
    %p
      %b Description:
      = raw @assignment.description

  - if @assignment.point_total?
    %p
      %b Point Total:
      = points @assignment.point_total

  - if @assignment.open_at?
    %p
      %b Open date:
      = @assignment.open_at

  - if @assignment.due_at?
    %p
      %b Close date:
      = @assignment.due_at

  - if @assignment.accepts_submissions_until?
    %p
      %b Accept submissions until:
      = @assignment.accepts_submissions_until
  - if @assignment.assignment_files.present?
    %p
      %b Documents:
      - @assignment.assignment_files.each do |af|
        = link_to af.filename.identifier, af.filename.url

  - if current_course.has_teams?
    = form_tag assignment_path(@assignment), :method => :get do
      = hidden_field_tag :assignment_id, @assignment.id
      = select_tag :team_id, options_for_select(current_course.teams.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select a #{current_course.team_term}", :class => "input-sm"
      = submit_tag 'Filter', :class => 'btn btn-success btn-small'

  .col-lg-offset-10.col-lg-1
    - if @assignment.assignment_type.mass_grade?
      = link_to 'Quick Grade', mass_grade_assignment_path(@assignment), :class => "btn btn-warning"

.col-lg-12.clear
  %h4 Tasks: (#{link_to 'Add task', new_assignment_task_path(@assignment)})

- if @assignment.tasks.present?
  %table.table.display.table-striped.simpleTable
    %thead
      %tr
        %th.sortable{"data-sort" => "string"} Name
        %th.sortable{"data-sort" => "string"} Description
        %th
        %th
        %th
    %tbody
      - @assignment.tasks.each do |task|
        %tr
          %td= task.name
          %td= task.description
          %td= link_to "View", assignment_task_path(@assignment.id, task.id), :class => 'btn btn-tiny btn-success'
          %td= link_to "Edit", edit_assignment_task_path(@assignment.id, task.id), :class => 'btn btn-tiny btn-info'
          %td= link_to "Delete", assignment_task_path(@assignment.id, task.id), :data => { confirm: 'Are you sure?' }, :class => 'btn btn-tiny btn-warning', :method => :delete

.col-lg-12
  %h4.clear  Grades

- if @assignment.has_groups?
  = render 'group'
- else
  = render 'individual'
