.small-12.panel.mainContent
  / Assignment Navigation
  = content_nav_for @assignment do
    - if current_course.use_timeline?
      %li= link_to "Timeline", dashboard_path, :class => "button tiny radius"
    %li= link_to "Syllabus", syllabus_path, :class => "button tiny radius"
    - if current_course.grading_philosophy.present?
      %li= link_to "Grade Philosophy", grading_philosophy_path, :class => "button tiny radius"
    - if current_course.predictor_on?
      %li= link_to "Grade Predictor", predictor_path, :class => "button tiny radius"
    - if current_course.has_badges?
      %li= link_to "#{term_for :badges}", my_badges_path, :class => "button tiny radius"
    - if current_course.has_teams? && current_course.teams_visible?
      %li= link_to "#{term_for :teams}", my_team_path, :class => "button tiny radius"


  .small-12.columns
    %h2= "#{@title} (#{ points @assignment.point_total } points)"

    - if @assignment.open_at?
      .small-12.large-4.columns.panel
        .bold Open date:
        = @assignment.open_at

    - if @assignment.due_at?
      .small-12.large-4.columns.panel
        .bold Due date:
        = @assignment.due_at
        - if @assignment.past? && @assignment.accepts_submissions && (! current_student.submission_for_assignment(@assignment))
          .label.alert.round= "Late!"

    .clearfix
    - if @assignment.description?
      %p= raw @assignment.description


    - if @assignment.assignment_files.present?
      %p
        %b Documents:
        - @assignment.assignment_files.each do |af|
          = link_to af.filename, af.url
          = link_to "(Remove)", assignment_assignment_file_file_remove_path({ :assignment_id => @assignment.id, :assignment_file_id => af.id, :redirect => { :controller => "assignments", :id => @assignment.id } } )


    - if @assignment.tasks.present?

      %h3.clear Tasks

      %table.responsive.simpleTable
        %thead
          %tr
            %th.sortable{"data-sort" => "string"} Name
            %th.sortable{"data-sort" => "string"} Description
        %tbody
          - @assignment.tasks.each do |task|
            %tr
              %th.sortable{"data-sort" => "string"} Name
              %th.sortable{"data-sort" => "string"} Description
          %tbody
            - @assignment.tasks.each do |task|
              %tr
                %td= task.name
                %td= task.description

      - if @assignment.accepts_submissions? && @assignment.still_accepted? && (! current_student.submission_for_assignment(@assignment))
        - if @assignment.is_individual? || (@assignment.has_groups? && current_student.group_for_assignment(@assignment))
          %h3 Submit #{@assignment.name}
          = render "/submissions/form"
        - elsif @assignment.has_groups?
          = link_to "Create a Group", new_group_path, :class => "button tiny radius"

  .clearfix
