.small-12.panel.mainContent
  / Assignment Navigation
  = content_nav_for @assignment do
    %li= link_to "My Dashboard", dashboard_path, :class => "button tiny radius"
    %li= link_to 'Edit Submission', edit_assignment_submission_path(@assignment, @submission, :student_id => @submission.student_id), :class => "button tiny radius"

  .small-12
    %h2= @title

    - if @assignment.description?
      %p
        %b Description:
        = raw @assignment.description

    - if @assignment.point_total?
      %p
        %b Point Total:
        = points @assignment.point_total

    - if @assignment.open_at?
      %p
        %b Open date:
        = @assignment.open_at

    - if @assignment.due_at?
      %p
        %b Due at:
        = @assignment.due_at

    - if @assignment.accepts_submissions_until?
      %p
        %b No longer accepted after:
        = @assignment.accepts_submissions_until
      - if @assignment.assignment_files.present?
        %p
          %b Documents:
          - @assignment.assignment_files.each do |af|
            = link_to af.filename, af.url
            = link_to "(Remove)", assignment_assignment_file_file_remove_path({ :assignment_id => @assignment.id, :assignment_file_id => af.id, :redirect => { :controller => "assignments", :id => @assignment.id } } )


    - if @assignment.tasks.present?

      %h4.clear Tasks

      %table.responsive.simpleTable
        %thead
          %tr
            %th.sortable{"data-sort" => "string"} Name
            %th.sortable{"data-sort" => "string"} Description
        %tbody
          - @assignment.tasks.each do |task|
            %tr
              %td= task.name
              %td= task.description

    - if @assignment.accepts_submissions? && @assignment.still_accepted?
      - if @assignment.is_individual? || (@assignment.has_groups? && current_student.group_for_assignment(@assignment))
        %h3 Submit #{@assignment.name}
        = render "/submissions/form"
      - elsif @assignment.has_groups?
        = link_to "Create a Group", new_group_path, :class => "button tiny radius"

  .clearfix
