.small-12.panel.mainContent
  / Assignment Navigation
  = content_nav do
    = render "tabs"

  .pagetitle= "#{@title} (#{ points @assignment.point_total } points)"
  
  .small-12.columns

    - if @assignment.open_at?
      .small-12.large-4.columns.panel
        .bold Open date:
        = @assignment.open_at

    - if @assignment.due_at?
      .small-12.large-4.columns.panel
        .bold Due date:
        = @assignment.due_at

    - if @assignment.accepts_submissions_until?
      .small-12.large-4.columns.panel
        .bold Accept submissions until:
        = @assignment.accepts_submissions_until

    .clearfix

    - if @assignment.description?
      %p= raw @assignment.description


    - if @assignment.assignment_files.present?
      %p
        %b Attachments:
        %ul
          - @assignment.assignment_files.each do |af|
            %li
              = link_to af.filename, af.url
              = link_to " (Remove)", remove_uploads_path({ :model => "AssignmentFile", :upload_id => af.id, :redirect => { :controller => "assignments", :id => @assignment.id} } )

  - if current_course.has_teams? && @assignment.is_individual?
    .small-12.right.medium-5.columns
      = form_tag assignment_path(@assignment), :name => "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
        = hidden_field_tag :assignment_id, @assignment.id
        = select_tag :team_id, options_for_select(current_course.teams.alpha.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select #{current_course.team_term}"

  .small-12.columns
    - if @assignment.has_groups?
      = render 'group_show'
    - else
      = render 'detailed_individual_show'

  .clearfix
