.small-12.panel.mainContent
  / Assignment Navigation
  .show-for-large-up
    = content_nav_for Assignment, "Edit #{current_course.assignment_term} '#{breadcrumb_link_for @assignment}'".html_safe do
      = render "tabs"

  .hide-for-large-up{:style => "padding: 10px"}
    = mobile_nav_for Assignment, "Edit #{current_course.assignment_term} '#{breadcrumb_link_for @assignment}'".html_safe
  
  .small-12.columns
    .hide-for-large-up
      %a.radius.button.tiny.small-12.medium-4.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Select
      %ul#drop.f-dropdown
        = render "tabs"

    %h2= @title
    = render 'form'

  .clearfix