- if current_user.is_staff?
  .small-12.panel.mainContent
    / Assignment navigation
    .show-for-medium-up
      = content_nav_for Assignment do
        = render "tabs"

    .hide-for-medium-up{:style => "padding: 10px"}
      = mobile_nav_for Assignment

    .small-12.columns
      .hide-for-medium-up
        %a.radius.button.tiny.small-12.dropdown{:href => "#", :data => { :dropdown => "drop" } }
          Options
        %ul#drop.f-dropdown
          = render "tabs"
      
      .assignments
        - current_course_data.by_assignment_type.each do |assignment_type, assignments|
          .assignment_type{:id => "assignment-type-#{assignment_type.id}" }
            %h3.collapse= "#{assignment_type.name} – #{points assignment_type.max_value} points"
            %div
              .small-3.right
                .button-bar.right
                  %ul.button-group.round
                    %li= link_to "See Overview", all_grades_assignment_type_path(assignment_type), :class => "button tiny aindex"
                    %li= link_to "Edit", edit_assignment_type_path(assignment_type), :class => "button tiny aindex"
              %table.responsive.simpleTable
                %thead
                  %tr
                    %th.sortable{"data-sort" => "string"} Name
                    %th.sortable{"data-sort" => "date"} Due
                    %th.sortable{"data-sort" => "int"} Points
                    %th.button-column
                %tbody
                  - assignments.each do |assignment|
                    %tr
                      %td= link_to assignment.name, assignment
                      %td= assignment.try(:due_at) || "Ongoing"
                      %td= points assignment.point_total
                      %td
                        .button-bar
                          %ul.button-group.round.right
                            %li
                              %a{:href => mass_grade_assignment_path(assignment), :class => 'button tiny secondary' }
                                Quick Grade
                            %li
                              %a{:href => edit_assignment_path(assignment), :class => 'button tiny secondary' }
                                Edit
                            %li
                              %a{:href => assignment_path(assignment), :data => { confirm: 'Are you sure?', method: :delete }, :class => "button tiny secondary" }
                                Delete
    .clearfix
