= content_nav_for Assignment do
  %li= link_to "Create a New #{current_course.assignment_term}", new_assignment_path, :class => "btn btn-tiny btn-info"

- @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
  %h3= link_to assignment_type.name, assignment_type
  %table.table.simpleTable.table-striped
    %thead
      %tr
        %th{"data-sort" => "string"} Name
        %th{"data-sort" => "date"} Open Date
        %th{"data-sort" => "date"} Due Date
        %th{"data-sort" => "int"} Total Points
        %th{"data-sort" => "string"} Average
        %th{"data-sort" => "int"} Range
        %th(colspan="1")
        %th
    %tbody
      - assignments.each do |assignment|
        %tr
          %td= link_to assignment.name, assignment
          %td= assignment.try(:open_at)
          %td= assignment.try(:due_at)
          %td= number_with_delimiter(assignment.point_total, :delimiter => ',')
          %td= number_with_delimiter(assignment.average, :delimiter => ',')
          %td= "#{number_with_delimiter(assignment.low_score, :delimiter => ',')} - #{number_with_delimiter(assignment.high_score, :delimiter => ',')}"
          %td
            - if assignment_type.mass_grade?
              = link_to 'Log Grades',  mass_grade_assignment_path(assignment), :class => 'btn btn-tiny btn-success'
            - elsif assignment.accepts_submissions? && assignment.submissions.present?
              = link_to "Grade #{ assignment.submissions.count } Submissions", assignment_submissions_path(assignment), :class => "btn btn-tiny btn-success"
            - else
              = link_to "Grade", :class => "btn btn-tiny btn-success"
          %td= link_to "Edit", edit_assignment_path(assignment), :class => 'btn btn-tiny btn-info'

