= content_nav_for Assignment do
  - if current_user.is_staff?
    %li= link_to "Create a New #{term_for :assignment}", new_assignment_path, :class => "btn btn-tiny btn-info"
  - else
    %li= link_to "My Dashboard", dashboard_path, :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title

- @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
  .col-lg-12
    %h3= link_to assignment_type.name, assignment_type
  %table.table.simpleTable.table-striped
    %thead
      %tr
        %th.sortable{"data-sort" => "string"} Name
        %th.sortable{"data-sort" => "date"} Open Date
        %th.sortable{"data-sort" => "date"} Due Date
        %th.sortable{"data-sort" => "date"} Accepted Until
        %th.sortable{"data-sort" => "int"} Total Points
        - if current_user.is_staff?
          - if assignment_type.name == "Attendance"
            %th.sortable{"data-sort" => "int"} Attendance Rate
          %th.sortable{"data-sort" => "int"} Average
          %th.sortable{"data-sort" => "int"} Range
          %th(colspan="3")
        - else
          %th
    %tbody
      - assignments.each do |assignment|
        %tr
          %td= link_to assignment.name, assignment
          %td= assignment.try(:open_at)
          %td= assignment.try(:due_at) || "Ongoing"
          %td
            - if assignment.accepts_submissions?
              = assignment.try(:accepts_submissions_until)
          %td= points assignment.point_total
          - if current_user.is_staff? && assignment_type.name == "Attendance"
            %td= "#{assignment.attendance_rate(current_course)} %"
          - if current_user.is_staff?
            %td= number_with_delimiter(assignment.average, :delimiter => ',')
            %td= "#{number_with_delimiter(assignment.low_score, :delimiter => ',')} - #{number_with_delimiter(assignment.high_score, :delimiter => ',')}"
            %td
              - if assignment_type.mass_grade?
                = link_to 'Quick Grade',  mass_grade_assignment_path(assignment), :class => 'btn btn-tiny btn-success'
              - elsif assignment.accepts_submissions? && assignment.submissions.present?
                = link_to "Grade #{ assignment.submissions.count } Submissions", assignment_submissions_path(assignment), :class => "btn btn-tiny btn-success"
              - else
                = link_to "Grade", assignment_path(assignment), :class => "btn btn-tiny btn-success"
            %td= link_to "Edit", edit_assignment_path(assignment), :class => 'btn btn-tiny btn-info'
            %td= link_to "Delete", assignment_path(assignment), :class => 'btn btn-tiny btn-warning', :data => { confirm: 'Are you sure?' }, :method => :delete
          - else
            - if assignment.accepts_submissions?
              - current_student.submission_for_assignment(assignment).tap do |submission|
                - if submission
                  %td= link_to "See Submission", assignment_submission_path(assignment.id, submission, :student_id => current_student.id), :class => 'btn btn-tiny btn-success'
                - else
                  %td= link_to "Submit", new_assignment_submission_path(assignment, @submission, :user_id => current_student.id, :student_type => "User"), :class => 'btn btn-tiny btn-success'
            - else
              %td
