- if current_user.is_staff?
  .small-12.panel.mainContent
    / Assignment navigation
    = content_nav do
      = render "tabs"

    .pagetitle= @title

    .small-12.columns
      
      .assignments
        - current_course_data.by_assignment_type.each do |assignment_type, assignments|
          .assignment_type{:id => "assignment-type-#{assignment_type.id}" }
            %h3.collapse= "#{assignment_type.name} – #{points assignment_type.max_value} points"
            %div
              .small-3.right
                .button-bar
                  %ul.button-group.round.right
                    %li= link_to "See Overview", all_grades_assignment_type_path(assignment_type), :class => "button tiny aindex"
                    %li= link_to "Edit", edit_assignment_type_path(assignment_type), :class => "button tiny aindex"
              %table.responsive
                %thead
                  %tr
                    %th.sortable{"data-sort" => "string"} Name
                    - if assignment_type.name == "Class Attendance"
                      %th Attendance Rate
                    %th.sortable{"data-sort" => "date"} Due
                    %th.sortable{"data-sort" => "int"} Points
                    %th.button-column
                %tbody
                  - assignments.each do |assignment|
                    %tr
                      %td= link_to assignment.name, assignment
                      // If an attendance assignment has past, display visual of attendance percentage. Otherwise display empty space.
                      - if assignment.assignment_type.name == "Class Attendance"
                        %td
                          - if assignment.past?
                            // Display 10 icons to show attendance percentage by percents of 10.
                            - for num in 1..10
                              - if num <= ((assignment.attendance_rate_int(current_course) / 10).round)
                                %i.fi-male.present
                              - else
                                %i.fi-male.absent
                      %td= assignment.try(:due_at) || "Ongoing"
                      %td= points assignment.point_total
                      %td
                        .button-bar
                          %ul.button-group.round.right
                            %li
                              %a{:href => mass_grade_assignment_path(assignment), :class => 'button tiny alert' }
                                Quick Grade
                            %li
                              %a{:href => edit_assignment_path(assignment), :class => 'button tiny alert' }
                                Edit
                            %li
                              %a{:href => assignment_path(assignment), :data => { confirm: 'Are you sure?', method: :delete }, :class => "button tiny alert" }
                                Delete
    .clearfix
