= content_nav_for Assignment, "New #{term_for :assignment}" do
  %li= link_to "See All #{term_for :assignments}", assignments_path, :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title
  = render 'form'

