= content_nav_for Assignment, "New #{current_course.assignment_term}" do
  %li= link_to "See All #{current_course.assignment_term}s", assignments_path, :class => "btn btn-tiny btn-info"

= render 'form'

