.small-12.panel.mainContent
  / Assignments Navigation
  = content_nav_for Assignment do
    = render "tabs"

  .small-12.columns
    .pull-right
      = link_to "Assignments Info", settings_assignments_path, :class => "badge"
  - current_course_data.by_assignment_type.each do |assignment_type, assignments|
    .small-12.columns
      %h2= "#{assignment_type.try(:name)}"
    %table.responsive.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "string"} Name
          %th.sortable{"data-sort" => "string"} Description
          %th.sortable{"data-sort" => "string"} Open Date
          %th.sortable{"data-sort" => "string"} Due Date
          %th.sortable{"data-sort" => "string"} Button Preview
          %th.sortable{"data-sort" => "string"} Total Points
          %th.sortable{"data-sort" => "string"} Visible
          %th.sortable{"data-sort" => "string"} Required
          %th.sortable{"data-sort" => "string"} Grade Scope
          %th.sortable{"data-sort" => "string"} Submissions?
          %th.sortable{"data-sort" => "string"} Release Necessary?
          %th
          %th
          %th
      %tbody
        - assignments.each do |assignment|
          %tr
            %td= link_to assignment.name, assignment
            %td= raw assignment.description
            %td= assignment.try(:open_at)
            %td= assignment.try(:due_at)
            %td
              - if assignment.student_logged?
                %button.button.tiny.radius #{assignment.assignment_type.student_logged_button_text}
            %td= points assignment.point_total
            %td= assignment.visible? ? 'Yes' : 'No'
            %td= assignment.required? ? 'Yes' : 'No'
            %td= assignment.grade_scope
            %td= assignment.accepts_submissions? ? 'Yes' : 'No'
            %td= assignment.release_necessary? ? 'Yes' : 'No'
            %td= link_to 'Edit', edit_assignment_path(assignment), :class => 'button tiny radius'
            %td
              %a{:href => assignment_path(assignment), :data => { confirm: 'Are you sure?', method: :delete }, :class => "button tiny secondary" }
                %i.fi-trash
            %td
              - if assignment.has_groups?
                = link_to 'Create Group', new_group_path("assignment_id"=>assignment.id)
              - else
                = #{assignment.grade_scope}

  .clearfix