.small-12.panel.mainContent
  / Assignment Navigation
  = content_nav do
    - if current_user.is_staff?
      = render "tabs", :assignment => @assignment
    - else
      = render "students/student_profile_tabs"

  .pagetitle= "#{@title} (#{ points @assignment.point_total } points)"

  - if current_user.is_staff?
    - if @assignment.has_groups?
      = render "group_show"
    - else
      = render "individual_show"
  - else
    .small-12.columns
      - if @assignment.has_groups?
        = render "grades/group_show"
      - else
        = render "grades/individual_show"

      