= content_nav_for @assignment do
  %li= link_to 'Edit', edit_assignment_path(@assignment)
  %li= link_to 'Back', assignments_path

%p
  %b Description:
  = raw @assignment.description
%p
  %b Point Total:
  = number_with_delimiter(@assignment.point_total, :delimiter => ',')
%p
  %b Open date:
  = @assignment.open_at
%p
  %b Close date:
  = @assignment.due_at

= form_tag assignment_path(@assignment), :method => :get do
  = hidden_field_tag :assignment_id, @assignment.id
  = select_tag :team_id, options_for_select(current_course.teams.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select a #{current_course.team_term}"
  = submit_tag 'Filter', :class => 'btn btn-success btn-small'

- if current_user.is_staff?
  %h4 Grades
  - if @assignment.assignment_type.mass_grade?
    .pull-right
      = link_to 'Log Grades', mass_edit_assignment_grades_path(:assignment_id => @assignment.id), :class => "btn btn-tiny btn-success btn-primary"

- if @assignment.has_groups?
  = render 'group'
- else
  = render 'individual'