= simple_form_for([@user, @assignment_weight]) do |f|
  %b= "You are setting the Kapital value for #{@assignment_type.name}"
  = f.input :assignment_type_id, :input_html => { :value => @assignment_type.id }, :as => :hidden
  = f.text_field :value, @amounts
  %h6.small You may set #{current_course.max_student_weight} #{current_course.multiplier_term}s

  .form-actions
    = f.button :submit, "Update #{current_course.multiplier_term}", :class => "button radius tiny"
    = link_to 'Cancel', user_assignment_weights_path(@user), :class => "button radius tiny"