= content_nav_for @student, AssignmentWeight do
  %li= link_to "Back to My Dashboard", dashboard_path, :class => "button radius tiny.success"

.small-12.columns
  - if current_user.is_staff?
    %h2= "#{@student.name}'s #{current_course.weight_term} Choices"
  - else
    %h2= "My #{current_course.weight_term} Choices"

  %table.responsive.simpleTable
    %tr
      %th.sortable{"data-sort" => "string"} Assignment Type
      %th.sortable{"data-sort" => "int"} Value
      %th
      - @assignment_types.each do |at|
        - if at.student_weightable?
          - @user.weights_for_assignment_type_id(at).tap do |weight|
            %tr
              %td= at.try(:name)
              %td= "#{(weight.try(:value)) || ("No ") } #{current_course.multiplier_term}"
              - if weight
                %td= link_to 'Edit', edit_user_user_assignment_type_weight_path(@user, weight, :assignment_type_id => at.id), :class => 'button radius tiny'
              - else
                %td= link_to 'Set', new_user_user_assignment_type_weight_path(@user, :assignment_type_id => at.id)
