= link_to 'Edit', edit_user_assignment_weight_path(@user, @assignment_weight), :class => "btn btn-info btn-small"
= link_to 'Back', user_assignment_weights_path(@user), :class => "btn btn-info btn-small"
  
%p
  %b User:
  = @assignment_weight.user.try(:name)
%p
  %b Assignment:
  = @assignment_weight.assignment_type.try(:name)
%p
  %b Multiplier Amount:
  = @assignment_weight.value