= content_nav_for @assignment_weight do
  %li= link_to 'Edit', edit_user_assignment_weight_path(@user, @assignment_weight)
  %li= link_to 'Back', user_assignment_weights_path(@user)
  
%p
  %b User:
  = @assignment_weight.user.try(:name)
%p
  %b Assignment:
  = @assignment_weight.assignment_type.try(:name)
%p
  %b Multiplier Amount:
  = @assignment_weight.value
