%table.responsive.simpleTable
  %thead
    %tr
      %th
      %th.sortable{"data-sort" => "string"}= course.user_term
      %th.sortable{"data-sort" => "int"} Score
      %th Chart
      - if course.has_teams?
        %th.sortable{"data-sort" => "string"}= course.team_term
      - if course.has_badges?
        %th.sortable{"data-sort" => "int"} Badges
      - if course.has_teams?
        %th.sortable{"data-sort" => "string"}= course.team_leader_term
      %th Last Login
  %tbody
    - students.each do |student|
      %tr
        %td
          %a{:href => "mailto:#{student.email}" }
            %i.fi-mail
        %td= link_to student.name, student_path(student)
        %td= points student.score_for_course(course)
        %td{:data => { :id => student.id.to_s, :max => current_course.total_points }, :class => "bar-chart" }
        - if course.has_teams?
          %td
            - if student.team_for_course(current_course).present?
              = link_to student.team_for_course(current_course).name, student.team_for_course(current_course)
        - if course.has_badges?
          %td= student.earned_badges.count

        - if course.has_teams?
          %td
            - if student.team_for_course(course) && student.team_for_course(course).team_leader.present?
              = student.team_for_course(course).team_leader.first_name
        %td= student.try(:last_activity_at) || "(never)"
