%table.responsive
  %thead
    %tr
      %th= course.team_term
      - if ! current_course.team_score_average
        %th Score
      %th.sortable{"data-sort" => "int"} Average #{course.user_term} Grade
      %th.sortable{"data-sort" => "string"}= course.team_leader_term
  %tbody
    - teams.order_by_high_score.each do |team|
      %tr
        %td= link_to team.name, team_path(team)
        - if ! current_course.team_score_average
          %td= points team.try(:score)

        %td= points team.try(:average_grade)
        %td
          - if team.team_leader.present?
            = link_to team.team_leader.try(:name), team.team_leader
