.small-12.panel.mainContent
  / Analytics Navigation
  = content_nav do
    = render "tabs"

  .small-12.columns

    .navbar.navbar-inverse.section-heading
      %h3 Interactions
    .analytics-row
      .small-12
        / Event counts
        = analytics_chart_inputs('all-events-chart', 'past_week')
        #all-events-chart.analytics-chart{:data => {:chart => 'timeseries', :url => '/analytics/all_events.json', :title => 'Interactions', :subtitle => '{{granularity}}', :y_axis_label => 'Number of events'}}
        -##events-chart{:data => {:chart => 'timeseries', :url => '/analytics/assignment_events.json', :title => 'Assignment Events', :subtitle => '{{granularity}}', :y_axis_label => 'Number of events'}}

    %hr

    .navbar.navbar-inverse.section-heading
      %h3 Pageviews
    .analytics-row
      .small-12.large-6.columns
        / Pageviews Total
        = analytics_chart_inputs('all-pageviews-chart', 'past_week')
        #all-pageviews-chart.analytics-chart{:data => {:chart => 'timeseries', :url => '/analytics/all_pageview_events.json', :title => 'Pageviews', :subtitle => '{{granularity}}'}}

      .small-12.medium-6.columns
        / Pageviews per page
        = analytics_chart_inputs('pageviews-chart', 'past_week')
        %table#pageviews-chart.analytics-table{:data => {:chart => 'timeseries-table', :url => '/analytics/pageview_events.json', :title => 'Pageviews per Page', :subtitle => '{{granularity}}'}}
          %thead
            %th{:'data-dynatable-column' => 'name'} Page
            %th{:'data-dynatable-column' => 'total'} Pageviews
          %tbody

    %hr

    %h3 Logins
    .small-12.medium-6.columns
      / Login counts
      .analytics-row
        = analytics_chart_inputs('logins-chart', 'past_week')
        #logins-chart.analytics-chart{:data => {:chart => 'timeseries', :url => '/analytics/login_events.json', :title => 'Logins', :subtitle => '{{granularity}}', :y_axis_label => 'Logins {{granularity}}'}}

    .small-12.medium-6.columns
      / Average User Login Frequencies
      .analytics-row
        = analytics_chart_inputs('logins-frequencies-chart', 'past_week')
        #logins-frequencies-chart.analytics-chart{:data => {:chart => 'timeseries', :url => '/analytics/login_frequencies.json', :title => 'Average User Login Frequencies', :subtitle => '{{granularity}}', :y_axis_label => 'User Login Rate (in logins {{granularity}})'}}

  .clearfix