.small-12.panel.mainContent
  / Assignment Charts Navigation
  = content_nav_for "Course Analytics", "#{term_for :assignment} Analytics" do
    = render "analytics/tabs"

  .columns
    - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
      %h3= link_to assignment_type.name, assignment_type
      %table.responsive
        %thead
          %tr
            %th Name
            %th Min
            %th Max
            %th Median
            %th 
              Ave
              %i.fi-info{:title => "The average of all grades, including those who earned zero", :data => {'tooltip' => true} }
            %th 
              Ave Earned
              %i.fi-info{:title => "The average of all scores above zero", :data => {'tooltip' => true} }
            %th{:width => 200} Distribution
        %tbody
          - assignments.each do |assignment|
            %tr
              %td= link_to assignment.name, assignment
              %td= points assignment.low_score
              %td= points assignment.high_score
              %td= points assignment.median
              %td= points assignment.average
              %td= points assignment.earned_average
              %td.right
                .grades_per_assign{ "data-scores" => assignment.grades.graded.pluck('score') }

  .clearfix