.small-12.panel.mainContent
  / Criteria Levels Navigation
  = content_nav do
    = render "tabs"

  .small-12.columns

    %h3 Interactions
    .small-12
      / Event counts
      = analytics_chart_inputs('role-events-chart', 'past_week')
      #role-events-chart.analytics-chart{:data => {:chart => 'timeseries', :url => '/analytics/role_events.json', :url_data => 'role_group=student', :title => 'Interactions', :subtitle => '{{granularity}}', :y_axis_label => 'Number of events'}}
      -##events-chart{:data => {:chart => 'timeseries', :url => '/analytics/assignment_events.json', :title => 'Assignment Events', :subtitle => '{{granularity}}', :y_axis_label => 'Number of events'}}

    %hr

    %h3 Pageviews
    .small-12.medium-6.columns
      / Pageviews Total
      = analytics_chart_inputs('all-pageviews-chart', 'past_week')
      #all-pageviews-chart.analytics-chart{:data => {:chart => 'timeseries', :url => '/analytics/all_role_pageview_events.json?role_group=student', :title => 'Pageviews', :subtitle => '{{granularity}}'}}

    .small-12.medium-6.columns
      / Pageviews per page
      = analytics_chart_inputs('pageviews-chart', 'past_week')
      %table#pageviews-chart.analytics-table{:data => {:chart => 'timeseries-table', :url => '/analytics/role_pageview_events.json?role_group=student', :title => 'Pageviews per Page', :subtitle => '{{granularity}}'}}
        %thead
          %th{:'data-dynatable-column' => 'name'} Page
          %th{:'data-dynatable-column' => 'total'} Pageviews
        %tbody

    %hr

    %h3 Logins
    .small-12.medium-6.columns
      / Login counts
      = analytics_chart_inputs('role-logins-chart', 'past_week')
      #role-logins-chart.analytics-chart{:data => {:chart => 'timeseries', :url => '/analytics/login_role_events.json', :url_data => 'role_group=student', :title => 'Logins', :subtitle => '{{granularity}}', :y_axis_label => 'Logins {{granularity}}'}}

    .small-12.medium-6.columns
      / Average User Login Frequencies
      = analytics_chart_inputs('role-logins-frequencies-chart', 'past_week')
      #role-logins-frequencies-chart.analytics-chart{:data => {:chart => 'timeseries', :url => '/analytics/role_login_frequencies.json', :url_data => 'role_group=student', :title => 'Average User Login Frequencies', :subtitle => '{{granularity}}', :y_axis_label => 'User Login Rate (in logins {{granularity}})'}}

    %hr

    %h3 Predictor
    .small-12.medium-6.columns
      / Average Predictor Scores Set (%)
      = analytics_chart_inputs('predictions-chart', 'past_week')
      #predictions-chart.analytics-chart{:data => {:chart => 'timeseries', :url => '/analytics/prediction_averages.json', :title => 'Average Predictor Scores', :subtitle => '{{granularity}}', :y_axis_label => '% of score possible', :y_axis_max => 100}}

    .small-12.medium-6.columns
      / Average Predictor Scores per Assignment (per week)
      = analytics_chart_inputs('assignment-predictions-chart', 'past_week')
      %table#assignment-predictions-chart.analytics-table{:data => {:chart => 'timeseries-table', :url => '/analytics/assignment_prediction_averages.json', :title => 'Average Predictor Scores per Assignment', :subtitle => '{{granularity}}', :y_axis_label => '% of score possible', :y_axis_max => 100}}
        %thead
          %th{:'data-dynatable-column' => 'name'} Assignment
          %th{:'data-dynatable-column' => 'average'} Average Predicted Score
        %tbody

    %hr
    #per-student-analytics.small-12

      %h2 Student Analytics
      .small-12.medium-4= select_tag :user, options_from_collection_for_select(current_course_data.students, "id", "name"), :id => 'per-student-select', :prompt => "Select Student"

    /
      %h3 Logins
      (per day, over time)

      %h3 Average Login Frequency
      (per week, over time)

    %h3 User Pageviews
    .small-12.medium-6.columns
      / Pageviews Total
      = analytics_chart_inputs('all-user-pageviews-chart', 'past_week')
      #all-user-pageviews-chart.analytics-chart{:data => {:delay_load => true, :chart => 'timeseries', :url => '/analytics/all_user_pageview_events.json', :url_data => 'role_group=student', :title => 'Pageviews', :subtitle => '{{granularity}}'}}

    .small-12.medium-6.columns
      / Pageviews per page
      = analytics_chart_inputs('user-pageviews-chart', 'past_week')
      %table#user-pageviews-chart.analytics-table{:data => {:delay_load => true, :chart => 'timeseries-table', :url => '/analytics/user_pageview_events.json?role_group=student', :title => 'Pageviews per Page', :subtitle => '{{granularity}}'}}
        %thead
          %th{:'data-dynatable-column' => 'name'} Page
          %th{:'data-dynatable-column' => 'total'} Pageviews
        %tbody

    /
      %h3 Events in the past 10 minutes

      %h3 Average Predictor Scores:
      (per week, over time)

  .clearfix