.small-12.panel.mainContent
  / Leaderboards
  .show-for-large-up
    = content_nav_for "Course Analytics", "Top 10/Bottom 10" do
      = render "tabs"

  .hide-for-large-up{:style => "padding: 10px"}
    = mobile_nav_for "Course Analytics", "Top 10/Bottom 10"

  .small-12.columns

    .hide-for-large-up
      %a.radius.button.tiny.small-12.medium-4.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Select
      %ul#drop.f-dropdown
        = render "tabs"
        
    %h4 Top 10
    = render 'students_table', :course => current_course, :students => @top_ten_students
    %hr
    %h4 Bottom 10
    = render 'students_table', :course => current_course, :students => @bottom_ten_students.reverse

  .clearfix