= simple_form_for([@assignment, @task], :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name
  = f.bootsy_area :description
  = f.input :due_at, :as => :string, :include_blank => true, :start_year => Date.today.year, :input_html => { :class => 'datetimepicker' }

  .form-actions
    = f.button :submit, @button_title, :class => "button tiny radius"
    = link_to 'Cancel', taskable_path(@taskable), :class => 'button tiny radius'
