.small-12.panel.mainContent
  / Tasks navigation
  = content_nav do
    %li= link_to "See #{@assignment.try(:name)}", @assignment, :class => "button tiny radius"
  
  .pagetitle= @title
  
  .small-12.columns
    = render 'form'

  .clearfix