.small-12.panel.mainContent
  / Tasks navigation
  .show-for-medium-up
    = content_nav_for @assignment, "Editing #{(@task.name)}".html_safe do
      %li= link_to "See #{@assignment.try(:name)}", @assignment, :class => "button tiny radius"
  .hide-for-medium-up{:style => "padding: 10px"}
    = mobile_nav_for @assignment, "Editing #{(@task.name)}".html_safe 
  
  .small-12.columns

    %h2= @title
    = render 'form'

  .clearfix