= content_nav_for @assignment, "Editing #{(@task.name)}".html_safe do
  %li= link_to "See #{@assignment.try(:name)}", @assignment, :class => "button tiny radius success"

.small-12.columns
  %h2= @title
  = render 'form'