.small-12.panel.mainContent
  / tasks navigation
  = content_nav do
    %li= link_to "See #{@taskable.try(:name)}", @taskable, :class => "button tiny radius"
  
  .pagetitle= @title
  
  .small-12.columns
    = render 'form'

  .clearfix
