= content_nav_for Task do
  %li= link_to 'Edit Task', edit_assignment_task_path, :class => "btn btn-info col col-sm-12 col-lg-2 btn-small pull-right"
  %li= link_to 'Back', assignment_tasks_path, :class => "btn btn-info col col-sm-12 col-lg-1 btn-small pull-right"

%p
  %b Assignment:
  = @assignment.name

%p
  %b Title:
  = @task.name
%p
  %b Description:
  = raw @task.description
%p
  %b Due Date:
  = @task.due_at

