.small-12.panel.mainContent
  / Tasks
  = content_nav do
    %li= link_to "See #{@assignment.name}", @assignment, :class => "button tiny radius"
    - if @task.assignment_type == "Assignment"
      %li= link_to 'Edit #{@task.name} Task', edit_assignment_task_path, :class => "button tiny radius"
    - else
      %li= link_to "Edit #{@task.name} Task", edit_badge_task_path(@assignment.id, @task.id), :class => 'button tiny radius'
    %li= link_to 'Create a New Task', new_assignment_task_path, :class => "button tiny radius"

  .pagetitle= @title
  
  .small-12.columns  
    %p
      %b Assignment:
      = @assignment.name

    %p
      %b Title:
      = @task.name
    %p
      %b Description:
      = raw @task.description
    %p
      %b Due Date:
      = @task.due_at

  .clearfix