= content_nav_for @taskable, @task do
  %li= link_to "See #{@taskable.name}", @taskable, :class => "btn btn-info btn-tiny"
  //%li= link_to 'Edit Task', edit_assignment_task_path, :class => "btn btn-info btn-tiny"
  //%li= link_to 'Create a New Task', new_assignment_task_path, :class => "btn btn-info btn-tiny"

.col-lg-12
  %h3= @title
  %p
    %b Assignment:
    = @taskable.name

  %p
    %b Title:
    = @task.name
  %p
    %b Description:
    = @task.description
  %p
    %b Due Date:
    = @task.due_at

