%dl.tabs{:data => {'tab' => true}}
  %dd
    %a{ "href" => "#syllabus" } Assignments
  - if current_course.use_timeline?
    %dd
      %a{ "href" => "#timeline" } Timeline
  - if current_course.grading_philosophy.present?
    %dd
      %a{ "href" => "#grading-philosophy"} Grading Philosophy
  - if current_course.predictor_on?
    %dd.active
      %a{ "href" => "#predictor"} Grade Predictor
  - if current_course.has_badges?
    %dd
      %a{ "href" => "#badges"} #{current_course.badge_term.pluralize}
  - if current_course.teams_visible?
    %dd
      %a{ "href" => "#leaderboard"} #{term_for :teams}
.tabs-content
  .content#syllabus
    = render "students/syllabus"
  - if current_course.use_timeline?
    .content#timeline
      = render "students/timeline"
  - if current_course.grading_philosophy.present?
    .content#grading-philosophy
      = render "students/grading_philosophy"
  - if current_course.predictor_on?
    .content#predictor.active.columns.small-12
      = render "students/predictor"
  - if current_course.has_badges?
    .content#badges
      = render "students/badges"
  - if current_course.teams_visible?
    .content#leaderboard
      = render "teams/leaderboard"
