.small-3.sideBar.panel.columns
  .gravatar.panel.radius.small-12
    = gravatar_for current_student
    %h6
      %a{:href => "mailto:#{current_student.email}" }
        %i.fi-mail
        = current_student.name


  .small-12.panel.radius= render "students/sidebar/sidebar_to_do_list"

  .small-12.panel.radius= render 'students/sidebar/sidebar_grade_distribution'

  - if current_course.has_badges?
    .small-12.panel.radius= render "students/sidebar/sidebar_badges"