%li= link_to "Edit #{current_student.name}'s Profile", edit_user_path(current_student), :class => "button tiny radius"
%li= link_to "Grades", student_path(current_student), :class => "button tiny radius"
- if current_course.use_timeline?
  %li= link_to "Timeline", student_timeline_path(current_student), :class => "button tiny radius"
- if current_course.grading_philosophy.present?
  %li= link_to "Grade Philosophy", student_grading_philosophy_path(current_student), :class => "button tiny radius"
- if current_course.predictor_on?
  %li= link_to "Grade Predictor", student_predictor_path(current_student), :class => "button tiny radius"
- if current_course.has_badges?
  %li= link_to "#{term_for :badges}", student_badges_path(current_student), :class => "button tiny radius"
- if current_course.has_teams? && current_course.teams_visible?
  %li= link_to "#{term_for :teams}", student_teams_path(current_student), :class => "button tiny radius"