.show-for-large-up
  = content_nav_for "Course Overview", "Earned #{term_for :badges}" do
    = render "info/tabs"

.hide-for-large-up{:style => "padding: 10px"}
  = mobile_nav_for "Course Overview", "Earned #{term_for :badges}"

.small-12.columns
  %dl.tabs{:data => {'tab' => true}}
    %dd.active
      %a{ "href" => "#tab1" } All Awarded #{current_course.badge_term.pluralize}
    %dd
      %a{ "href" => "#tab2" } Shared #{current_course.badge_term.pluralize}

  .tabs-content
    .content.active#tab1.small-12.columns
      = render "students/all_class_badges"
    .content#tab2.small-12.columns
      = render "students/public_class_badges"