.small-12.medium-9.columns
  = render "students/main_tabs"

.small-12.medium-3.columns
  %ul.side-nav.right
    %li.gravatar.panel.radius
      = gravatar_for current_student
      = link_to current_student.email, "mailto:#{current_student.email}"

    %li.panel.radius= render "students/sidebar/sidebar_history"

    %li.panel.radius= render 'students/sidebar/sidebar_grade_distribution'

    - if current_course.has_badges?
      %li.panel.radius= render "students/sidebar/sidebar_badges"

    %li.panel.radius= render "students/sidebar/sidebar_to_do_list"
