- if current_user.is_staff?
  %li{class: ("active" if current_page?(edit_user_path(current_student))) }
    = link_to_unless_current "Edit #{current_student.name}'s Profile", edit_user_path(current_student)
  %li{class: ("active" if current_page?(student_path(current_student))) }
    = link_to_unless_current "#{term_for :assignments}", student_path(current_student)
  %li{class: ("active" if current_page?(student_timeline_path(current_student))) }
    = link_to_unless_current "Timeline", student_timeline_path(current_student)
  - if current_course.grading_philosophy.present?
    %li{class: ("active" if current_page?(student_course_progress_path(current_student))) }
      = link_to_unless_current "Course Progress", student_course_progress_path(current_student)
  - if current_course.predictor_on?
    %li{class: ("active" if current_page?(student_predictor_path(current_student))) }
      = link_to_unless_current "Grade Predictor", student_predictor_path(current_student)
  - if current_course.has_badges?
    %li{class: ("active" if current_page?(student_badges_path(current_student))) }
      = link_to_unless_current "#{term_for :badges}", student_badges_path(current_student)
  - if current_course.has_teams? && current_course.teams_visible?
    %li{class: ("active" if current_page?(student_teams_path(current_student))) }
      = link_to_unless_current "#{term_for :teams}", student_teams_path(current_student)
- else
  %li{class: ("active" if current_page?(dashboard_path)) }
    = link_to_unless_current "Timeline", dashboard_path
  %li{class: ("active" if current_page?(syllabus_path)) }
    = link_to_unless_current "#{term_for :assignments}", syllabus_path
  - if current_course.grading_philosophy.present?
    %li{class: ("active" if current_page?(course_progress_path)) }
      = link_to_unless_current "Course Progress", course_progress_path
  - if current_course.predictor_on?
    %li{class: ("active" if current_page?(predictor_path)) }
      = link_to_unless_current "Grade Predictor", predictor_path
  - if current_course.has_badges?
    %li{class: ("active" if current_page?(my_badges_path)) }
      = link_to_unless_current "#{term_for :badges}", my_badges_path
  - if current_course.has_teams? && current_course.teams_visible?
    %li{class: ("active" if current_page?(my_team_path)) }
      = link_to_unless_current "#{term_for :teams}", my_team_path