.small-12.panel.mainContent
  = content_nav do
    = render "student_profile_tabs"

  .pagetitle= "#{term_for :badges}"

  .small-12.columns
    %dl.tabs{:data => {'tab' => true}}
      %dd.active
        - if current_user.is_student?
          %a{ "href" => "#tabb1"} My #{term_for :badges} 
        - else
          %a{ "href" => "#tabb1"} #{current_student.name}'s #{term_for :badges}
        
      - if current_course.shared_badges?
        %dd
          %a{ "href" => "#tabb2"} Shared #{term_for :badges}

    .small-12
      - if current_user.is_student? && ! current_student.badges_shared(current_course)
        %h6.small.right
          = "Want to share your #{term_for :badges} with the class?"
          .bold= link_to "Turn on shared #{term_for :badges}!", edit_profile_users_path

      .tabs-content
        .content#tabb1.active.small-12
          %table.responsive
            %thead
              %tr
                %th Icon
                %th{ :width => 300} Description
                %th Tasks
                - if current_course.valuable_badges?
                  %th Value
                %th Earned?
                - if current_course.shared_badges? && current_student.badges_shared(current_course)
                  %th Share this with the class?
            %tbody
              - current_course_data.badges.each do |badge|
                %tr
                  %td= image_tag badge.icon, :alt => badge.name, :width => 80
                  %td
                    .bold= badge.name
                    = raw badge.description
                  %td
                    %ul
                      - badge.tasks.each do |task|
                        %li= task.name
                  - if current_course.valuable_badges?
                    %td= points badge.point_total
                  %td
                    - if current_student_data.earned_badge?(badge)
                      %i.fi-check
                      = current_student_data.earned_badge(badge).created_at
                      %p= raw current_student_data.earned_badge(badge).try(:feedback)
                  - if current_course.shared_badges? && current_student.badges_shared(current_course)
                    %td
                      - earned_badge = current_student_data.earned_badge(badge)
                      - if current_user.is_student? && earned_badge.present?
                        %div{:class=>"share_badge", :data => { badge_id: badge.id.to_s, earned_badge_id: earned_badge.id.to_s, name: badge.name, icon: badge.icon }}
                          - if earned_badge.shared?
                            %a.btn{:id => 'shared_' + badge.id.to_s, :class=>"remove_badge button tiny radius"} Stop Sharing
                          - else
                            %a.btn{:id => 'shared_' + badge.id.to_s, :class=>"add_badge button tiny radius"} Share
                      - elsif earned_badge.present?
                        - if earned_badge.shared?
                          = "Shared"
                        - else 
                          = "Not Shared"

        .content#tabb2.small-12
          = render "students/public_class_badges"

  .clearfix
