.small-12.panel.mainContent
  - if current_user.is_student?
    = content_nav_for "My Dashboard" do
      - if current_course.use_timeline?
        %li= link_to "Timeline", dashboard_path, :class => "button tiny radius"
      %li= link_to "Syllabus", syllabus_path, :class => "button tiny radius"
      - if current_course.grading_philosophy.present?
        %li= link_to "Grade Philosophy", grading_philosophy_path, :class => "button tiny radius"
      - if current_course.predictor_on?
        %li= link_to "Grade Predictor", predictor_path, :class => "button tiny radius"
      - if current_course.has_badges?
        %li= link_to "#{term_for :badges}", "#", :class => "button tiny radius active"
      - if current_course.has_teams? && current_course.teams_visible?
        %li= link_to "#{term_for :teams}", my_team_path, :class => "button tiny radius"

  - else
    / Student Dashboard Breadcrumbs
    = content_nav_for current_student do
      %li= link_to "Edit #{current_student.name}'s Profile", edit_user_path(current_student), :class => "button tiny radius"
      %li= link_to "Grades", student_path(current_student), :class => "button tiny radius"
      - if current_course.use_timeline?
        %li= link_to "Timeline", student_timeline_path(current_student), :class => "button tiny radius"
      - if current_course.grading_philosophy.present?
        %li= link_to "Grade Philosophy", student_grading_philosophy_path(current_student), :class => "button tiny radius"
      - if current_course.predictor_on?
        %li= link_to "Grade Predictor", student_predictor_path(current_student), :class => "button tiny radius"
      - if current_course.has_badges?
        %li= link_to "#{term_for :badges}", "#", :class => "button tiny radius  active"
      - if current_course.has_teams? && current_course.teams_visible?
        %li= link_to "#{term_for :teams}", student_teams_path(current_student), :class => "button tiny radius"


  %dl.tabs{:data => {'tab' => true}}
    %dd.active
      %a{ "href" => "#tabb1"} My #{term_for :badges}
    - if current_course.shared_badges?
      %dd
        %a{ "href" => "#tabb2"} Class #{term_for :badges}

      .small-12.columns
        - if current_user.is_student? && ! current_student.badges_shared(current_course)
          = "Want to share your #{term_for :badges} with the class?"
          = link_to "Turn on shared #{term_for :badges}!", edit_profile_users_path

    .tabs-content
      .content#tabb1.active
        %table.responsive.simpleTable
          %thead
            %tr
              %th.sortable{"data-sort" => "string"} Icon
              %th.sortable{"data-sort" => "string"} Description
              %th.sortable{"data-sort" => "string"} Tasks
              - if current_course.valuable_badges?
                %th.sortable{"data-sort" => "string"} Value
              %th.sortable{"data-sort" => "string"} Earned?
              - if current_course.shared_badges? && current_student.badges_shared(current_course)
                %th Share this with the class?
          %tbody
            - current_course_data.badges.each do |badge|
              %tr
                %td= image_tag badge.icon, :alt => badge.name, :width => 40
                %td
                  .bold= link_to badge.name, badge_path(badge)
                  = raw badge.description
                %td
                  %ul
                    - badge.tasks.each do |task|
                      %li= task.name
                - if current_course.valuable_badges?
                  %td= points badge.point_total
                %td
                  - if current_student_data.earned_badge?(badge)
                    %i.fi-check
                    = current_student_data.earned_badge(badge).created_at
                    %p= raw current_student_data.earned_badge(badge).try(:feedback)
                - if current_course.shared_badges? && current_student.badges_shared(current_course)
                  %td
                    - earned_badge = current_student_data.earned_badge(badge)
                    - if earned_badge.present?
                      %div{:class=>"share_badge", :data => { badge_id: badge.id.to_s, earned_badge_id: earned_badge.id.to_s, name: badge.name, icon: badge.icon }}
                        - if earned_badge.shared?
                          %a.btn{:id => 'shared_' + badge.id.to_s, :class=>"remove_badge button tiny radius"} Stop Sharing
                        - else
                          %a.btn{:id => 'shared_' + badge.id.to_s, :class=>"add_badge button tiny radius"} Share
      .content#tabb2
        = render "students/public_class_badges"
