.small-12.panel.mainContent
  = content_nav do
    = render "student_profile_tabs"

  = link_to "Subscribe to the iCal feed", feed_assignments_path(format: "ics")

  = calendar @assignments_with_due_dates do |assignment|
    %li= link_to assignment.name, assignment
