.small-12.panel.mainContent
  = content_nav do
    = render "student_profile_tabs"

  .pagetitle= @title
  
  .small-12.columns
    - if current_course.grade_scheme_elements.present?
      - @grade_scheme_elements.order_by_high_range.each do |element|
        - if current_student.cached_score_for_course(current_course) < element.low_range
          .progress.round.bar_magic.transparent
            %span.meter
              .center.pushdown
                %span
                  %i.fi-lock
                - if element.level.present?
                  %span.has-tip.tip-top{:title=> "#{element.letter}" , :data=> {'tooltip'=> true}}= element.level
                - else
                  %span= element.letter
                %span=points element.low_range
        - elsif current_student.cached_score_for_course(current_course) >= element.high_range
          .progress.success.round.bar_magic
            .meter
              .center.pushdown
                - if element.level.present?
                  %span.has-tip.tip-top{:title=> "#{element.letter}" , :data=> {'tooltip'=> true}}= element.level
                - else
                  %span= element.letter
                %span has already been achieved!
                %span=points element.low_range
        - else
          .center.pushup
            %span Your rank: 
            - if element.level.present?
              %span.has-tip.tip-top{:title=> "#{element.letter}" , :data=> {'tooltip'=> true}}= element.level
            - else
              %span= element.letter
            %span with
            %span.underline=points current_student.cached_score_for_course(current_course)
            %span points.
            %span=points element.points_to_next_level(current_student, current_course)
            %span= " points to the next level!"
          .progress.secondary.round.bar_magic
            .meter{:style => "width: #{element.progress_percent(current_student, current_course)}%"}
              .striped
  .clearfix
  
  .small-12.columns
    %p= raw current_course.grading_philosophy
    %h5.bold= "– Prof. #{current_course.professor.try(:last_name) }"


  .clearfix
