.small-12.panel.mainContent
  - if current_user.is_student?
    = content_nav_for "Grade Philosophy" do
      = render "student_profile_tabs"
  - else
    / Student Dashboard Breadcrumbs
    = content_nav_for current_student do
      = render "student_profile_tabs"

  .small-12.columns

    - if current_course.grade_scheme_elements.present?
      %table.responsive.simpleTable
        %thead
          %tr
            %th.sortable{"data-sort" => "string"} Name
            %th.sortable{"data-sort" => "int"} Low Range
            %th.sortable{"data-sort" => "int"} High Range
            %th.sortable{"data-sort" => "string"} Letter Grade
            %th
        %tbody
          - @grade_scheme_elements.order_by_high_range.each do |element|
            - if current_student_data.element_level == element
              %tr.achieved
                %td #{element.level}
                %td{:data => { :"sort-value" => "#{element.low_range }" }} #{points element.low_range }
                %td{:data => { :"sort-value" => "#{element.high_range }" }} #{points element.high_range }
                %td
                  = element.letter
                %td= "You are here."
            - else
              %tr
                %td #{element.level}
                %td{:data => { :"sort-value" => "#{element.low_range }" }} #{points element.low_range }
                %td{:data => { :"sort-value" => "#{element.high_range }" }} #{points element.high_range }
                %td #{element.letter}
                %td

  .small-12.columns
    %p= raw current_course.grading_philosophy
    %h6= "-- Prof. #{current_course.professor.try(:last_name) }"


  .clearfix