.small-12.panel.mainContent
  = content_nav do
    = render "student_profile_tabs"

  .pagetitle= current_student.name

  .small-12.columns
    %table.responsive.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "int"} ID
          %th.sortable{"data-sort" => "int"} ID | Assignment
          %th.sortable{"data-sort" => "string"} Task
          %th.sortable{"data-sort" => "string"} Submission
          %th.sortable{"data-sort" => "int"} Raw Score
          %th.sortable{"data-sort" => "int"} Score
          %th.sortable{"data-sort" => "int"} Predicted Score
          %th.sortable{"data-sort" => "string"} Feedback
          %th.sortable{"data-sort" => "string"} Status
          %th
          %th
          %th
      %tbody
        - @grades.each do |g|
          %tr
            %td= g.id
            %td= "#{g.assignment_id} • #{g.assignment.try(:name)}"
            %td= g.task.name if g.task.present?
            %td= g.submission.id if g.submission.present?
            %td= g.raw_score
            //%td= g.try(:score)
            %td= g.predicted_score
            %td= g.feedback
            %td= g.status
            %td= link_to "Edit Grade", edit_assignment_grade_path(g.assignment_id, :student_id => g.student_id), :class => 'button tiny radius'
            %td= link_to "See Grade", assignment_grade_path(g.assignment_id, :student_id => g.student_id), :class => "button tiny radius"
            %td= link_to "Delete Grade", assignment_grade_path(g.assignment_id, :student_id => g.student_id), :class => "button tiny radius", :data => { confirm: 'Are you sure?' }, :method => :delete

  .clearfix