= content_nav_for User, term_for(:students) do
  %li= link_to "Create a New #{term_for :student}", new_user_path, :class => "btn btn-tiny btn-info"
  %li= link_to "Download CSV", students_path(format: 'csv'), :class => "btn btn-tiny btn-info" |
  %li= link_to "Download Excel", students_path(format: 'xls'), :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title

  - if current_course.has_teams?
    .filters.col.col-lg-5.col-sm-5.col-md-5
      = form_tag students_path, :method => :get do
        = select_tag :team_id, options_for_select(current_course.teams.map { |t| [t.name, t.id] }, @team_id), :prompt => "Select a #{current_course.team_term}", :class => "col col-lg-9 col-sm-8 col-md-9 col-xs-9 input-sm teamfilter"
        = submit_tag 'Filter', :class => 'btn btn-sm btn-primary col col-lg-2 col-sm-3 col-md-2 col-xs-2 pull-right'

%table.table.simpleTable.table-striped
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Name
      %th.sortable{"data-sort" => "string"} Email
      - if current_course.has_teams?
        %th.sortable{"data-sort" => "string"} #{current_course.team_term}
      - if current_course.team_roles?
        %th.sortable{"data-sort" => "string"} Role
      - if current_user.is_staff?
        %th.sortable{"data-sort" => "int"} Score
        %th.sortable{"data-sort" => "string"} Current Grade
      - if current_course.has_badges?
        %th.sortable{"data-sort" => "string"} Badges Earned
      %th
      %th
  %tbody
    - @students.alpha.each do |student|
      %tr
        %td{:data => { :"sort-value" => "#{student.last_name}"} }= link_to student.name, student_path(student)
        %td= mail_to student.email, student.email
        - if current_course.has_teams?
          %td
            - if student.teams.present?
              = link_to student.teams.first.try(:name), student.teams.first
        - if current_course.team_roles?
          %td= student.try(:team_role)
        - if student.respond_to?(:grades)
          %td= points student.score_for_course(current_course)
          %td= student.grade_level_for_course(current_course)
        - if current_course.has_badges?
          %td
            - student.earned_badges.each do |badge|
              %img{:src => badge.try(:icon), :alt => badge.try(:name), :width => "40"}
        %td= link_to "Edit", edit_user_path(student), :class => 'btn btn-tiny btn-info'
        %td= link_to 'Remove from Course', course_membership_path(current_course.membership_for_student(student)), :class => 'btn btn-tiny btn-warning', :data => { confirm: 'Are you sure you want to remove this student from your course?' }, :method => :delete
