.small-12.panel.mainContent
  / Student Index breadcrumbs
  = content_nav do
    = render "users/tabs"

  .pagetitle= @title

  .small-12.medium-4.columns.right
    / Checking to see if the current course has teams, displaying the team filter if it does
    - if current_course.has_teams?
      = form_tag students_path, :name => "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
        = select_tag :team_id, options_for_select(current_course.teams.alpha.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select a #{current_course.team_term}"

  .small-12.columns

    / Display the table of course students, their leaderboard display, their team affiation, their score and their grade
    %table.responsive.simpleTable
      %thead
        %tr
          %th
          %th.sortable{"data-sort" => "string"} First Name
          %th.sortable{"data-sort" => "string"} Last Name
          - if current_course.in_team_leaderboard?
            %th.sortable{"data-sort" => "string"} Screenname
          - if current_course.has_teams?
            %th.sortable{"data-sort" => "string"} #{current_course.team_term}
          - if current_course.team_roles?
            %th.sortable{"data-sort" => "string"} Role
          %th.sortable{"data-sort" => "int"} Score
          %th.sortable{"data-sort" => "string"} Current Grade
          %th.button-column
      %tbody
        - if @team
          - students = current_course_data.students_for_team(@team)
        - else
          - students = current_course_data.students
        - students.each do |student|
          %tr
            %td
              %a{:href => "mailto:#{student.email}" }
                %i.fi-mail
            %td= link_to student.first_name, student_path(student)
            %td= link_to student.last_name, student_path(student)
            - if current_course.in_team_leaderboard?
              %td= student.display_name
            - if current_course.has_teams?
              %td
                - if student.team_for_course(current_course)
                  = link_to student.team_for_course(current_course).name, student.team_for_course(current_course)
            - if current_course.team_roles?
              %td= student.try(:team_role)
            - if student.respond_to?(:grades)
              %td{:data => { :"sort-value" => "#{current_course.score_for_student(student)}"} }= points current_course.score_for_student(student)
              %td
                = student.grade_letter_for_course(current_course)
                = "-" if student.grade_letter_for_course(current_course) && student.grade_level_for_course(current_course)
                = student.grade_level_for_course(current_course)
            %td
              .button-bar
                %ul.button-group.right.round
                  %li= link_to "Dashboard", student_path(student), :class => "button tiny secondary"
                  %li= link_to "Edit", edit_user_path(student), :class => "button tiny secondary"


    - if (! @team && current_course_data.auditing_students.present?) || (@team && current_course_data.auditing_students_for_team(@team).present?)
      / Display the table of auditing students if they're present
      %h2 Auditing

      %table.simpleTable.responsive
        %thead
          %tr
            %th.sortable{"data-sort" => "string"} First Name
            %th.sortable{"data-sort" => "string"} Last Name
            - if current_course.has_teams?
              %th.sortable{"data-sort" => "string"} #{current_course.team_term}
            - if current_course.team_roles?
              %th.sortable{"data-sort" => "string"} Role
            - if current_user.is_staff?
              %th.sortable{"data-sort" => "int"} Score
              %th.sortable{"data-sort" => "string"} Current Grade
            %th
        %tbody
          - if @team
            - students = current_course_data.auditing_students_for_team(@team)
          - else
            - students = current_course_data.auditing_students
          - students.each do |student|
            %tr
              %td= student.first_name
              %td= student.last_name
              - if current_course.has_teams?
                %td
                  - if student.team_for_course(current_course)
                    = link_to student.team_for_course(current_course).name, student.team_for_course(current_course)
              - if current_course.team_roles?
                %td= student.try(:team_role)
              - if student.respond_to?(:grades)
                %td
                  = points student.score_for_course(current_course)
                  = "-"
                  = student.grade_level_for_course(current_course)
              %td
                .button-bar
                  %ul.button-group.right.round
                    %li= link_to "Dashboard", student_path(student), :class => "button tiny small large radius"
                    %li= link_to "Edit", edit_user_path(student), :class => "button tiny small large radius"
  .clearfix
