= content_nav_for User, term_for(:students) do
  %li= link_to "Create a New #{term_for :student}", new_user_path, :class => "button tiny radius success"
  %li= link_to "Download CSV", students_path(format: 'csv'), :class => "button tiny radius success"
  %li= link_to "Download Gradebook", gradebook_path(format: 'csv'), :class => "button tiny radius success"

.small-12.medium-4.large-4.columns
  %h2= @title

.small-12.large-4.large-offset-4.medium-4.medium-offset-4.columns
  - if current_course.has_teams?
    = form_tag students_path, :method => :get do
      = select_tag :team_id, options_for_select(current_course.teams.alpha.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select a #{current_course.team_term}", :class => "small-8 medium-8"
      = submit_tag 'Filter', :class => 'button tiny radius'


.small-12.columns
  %table.responsive.simpleTable
    %thead
      %tr
        %th.sortable{"data-sort" => "string"} First Name
        %th.sortable{"data-sort" => "string"} Last Name
        %th.sortable{"data-sort" => "string"} Email
        - if current_course.in_team_leaderboard?
          %th.sortable{"data-sort" => "string"} Screenname
        - if current_course.has_teams?
          %th.sortable{"data-sort" => "string"} #{current_course.team_term}
        - if current_course.team_roles?
          %th.sortable{"data-sort" => "string"} Role
        - if current_user.is_staff?
          %th.sortable{"data-sort" => "int"} Score
          %th.sortable{"data-sort" => "string"} Current Grade
        %th
    %tbody
      - if @team
        - students = current_course_data.students_for_team(@team)
      - else
        - students = current_course_data.students.being_graded
      - students.each do |student|
        %tr
          %td= student.first_name
          %td= student.last_name
          %td= mail_to student.email, student.email
          - if current_course.in_team_leaderboard?
            %td= student.display_name
          - if current_course.has_teams?
            %td
              - if student.team_for_course(current_course)
                = link_to student.team_for_course(current_course).name, student.team_for_course(current_course)
          - if current_course.team_roles?
            %td= student.try(:team_role)
          - if student.respond_to?(:grades)
            %td{:data => { :"sort-value" => "#{current_course.score_for_student(student)}"} }= points current_course.score_for_student(student)
            %td
              = student.grade_letter_for_course(current_course)
              = student.grade_level_for_course(current_course)
          %td
            .button-bar
              %ul.button-group.radius.round
                %li= link_to "Dashboard", student_path(student), :class => "button tiny small large radius"
                %li= link_to "Edit", edit_user_path(student), :class => "button tiny small large radius"

  - if @auditing.present?

    %h6 Auditing

    %table.simpleTable.responsive
      %thead
        %tr
          %th.sortable{"data-sort" => "string"} First Name
          %th.sortable{"data-sort" => "string"} Last Name
          %th.sortable{"data-sort" => "string"} Email
          - if current_course.team_roles?
            %th.sortable{"data-sort" => "string"} Role
          - if current_user.is_staff?
            %th.sortable{"data-sort" => "int"} Score
            %th.sortable{"data-sort" => "string"} Current Grade
          %th
      %tbody
        - current_course_data.students.auditing.each do |student|
          %tr
            %td= link_to student.first_name
            %td= link_to student.last_name
            %td= mail_to student.email, student.email
            - if current_course.team_roles?
              %td= student.try(:team_role)
            - if student.respond_to?(:grades)
              %td= points student.score_for_course(current_course)
              %td= student.grade_level_for_course(current_course)
            %td
              .button-bar.medium-2
                %ul.button-group.radius.round
                  %li= link_to "Dashboard", student_path(student), :class => "button tiny small large radius"
                  %li= link_to "Edit", edit_user_path(student), :class => "button tiny small large radius"
