.small-12.panel.mainContent
  / Leaderboard Navigation
  .show-for-large-up
    = content_nav_for "Course Overview", "Leaderboard" do
      = render "info/tabs"
  
  .hide-for-large-up{:style => "padding: 10px"}
    = mobile_nav_for "Course Overview", "Leaderboard" 

  - if current_course.has_teams?
    .small-12.large-4.large-offset-8.medium-6.medium-offset-6.columns
      = form_tag students_path, :name => "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
        = select_tag :team_id, options_for_select(current_course.teams.alpha.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select #{current_course.team_term}"

  .small-12.columns

    .hide-for-large-up
      %a.radius.button.tiny.small-12.medium-4.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Select
      %ul#drop.f-dropdown
        = render "users/tabs"

    %table.responsive.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "int"} Rank
          %th.sortable{"data-sort" => "string"} First Name
          %th.sortable{"data-sort" => "string"} Last Name
          - if current_course.has_teams?
            %th.sortable{"data-sort" => "string"} #{current_course.team_term}
          - if current_course.team_roles?
            %th.sortable{"data-sort" => "string"} Role
          - if current_user.is_staff?
            %th.sortable{"data-sort" => "int"} Score
            %th.sortable{"data-sort" => "string"} Grade
          - if current_course.has_badges?
            %th.sortable{"data-sort" => "string", :width => "150" } Badges Earned
          %th.button-column
      %tbody
        - i = 1
        - current_course_data.students.order_by_high_score.each do |student|
          %tr
            %td= i
            %td= link_to student.first_name, student_path(student)
            %td= student.last_name
            - if current_course.has_teams?
              %td
                - if student.teams.present?
                  = link_to student.team_for_course(current_course).name, student.team_for_course(current_course).name
            - if current_course.team_roles?
              %td= student.try(:team_role)
            - if student.respond_to?(:grades)
              %td= points student.score_for_course(current_course)
              %td= student.grade_level_for_course(current_course)
            - if current_course.has_badges?
              %td
                - student.earned_badges.each do |badge|
                  %img{:src => badge.try(:icon), :alt => badge.try(:name), :width => "20"}
            %td
              .button-bar
                %ul.button-group.round.right
                  %li= link_to "Dashboard", student_path(student), :class => "button tiny secondary"
                  %li= mail_to student.email, "Email", :class => "button tiny secondary"
                  %li= link_to "Edit", edit_user_path(student), :class => "button tiny secondary"
          - i += 1

  .clearfix