.small-12.panel.mainContent
  - if current_user.is_student?
    = content_nav_for "Predict My Grade" do
      = render "student_profile_tabs"

  - else
    / Student Dashboard Breadcrumbs
    = content_nav_for current_student do
      = render "student_profile_tabs"

  .small-12.columns
    - cache current_student_data.cache_key('v1', :assignment_weights_key, :assignments_key, :grades_key, :badges_key, current_student.id) do
      .gradePredictor
        #predictorWrapper#studentID{ 'data-student-id' => current_student.id }
          %h3
            Projected points:
            %span#predictor-score-display.bold
              - if current_user.is_staff?
                = points current_course.score_for_student(current_student)
              - else
                = points current_student_data.predicted_score
            = "/"
            - if current_course.point_total.present?
              %span= "#{ points current_course.point_total } possible points"
            - else
              %span= "#{points current_student_data.point_total} possible points"
            –
            Predicted final grade:
            %span.bold#predictor-course-grade{:'data-grade-levels' => "#{@grade_levels_json}"}
              = current_student_data.predicted_grade_letter
            %hr

        .charts.dashboard-charts
          .chart-wrapper
            .chart-inner
              #prediction

        .clearfix

    %hr

    %h3 Predictions

    #predictorPage{ 'data-student-name' => current_student.name, 'data-course-total' => current_student_data.point_total }
      %ul.slides.small-12.columns
        = render partial: 'students/predictor/assignments', collection: current_course_data.by_assignment_type.to_a, as: :assignment_type_and_assignments
        = render 'students/predictor/badges'
        //= render 'students/predictor/challenges'

  .clearfix
