.small-12.panel.mainContent
  - if current_user.is_student?
    .show-for-large-up
      = content_nav_for "Predict My Grade" do
        = render "student_profile_tabs"

    .hide-for-large-up{:style => "padding: 10px"}
      = mobile_nav_for "Predict My Grade" 

  - else
    / Student Dashboard Breadcrumbs
    .show-for-large-up
      = content_nav_for current_student do
        = render "student_profile_tabs"
    .hide-for-large-up{:style => "padding: 10px"}
      = mobile_nav_for current_student 

  .small-12.columns

    .hide-for-large-up
      %a.radius.button.tiny.small-12.medium-4.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Select
      %ul#drop.f-dropdown
        = render "student_profile_tabs"

    - cache current_student_data.cache_key('v1', :assignment_weights_key, :assignments_key, :grades_key, :badges_key, current_student.id) do
      .gradePredictor
        #predictorWrapper#studentID{ 'data-student-id' => current_student.id }
          %h4
            Predicted points:
            - if current_user.is_staff?
              %span.bold
                = points current_course.score_for_student(current_student)
            - else
              %span#predictor-score-display.bold
                = points current_student_data.predicted_score
            = "/"
            - if current_course.point_total.present?
              %span= "#{ points current_course.point_total } possible points"
            - else
              %span= "#{points current_student_data.point_total} possible points"
            –
            Predicted final grade:
            %span.bold#predictor-course-grade{:'data-grade-levels' => "#{@grade_levels_json}"}
              = current_student_data.predicted_grade_letter

        .charts.dashboard-charts
          .chart-wrapper
            .chart-inner
              #prediction

        .clearfix

    %hr

    %h3 Predictions

    #predictorPage{ 'data-student-name' => current_student.name, 'data-course-total' => current_student_data.point_total }
      %ul.slides.small-12.columns
        - if current_user.is_staff?
          = render partial: 'students/predictor/instructor_assignments', collection: current_course_data.by_assignment_type.to_a, as: :assignment_type_and_assignments
        - elsif current_user.is_student?
          = render partial: 'students/predictor/assignments', collection: current_course_data.by_assignment_type.to_a, as: :assignment_type_and_assignments
        = render 'students/predictor/badges'
        //= render 'students/predictor/challenges'

  .clearfix
