.small-12.panel.mainContent
  / Student Dashboard Breadcrumbs
  = content_nav do
    = render "student_profile_tabs"
    
  .small-12.medium-9.columns#syllabus

    %h2
      Current Score:
      / Check to see if the course has a pre-determined total number of points
      - if current_course.point_total?
        %span.bold #{points current_student.cached_score_for_course(current_course)}
        %span /#{points current_course.point_total} points
        / Else tally all of the points for all of the assignments in the course
      - else
        %span.bold #{points current_student.cached_score_for_course(current_course)}
        %span /#{points current_course.total_points} points
      - if current_student.grade_level_for_course(current_course).present?
        / Display current level if it is present
        – Current Level:
        %span.bold= current_student.grade_level_for_course(current_course)

    %hr
    
    = render 'students/syllabus'

    = render 'students/scoreboard'

  .small-12.medium-3.columns
    = render "staff_view_student_sidebar"

  .clearfix


