= simple_form_for(@criteria_level) do |f|

  .form-inputs
    = f.input :name
    = f.input :criteria_id
    = f.bootsy_area :description
    = f.input :value

  .form-actions
    .btn-toolbar
      .btn-group
        = f.button :submit, "#{@criteria_level.persisted? ? 'Update' : 'Create'} Criteria Level", :class => "button tiny radius"
      .btn-group