= simple_form_for([@badge, @earned_badge], :html => {:class => 'form-horizontal' }) do |f|
  %h3= "You are awarding the #{@badge.name} #{term_for :badge} to..."
  = f.input :badge_id, :as => :hidden, :collection => @badges
  = f.input :student_id, :collection => @students, :label => "#{term_for :student}"
  %h5 Feedback
  = f.text_area :feedback, :class => :ckeditor, :input_html => { :ckeditor => {:toolbar => "Mini", :id => 'some-textarea', :class => 'span12', :maxlength => 1000} }
  = hidden_field_tag "earned_badge[badge_ids][]", nil

  .form-actions.col-lg-offset-3
    .btn-toolbar
      .btn-group
        = f.button :submit, "Award Badge", :class => "btn-primary btn-sm"
      .btn-group
        = link_to 'Cancel', badge_path(@badge), :class => 'btn btn-info btn-sm'