.small-12.panel.mainContent
  / Criteria Levels Navigation
  .show-for-medium-up
    = content_nav_for @badge, @earned_badge do
      = render "badges/tabs"

  .hide-for-medium-up{:style => "padding: 10px"}
    = mobile_nav_for @badge, @earned_badge

  .small-12.columns
    .hide-for-medium-up
      %a.radius.button.tiny.small-12.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Options
      %ul#drop.f-dropdown
        = render "badges/tabs"

    = render 'form'

  .clearfix