= content_nav_for @badge, EarnedBadge do
  %li= link_to "Award a Badge", new_badge_earned_badge_path(:badge_id => @badge)

%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th Assignment
      %th Badge
      %th Feedback
      %th Value
      %th Date Awarded
      %th
      %th
  %tbody
    - @earned_badges.each do |earned_badge|
      %tr
        %td= link_to earned_badge.student.try(:name), earned_badge.student
        %td
          %img{:src => earned_badge.badge.try(:icon), :alt => earned_badge.badge.try(:name), :width => "25", :height => "25"}
        %td= earned_badge.feedback
        %td= earned_badge.score
        %td= earned_badge.created_at
        %td= link_to 'View', badge_earned_badge_path(@badge, earned_badge), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Edit', edit_badge_earned_badge_path(@badge, earned_badge), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Delete', badge_earned_badge_path(@badge, earned_badge), :class => 'btn btn-tiny btn-success', :data => { confirm: 'Are you sure?' }, :method => :delete
