.small-12.panel.mainContent
  / Earned Badges Navigation
  .show-for-large-up
    = content_nav_for @badge, "Quick Award #{term_for :badges}" do
      = render "badges/tabs"

  .hide-for-large-up{:style => "padding: 10px"}
    = mobile_nav_for @badge, "Quick Award #{term_for :badges}" 

  .small-12.columns
    .hide-for-large-up
      %a.radius.button.tiny.small-12.medium-4.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Select
      %ul#drop.f-dropdown
        = render "badges/tabs"

    %h3= @title
    - if current_course.has_teams?
      .right.filters
        = form_tag mass_award_badge_path, :name => "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
          = hidden_field_tag :badge_id, @badge.id
          = select_tag :team_id, options_for_select(current_course.teams.alpha.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select #{current_course.team_term}"

    #massGrade
      = simple_form_for @badge, method: :put, :html => {:class => 'form-horizontal mass-edit-earned-badges' }, :url => mass_award_badge_path(@badge) do |f|
        .button-bar
          %ul.button-group.round.right
            %li.select-all.button.tiny= "Check All"
            %li.select-none.button.tiny.success= "Uncheck"
        %table.responsive
          - @earned_badges.each_with_index do |eb, i|
            %tr
              %td= link_to eb.student.name, student_path(eb.student)
              %td
                = f.simple_fields_for :earned_badges, eb do |ebf|
                  = ebf.hidden_field :student_id
                  = ebf.hidden_field :_destroy, class: 'destroy', value: !ebf.object.persisted?
                  = ebf.check_box :score, {}, @badge.point_total
        .right
          = f.button :submit, "Award", :class => "button tiny round"
          = link_to 'Cancel', badges_path, :class => 'button tiny round'

  .clearfix