= content_nav_for @badge, "Award #{term_for :badge}" do
  %li= link_to "See All #{term_for :badges}", badges_path, :class => "button tiny radius"
  %li= link_to "Edit #{@badge.name}", edit_badge_path(@badge), :class => "button tiny radius"

.small-12
  = render 'form'

