.small-12.panel.mainContent
  / Earned Badge Navigation
  .show-for-medium-up
    = content_nav_for @badge, "Earned By #{@earned_badge.student.name}" do
      = render "badges/tabs"

  .hide-for-medium-up{:style => "padding: 10px"}
    = mobile_nav_for @badge, "Earned By #{@earned_badge.student.name}"

  .small-12.columns
  
    .hide-for-medium-up
      %a.radius.button.tiny.small-12.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Options
      %ul#drop.f-dropdown
        = render "badges/tabs"
        
    %img{:src => @earned_badge.badge.try(:icon), :alt => @earned_badge.badge.try(:name), :width => "25", :height => "25"}
    %p
      %b= link_to @earned_badge.name, badge_path(@earned_badge.badge)
      - if @earned_badge.score?
        = "(#{@earned_badge.score} points)"

    %p
      %b= "Earned by:"
      = link_to @earned_badge.student.name, student_path(@earned_badge.student)

    %p
      %b= "Earned on:"
      = @earned_badge.created_at

    %p= raw @earned_badge.feedback


  .clearfix