.small-12.panel.mainContent
  / Earned Badge Navigation
  = content_nav do
    = render "badges/tabs"

  .pagetitle= @title

  .small-12.columns
        
    %img{:src => @earned_badge.badge.try(:icon), :alt => @earned_badge.badge.try(:name), :width => "25", :height => "25"}
    %p
      %b= link_to @earned_badge.name, badge_path(@earned_badge.badge)
      - if @earned_badge.score?
        = "(#{@earned_badge.score} points)"

    %p
      %b= "Earned by:"
      = link_to @earned_badge.student.name, student_path(@earned_badge.student)

    %p
      %b= "Earned on:"
      = @earned_badge.created_at

    %p= raw @earned_badge.feedback


  .clearfix