= content_nav_for @badge, @earned_badge do
  %li= link_to 'Edit', [:edit, :badge, :earned_badge], :class => "btn btn-tiny btn-info"
  %li= link_to 'Back', [:badge, :earned_badges], :class => "btn btn-tiny btn-info"

%p= @earned_badge.feedback

%img{:src => @earned_badge.badge.try(:icon), :alt => @earned_badge.badge.try(:name), :width => "25", :height => "25"}
%p
  %b= @earned_badge.name
  = "(#{@earned_badge.score} points)"