%li= link_to 'See All Users', users_path, :class => "button tiny radius"
%li= link_to 'Create a New Staff Member', new_user_path, :class => "button tiny radius"
%li= link_to "Staff Index", staff_index_path, :class => "button tiny radius"
%li= link_to "Edit #{@user.name}", edit_user_path(@user), :class => "button tiny radius"