.small-12.panel.mainContent
  / Staff Navigation
  = content_nav do
    = render "users/tabs"

  .pagetitle= @title

  .small-12.columns

    %table.responsive.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "string"} First Name
          %th.sortable{"data-sort" => "string"} Last Name
          %th.sortable{"data-sort" => "string"} Role
          %th.sortable{"data-sort" => "string"} #{term_for :team}
          %th
      %tbody
        - current_course.users.alpha.each do |user|
          - if user.is_staff?
            %tr
              %td= link_to user.first_name, staff_path(user)
              %td= link_to user.last_name, staff_path(user)
              %td= user.role.capitalize
              %td
                %ul
                  - user.teams.each do |team|
                    %li= link_to team.try(:name), team
              %td
                .button-bar
                  %ul.button-group.right.round
                    %li= link_to 'See', staff_path(user), {:class => 'button tiny secondary'}
                    %li= link_to 'Edit', edit_user_path(user), {:class => 'button tiny secondary'}
                    %li= link_to 'Delete', user, :class => 'button tiny secondary', :data => { confirm: 'Are you sure?'}, :method => :delete
    .clearfix
