= content_nav_for User, "Staff" do
  %li= link_to 'See All Users', users_path, :class => "button tiny radius"
  %li= link_to 'Create a New Staff Member', new_user_path, :class => "button tiny radius"

.small-12
  %h2= @title

%table.responsive.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Name
      %th.sortable{"data-sort" => "string"} Role
      %th.sortable{"data-sort" => "string"} #{term_for :team}
      %th
      %th
  %tbody
    - current_course.users.each do |user|
      - if user.is_staff?
        %tr
          %td= link_to user.name, staff_path(user)
          %td= user.role.capitalize
          %td
            %ul
              - user.teams.each do |team|
                %li= link_to team.try(:name), team
          %td= link_to 'Edit', edit_user_path(user), {:class => 'button tiny radius'}
          %td= link_to 'Delete', user, :class => 'button tiny radius', :data => { confirm: 'Are you sure?'}, :method => :delete
