.small-12.panel.mainContent
  / Staff Navigation
  = content_nav_for User, "Staff" do
    %li= link_to 'See All Users', users_path, :class => "button tiny radius"
    %li= link_to 'Create a New Staff Member', new_user_path, :class => "button tiny radius"

  .small-12.columns
    %h2= @title

    %table.responsive.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "string"} First Name
          %th.sortable{"data-sort" => "string"} Last Name
          %th.sortable{"data-sort" => "string"} Role
          %th.sortable{"data-sort" => "string"} #{term_for :team}
          %th
      %tbody
        - current_course.users.each do |user|
          - if user.is_staff?
            %tr
              %td= user.first_name
              %td= user.last_name
              %td= user.role.capitalize
              %td
                %ul
                  - user.teams.each do |team|
                    %li= link_to team.try(:name), team
              %td
                .button-bar
                  %ul.button-group.radius.round
                    %li= link_to 'See', staff_path(user), {:class => 'button tiny'}
                    %li= link_to 'Edit', edit_user_path(user), {:class => 'button tiny'}
                    %li= link_to 'Delete', user, :class => 'button tiny', :data => { confirm: 'Are you sure?'}, :method => :delete
