.small-12.panel.mainContent
  / Staff Navigation
  = content_nav_for @user do
    %li= link_to "Staff Index", staff_index_path, :class => "button tiny radius"
    %li= link_to "Create a New Staff Member", new_user_path, :class => "button tiny radius"
    %li= link_to "Edit #{@user.name}", edit_user_path(@user), :class => "button tiny radius"

  .small-12.columns
    %h2 Courses
    %ul
      - @user.courses.each do |course|
        %li= link_to course.name, course

    %h4 Recently Graded
    %table.responsive.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "string"} Assignment
          %th.sortable{"data-sort" => "string"} Score
          %th.sortable{"data-sort" => "string"} Student
          %th.button-column
      %tbody
        - current_course.grades.where(:graded_by => current_user).each do |grade|
          %tr
            %td= grade.assignment
            %td= grade.score
            %td= grade.student
