= simple_form_for(@badge, :html => {:class => 'form-horizontal', :multipart => true }) do |f|
  = f.association :badge_set, :collection => @badge_sets, :input_html => {:class => 'input-sm col-lg-3'}
  = f.input :name, :label => "Badge Name", :input_html => {:class => 'col-lg-3'}
  = f.input :icon, :as => :file, :label => "Icon", :input_html => {:class => 'col-lg-3'}
  = f.simple_fields_for :badge_files, @badge.badge_files.new do |bff|
    = bff.input :filename, as: :file, :label => "Documents"
  = f.input :description, :as => :text, :input_html => {:style => "width: 90%; height: 200px;"}, :label => "Description", :placeholder => "Describe what this badge means, and how it can be earned. Note that if this badge is marked as visible then this description will also be viewable in the list of badges."
  = f.input :visible, :as => :boolean
  - if current_course.valuable_badges?
    = f.input :point_total, :input_html => {:class => 'col-lg-3'}
  = f.input :can_earn_multiple_times, :collection => [["Onetime", "onetime"], ["Multiple", "multiple"]], :hint => "Can this badge be given to one person multiple times through the semester, or only only once?", :prompt => "-- Select Occurrence --", :input_html => {:class => 'input-sm col-lg-3'}

  .form-actions.col-lg-offset-3
    = f.button :submit, :class => "btn-primary"
    = link_to 'Cancel', badges_path, :class => 'btn btn-info'