.small-12.panel.mainContent
  / Badge Navigation
  = content_nav_for Badge, "Edit #{breadcrumb_link_for(@badge)}".html_safe do
    = render "tabs"

  .small-12.columns

    %h2= @title
    = render 'form'

  .clearfix