.small-12.panel.mainContent
  / Badge Navigation
  = content_nav_for Badge, "Edit #{breadcrumb_link_for(@badge)}".html_safe do
    %li= link_to "See All #{term_for :badges}", badges_path, :class => "button tiny radius"
    %li= link_to "Award this #{term_for :badge}", new_badge_earned_badge_path(:badge_id => @badge), :class => "button tiny radius"

  .small-12.columns
    %h2= @title
    = render 'form'

  .clearfix