= content_nav_for Badge, "Edit #{breadcrumb_link_for(@badge)}".html_safe do
  %li= link_to "See All #{term_for :badges}", badges_path, :class => "btn btn-tiny btn-info"
  %li= link_to "Award this #{term_for :badge}", new_badge_earned_badge_path(:badge_id => @badge), :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title
  = render 'form'
