- if current_user.is_staff?
  .small-12.panel.mainContent
    / Badge Navigation
    = content_nav do
      = render "tabs"
  
    .pagetitle= @title

    .small-12.columns
      
      %table.responsive
        %thead
          %tr
            %th Icon
            %th Description
            - if current_course.valuable_badges?
              %th{"data-sort" => "int"} Value
            %th Visible to Students
            %th.button-column
        %tbody
          - current_course_data.badges.each do |badge|
            %tr
              %td
                %img{:src => badge.icon, :alt => badge.name, :width => "80"}
                %td
                  .bold= link_to badge.name, badge_path(badge)
                  = raw badge.description
                - if current_course.valuable_badges?
                  %td= points badge.point_total
                %td
                  - if badge.visible?
                    Yes
                  - else
                    No
                %td
                  .button-bar
                    %ul.button-group.right.round
                      %li= link_to "Quick Award", mass_award_badge_path(badge), :class => "button tiny secondary"
                      %li
                        %a{:href => edit_badge_path(badge), :class => 'button tiny secondary'}
                          Edit
                      %li
                        %a{:href => badge_path(badge), :method => :delete, :data => { confirm: 'Are you sure?' }, :class => "button tiny secondary" }
                          Delete
    .clearfix
