= content_nav_for Badge do
  %li= link_to "Create New #{term_for :badge}", new_badge_path, :class => "btn btn-tiny btn-info"

%table.table.simpleTable.table-striped
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Icon
      %th.sortable{"data-sort" => "string"} Description
      %th.sortable{"data-sort" => "string"} Tasks
      - if current_course.valuable_badges?
        %th{"data-sort" => "int"} Value
      - if current_user.is_staff?
        %th.sortable{"data-sort" => "string"} Visible to Students
        %th
        %th
        %th
  %tbody
    - @badges.each do |badge|
      - if current_user.is_staff?
        %tr
          %td
            %img{:src => badge.icon, :alt => badge.name}
            %td
              = link_to badge.name, badge_path(badge)
              = raw badge.description
            %td
              %ul
                - badge.tasks.each do |task|
                  %li= task.name
            - if current_course.valuable_badges?
              %td= number_with_delimiter(badge.point_total)
            %td
              - if badge.visible?
                Yes
              - else
                No
            %td= link_to 'Edit', edit_badge_path(badge), :class => 'btn btn-tiny btn-info'
            %td= link_to 'Delete', badge_path(badge), :class => 'btn btn-tiny btn-warning', :data => { confirm: 'Are you sure?' }, :method => :delete
      - else
        - if badge.visible == "1"
          %tr
            %td
              %img{:src => badge.icon, :alt => badge.name}
              %td
                = badge.name
                = raw badge.description
              - if current_course.valuable_badges?
                %td= badge.point_total
