= content_nav_for Badge do
  %li= link_to 'Create a New Badge', new_badge_path

%table.table.simpleTable.table-striped
  %thead
    %tr
      %th#icon Icon
      %th#title{"data-sort" => "string"} Description
      %th#tasks Tasks
      - if current_course.valuable_badges?
        %th{"data-sort" => "int"} Value
      - if current_user.is_staff?
        %th#visible{"data-sort" => "string"} Visible to Students
        %th.header
        %th.header
  %tbody
    - @badges.each do |badge|
      - if current_user.is_staff?
        %tr
          %td
            %img{:src => badge.icon, :alt => badge.name}
            %td
              = link_to badge.name, badge_path(badge)
              = raw badge.description
            %td
              %ul
                - badge.tasks.each do |task|
                  %li= task.name
                %h5 Add a New Task
                = simple_fields_for(:tasks, :class => "form-inline") do |task|
                  = task.input :title
                  = task.input :description
                  .form-actions
                    .btn-toolbar
                      .btn-group
                        = task.button :submit, "Add Task", :class => "btn-primary btn-tiny"

            - if current_course.valuable_badges?
              %td= number_with_delimiter(badge.point_total)
            %td
              - if badge.visible?
                Yes
              - else
                No
            %td= link_to 'Edit', edit_badge_path(badge), :class => 'btn btn-tiny btn-success'
            %td= link_to 'Delete', badge_path(badge), :class => 'btn btn-tiny btn-success', :data => { confirm: 'Are you sure?' }, :method => :delete
      - else
        - if badge.visible == "1"
          %tr
            %td
              %img{:src => badge.icon, :alt => badge.name}
              %td
                = badge.name
                = raw badge.description
              - if current_course.valuable_badges?
                %td= badge.point_total
