- if current_user.is_staff?
  .small-12.panel.mainContent
    / Badge Navigation
    = content_nav_for Badge do
      %li= link_to "Create New #{term_for :badge}", new_badge_path, :class => "button tiny radius"

    .small-12.columns
      %h2= @title

      %table.responsive.simpleTable
        %thead
          %tr
            %th.sortable{"data-sort" => "string"} Icon
            %th.sortable{"data-sort" => "string"} Description
            - if current_course.valuable_badges?
              %th{"data-sort" => "int"} Value
            %th.sortable{"data-sort" => "string"} Visible to Students
            %th{:width => "300"}
        %tbody
          - current_course_data.badges.each do |badge|
            %tr
              %td
                %img{:src => badge.icon, :alt => badge.name, :width => "40"}
                %td
                  .bold= link_to badge.name, badge_path(badge)
                  = raw badge.description
                - if current_course.valuable_badges?
                  %td= points badge.point_total
                %td
                  - if badge.visible?
                    Yes
                  - else
                    No
                %td
                  .button-bar
                    %ul.button-group.radius.round
                      %li= link_to "Quick Award", mass_award_badge_path(badge), :class => "button tiny secondary"
                      %li= link_to 'Edit', edit_badge_path(badge), :class => 'button tiny secondary'
                      %li= link_to 'Delete', badge_path(badge), :class => 'button tiny secondary', :data => { confirm: 'Are you sure?' }, :method => :delete
    .clearfix
