.small-12.panel.mainContent
  / Badge Navigation
  .show-for-large-up
    = content_nav_for Badge, "New #{term_for(:badge)}" do
      = render "tabs"
  
  .hide-for-large-up{:style => "padding: 10px"}
    = mobile_nav_for Badge, "New #{term_for(:badge)}" 

  .small-12.columns
    .hide-for-large-up
      %a.radius.button.tiny.small-12.medium-4.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Select
      %ul#drop.f-dropdown
        = render "tabs"
    %h2= @title
    = render 'form'

  .clearfix