= content_nav_for @badge do
  %li= link_to 'Edit', edit_badge_path(@badge)
  %li= link_to 'Back', badges_path
  %li= link_to 'New Badge', new_badge_path
  %li= link_to 'Award this Badge', new_badge_earned_badge_path(:badge_id => @badge)

%p
  %img{:src => @badge.icon, :alt => @badge.name}
%p
  %b Value:
  = "#{@badge.point_total} points"
%p
  %b Description:
  = raw @badge.description
%p
  %b Icon URL:
  = @badge.icon

%h3
Badge tasks:
(#{link_to 'Add task', new_badge_task_path(@badge)})

%table.display.table-bordered.table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
  %tbody
    - @badge.tasks.each do |task|
      %tr
        %td= task.title
        %td= task.description
        %td= link_to "Edit", edit_badge_task_path(@badge.id, task.id), :class => 'btn btn-tiny btn-success'
        %td= link_to "Delete", badge_task_path(@badge.id, task.id), :data => { confirm: 'Are you sure?' }, :class => 'btn btn-tiny btn-success', :method => :delete