- if current_user.is_staff?
  = content_nav_for @badge do
    %li= link_to "Edit #{@badge.name}", edit_badge_path(@badge), :class => "button tiny radius success"
    %li= link_to "New #{term_for :badge}", new_badge_path, :class => "button tiny radius success"
    %li= link_to "Award this #{term_for :badge}", new_badge_earned_badge_path(@badge), :class => "button tiny radius success"
    %li= link_to "Quick Award #{term_for :badge}", mass_award_badge_path(@badge), :class => "button tiny radius success"
- else
  = content_nav_for @badge do
    %li= link_to "My Dashboard", dashboard_path, :class => "button tiny radius success"
    %li= link_to "See All #{term_for :badges}", badges_path, :class => "button tiny radius success"


.small-12.columns
  %h2= @badge.name
  %p
    %img{:src => @badge.icon, :alt => @badge.name, :width => "40"}

  - if @badge.point_total?
    %p
      %b Value:
      = "#{@badge.point_total} points"

  - if @badge.description?
    %p
      %b Description:
      = raw @badge.description

  - if @badge.badge_files.present?
    %p
      %b Documents:
      - @badge.badge_files.each do |bf|
        = link_to bf.filename, bf.url

  - if current_user.is_staff?
    .small-12
      %h4.clear Awarded #{term_for :badges}

    %table.responsive.simpleTable
      %thead
        %tr
          %th= term_for(:student)
          %th Feedback
          %th Date Awarded
          %th
      %tbody
        - @earned_badges.each do |earned_badge|
          %tr
            %td= link_to earned_badge.student.try(:name), student_path(earned_badge.student)
            %td= raw earned_badge.feedback
            %td= earned_badge.created_at
            %td
              .button-bar
                %ul.button-group.radius.round
                  %li= link_to 'View', badge_earned_badge_path(@badge, earned_badge), :class => 'button tiny'
                  %li= link_to 'Edit', edit_badge_earned_badge_path(@badge, earned_badge), :class => 'button tiny'
                  %li= link_to 'Delete', badge_earned_badge_path(@badge, earned_badge), :class => 'button tiny', :data => { confirm: 'Are you sure?' }, :method => :delete
