- if current_user.is_staff?
  = content_nav_for @badge do
    %li= link_to "See All #{term_for :badges}", badges_path, :class => "btn btn-tiny btn-info"
    %li= link_to "Edit #{@badge.name}", edit_badge_path(@badge), :class => "btn btn-tiny btn-info"
    %li= link_to "New #{term_for :badge}", new_badge_path, :class => "btn btn-tiny btn-info"
    %li= link_to "Award this #{term_for :badge}", new_badge_earned_badge_path(@badge), :class => "btn btn-tiny btn-info"
    %li= link_to "Quick Award #{term_for :badge}", mass_award_badge_path(@badge), :class => "btn btn-tiny btn-info"
- else
  = content_nav_for @badge do
    %li= link_to "My Dashboard", dashboard_path, :class => "btn btn-tiny btn-info"


.col-lg-12
  %h3= @badge.name
  %p
    %img{:src => @badge.icon, :alt => @badge.name, :width => "40"}

  - if @badge.point_total?
    %p
      %b Value:
      = "#{@badge.point_total} points"

  - if @badge.description?
    %p
      %b Description:
      = raw @badge.description

  - if @badge.badge_files.present?
    %p
      %b Documents:
      - @badge.badge_files.each do |bf|
        = link_to bf.filename.identifier, bf.filename.url

- if current_user.is_staff?
  .col-lg-12
    %h4 Tasks: (#{link_to 'Add task', new_badge_task_path(@badge)})

- if @badge.tasks.present?
  %table.table.display.table-striped.simpleTable
    %thead
      %tr
        %th.sortable{"data-sort" => "string"} Name
        %th.sortable{"data-sort" => "string"} Description
        %th
        %th
        %th
    %tbody
      - @badge.tasks.each do |task|
        %tr
          %td= task.name
          %td= task.description
          - if current_user.is_staff?
            %td= link_to "View", badge_task_path(@badge.id, task.id), :class => 'btn btn-tiny btn-success'
            %td= link_to "Edit", edit_badge_task_path(@badge.id, task.id), :class => 'btn btn-tiny btn-info'
            %td= link_to "Delete", badge_task_path(@badge.id, task.id), :data => { confirm: 'Are you sure?' }, :class => 'btn btn-tiny btn-warning', :method => :delete

- if current_user.is_staff?
  %hr

  .col-lg-12
    %h4.clear Awarded #{term_for :badges}

  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th= term_for(:student)
        %th Score
        %th Feedback
        %th Date Awarded
        %th
        %th
        %th
    %tbody
      - @earned_badges.each do |earned_badge|
        %tr
          %td= link_to earned_badge.student.try(:name), earned_badge.student
          %td= earned_badge.score
          %td= earned_badge.feedback
          %td= earned_badge.created_at
          %td= link_to 'View', badge_earned_badge_path(@badge, earned_badge), :class => 'btn btn-tiny btn-success'
          %td= link_to 'Edit', edit_badge_earned_badge_path(@badge, earned_badge), :class => 'btn btn-tiny btn-info'
          %td= link_to 'Delete', badge_earned_badge_path(@badge, earned_badge), :class => 'btn btn-tiny btn-warning', :data => { confirm: 'Are you sure?' }, :method => :delete
