
.small-12.panel.mainContent
  / Badge Navigation
  - if current_user.is_staff?
    = content_nav do
      = render "tabs"
  
  .pagetitle= @title

  .small-12.columns

    .panel.small-12.large-2.columns.text-center
      %img{:src => @badge.icon, :alt => @badge.name, :width => "100" }
    - if @badge.point_total?
      .large-5.columns
        %b Value:
        = "#{@badge.point_total} points"

    .small-12.large-8.columns
      - if @badge.description?
        %p
          %b Description:
          = raw @badge.description

      - if @badge.badge_files.present?
        %p
          %b Attachments:
          %ul
            - @badge.badge_files.each do |bf|
              %li
                = link_to bf.filename, bf.url
                - if current_user.is_staff?
                  = link_to "(Remove)", remove_uploads_path({ :model => "BadgeFile", :upload_id => bf.id } )

    - if current_user.is_staff?

      .small-12   

        %table.responsive.simpleTable
          %thead
            %tr
              %th= term_for(:student)
              %th Feedback
              %th Date Awarded
          %tbody
            - if @team
              - students = current_course_data.students_for_team(@team)
            - else
              - students = current_course_data.students
            - students.each do |student|
              %tr
                %td= link_to student.first_name, student_path(student)
                %td= link_to student.last_name, student_path(student)
                %td
                  - @badge.earned_badges.where(:student_id => student.id).each do |badge|
                    %img{:src => @badge.icon, :alt => @badge.name, :width => "20" }
                    %span.has-tip{:title => "Edit this #{term_for :badge}", :data => {'tooltip' => true} }= link_to "(#{badge.created_at.strftime("%b %d")})", edit_badge_earned_badge_path(@badge, badge.id)
                    %span= raw badge.feedback
                    %span
                      = link_to badge_earned_badge_path(@badge, badge), :method => :delete, :data => { confirm: "Are you sure you want to delete this #{term_for :badge}?" } do
                        %i.fi-trash
                    .clearfix

  .clearfix




