
.small-12.panel.mainContent
  / Badge Navigation
  - if current_user.is_staff?
    = content_nav_for @badge do
      %li= link_to "See All #{term_for :badges}", badges_path, :class => "btn btn-tiny btn-info"
      %li= link_to "Edit #{@badge.name}", edit_badge_path(@badge), :class => "btn btn-tiny btn-info"
      %li= link_to "New #{term_for :badge}", new_badge_path, :class => "btn btn-tiny btn-info"
      %li= link_to "Award this #{term_for :badge}", new_badge_earned_badge_path(@badge), :class => "btn btn-tiny btn-info"
      %li= link_to "Quick Award #{term_for :badge}", mass_award_badge_path(@badge), :class => "btn btn-tiny btn-info"
  - else
    = content_nav_for @badge do
      %li= link_to "My Dashboard", dashboard_path, :class => "btn btn-tiny btn-info"
      %li= link_to "See All #{term_for :badges}", badges_path, :class => "btn btn-tiny btn-info"


  .small-12.columns
    %h2= @badge.name
    .panel.small-12.large-2.columns.text-center
      %img{:src => @badge.icon, :alt => @badge.name, :width => "100" }
    - if @badge.point_total?
      .large-5.columns
        %b Value:
        = "#{@badge.point_total} points"

    .small-12.large-8.columns
      - if @badge.description?
        %p
          %b Description:
          = raw @badge.description

      - if @badge.badge_files.present?
        %p
          %b Attachments:
          %ul
            - @badge.badge_files.each do |bf|
              %li
                = link_to bf.filename, bf.url
                - if current_user.is_staff?
                  = link_to "(Remove)", remove_uploads_path({ :model => "BadgeFile", :upload_id => bf.id } )


    .clearfix

    - if current_user.is_staff?
      .small-12
        %h3.clear Awarded #{term_for :badges}

        %table.responsive.simpleTable
          %thead
            %tr
              %th= term_for(:student)
              %th Feedback
              %th Date Awarded
              %th
          %tbody
            - @earned_badges.each do |earned_badge|
              %tr
                %td= link_to earned_badge.student.try(:name), student_path(earned_badge.student)
                %td= raw earned_badge.feedback
                %td= earned_badge.created_at
                %td
                  .button-bar
                    %ul.button-group.radius.round
                      %li= link_to 'View', badge_earned_badge_path(@badge, earned_badge), :class => 'button tiny secondary'
                      %li= link_to 'Edit', edit_badge_earned_badge_path(@badge, earned_badge), :class => 'button tiny secondary'
                      %li= link_to 'Delete', badge_earned_badge_path(@badge, earned_badge), :class => 'button tiny secondary', :data => { confirm: 'Are you sure?' }, :method => :delete

    .clearfix




