= content_nav_for "#{term_for :badge} Sets" do
  %li= link_to "New #{term_for :badge} Set", new_badge_set_path

%table.table.display.table-bordered
  %thead
    %tr
      %th Name
      %th Notes
      %th.header
      %th.header
  %tbody
    - @badge_sets.each do |badge_set|
      %tr
        %td= link_to badge_set.name, badge_set
        %td= badge_set.description
        %td= link_to 'Edit', edit_badge_set_path(badge_set), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Delete', badge_set, :class => 'btn btn-tiny btn-success', :data => { confirm: 'Are you sure?' }, :method => :delete

