= content_nav_for @badge_set do
  %li= link_to 'Edit', edit_badge_set_path(@badge_set)
  %li= link_to 'Back', badge_sets_path

= link_to 'Add New Badge', new_badge_path, :class => "btn btn-tiny btn-success btn-primary"
%p
%table.display.table-bordered.table
  %thead
    %tr
      %th Badge
      %th Name
      %th Value
      %th Description
      %th
      %th
      %th
  %tbody
    - @badge_set.badges.each do |badge|
      %tr
        %td 
          %img{:src => badge.icon, :alt => badge.name}
        %td= badge.name
        %td= badge.point_total
        %td= raw badge.description
        %td= link_to "View", badge_path(badge), :class => 'btn btn-tiny btn-success'
        %td= link_to "Edit", edit_badge_path(badge), :class => 'btn btn-tiny btn-success'
        %td= link_to "Delete", badge_path(badge), :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-tiny btn-success', :method => :delete

