= content_nav_for @badge_set do
  %li= link_to 'See All Badge Sets', badge_sets_path
  %li= link_to "Edit #{@badge_set.name}", edit_badge_set_path(@badge_set)
  %li= link_to 'Add New Badge', new_badge_path

%table.display.table-striped.table.simpleTable
  %thead
    %tr
      %th Badge
      %th{"data-sort" => "string"} Name
      %th{"data-sort" => "int"} Value
      %th Description
      %th
      %th
      %th
  %tbody
    - @badge_set.badges.each do |badge|
      %tr
        %td
          %img{:src => badge.icon, :alt => badge.name, :width => "40"}
        %td= badge.name
        %td= badge.point_total
        %td= raw badge.description
        %td= link_to "View", badge_path(badge), :class => 'btn btn-tiny btn-success'
        %td= link_to "Edit", edit_badge_path(badge), :class => 'btn btn-tiny btn-info'
        %td= link_to "Delete", badge_path(badge), :data => { confirm: 'Are you sure?' }, :class => 'btn btn-tiny btn-warning', :method => :delete

