= simple_form_for @group do |f|
  = f.association :assignments, :collection => @assignments, :as => :check_boxes
  .small-12.medium-4.columns
    = f.label :name
    = f.text_field :name
  - if current_user.is_staff?
    .small-12.medium-4.columns
      = f.label :approved, "Status"
      = f.select :approved, [[], ["Approved"], ["Rejected"]]
  .small-12.medium-12.columns
    - if current_user.is_student?
      .small-12.medium-4.columns
        = f.label :students, "#{term_for :students}"
        = f.collection_select :student_tokens, current_course_data.students, :id, :name, {}, {multiple:true}
    - if current_user.is_staff?
      .small-12.medium-4.columns
        = f.label :student_ids, "#{term_for :students}"
        = f.collection_select :student_tokens, current_course_data.students, :id, :name, {}, {multiple:true}

  .small-12.medium-12.columns
    - if current_user.is_student?
      %span.alert.round.label= "Your #{term_for :group} needs to have at least #{current_course.min_group_size} members and no more than #{current_course.max_group_size}."
    - else
      %span.alert.round.label= "The #{term_for :group} needs to have at least #{current_course.min_group_size} members and no more than #{current_course.max_group_size}."

  .small-12.medium-12.columns
    .form-actions
      = submit_tag "Submit", :class => 'button tiny radius'
      = link_to 'Cancel', groups_path, :class => 'button tiny radius'


