= simple_form_for([@group], :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name, :label => "Group Name", :input_html => { :class => "col-lg-3" }
  - if @group.persisted?
    = f.association :students, :collection => @students, :as => :check_boxes
    = f.association :assignments, :collection => @assignments, :as => :check_boxes
    - if current_user.is_staff?
      = f.input :approved, :as => :select, :collection => [["Approved"], ["Rejected"]], :input_html => { :class => "input-sm col-lg-3" }

  .form-actions.col-lg-offset-3
    = f.button :submit, :class => "btn-primary"
    = link_to 'Cancel', groups_path, :class => 'btn btn-info'