- if current_user.is_student?
  %h4= "Your group needs to have at least #{current_course.min_group_size} members and no more than #{current_course.max_group_size}."
- else
  %h4= "The group needs to have at least #{current_course.min_group_size} members and no more than #{current_course.max_group_size}."
= simple_form_for @group, :html => {:class => 'form-horizontal' } do |f|
  = f.association :assignments, :collection => current_course_data.group_assignments, :include_blank => false, :as => :check_boxes
  = f.input :name, :label => "Group Name", :input_html => { :class => "col-lg-3" }
  = f.association :students, :collection => current_course_data.students - [current_student], :as => :check_boxes, :label => "Select Your Group Members"
  - if current_user.is_staff?
    = f.association :students, :collection => current_course_data.students, :as => :check_boxes
    = f.input :approved, :as => :select, :collection => [["Approved"], ["Rejected"]], :input_html => { :class => "input-sm col-lg-3" }

  .form-actions.col-lg-offset-3
    = f.button :submit, :class => "btn-primary"
    = link_to 'Cancel', groups_path, :class => 'btn btn-info'
