.small-12.panel.mainContent
  / Groups Navigation
  = content_nav_for Group, "Editing #{@group.name}" do
    %li= link_to "See All #{term_for :groups}", groups_path, :class => "button tiny radius"

  .small-12.columns
    %h2= @title

    %hr
    = render 'form'

  .clearfix