.small-12.panel.mainContent
  / Groups Navigation
  = content_nav_for Group, "Editing #{@group.name}" do
    = render "tabs"

  .small-12.columns

    %h2= @title

    %hr
    = render 'form'

  .clearfix