.mainContent
  / Groups Navigation
  = content_nav do
    = render "tabs"

  .pagetitle= @title

  .small-12.columns  

    %table.responsive.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "string"} Group Name
          %th.sortable{"data-sort" => "string"}= "#{current_course.user_term}s"
          %th.sortable{"data-sort" => "string"} Status
          %th.sortable{"data-sort" => "string"} Assignments
          %th.button-column
      %tbody
        - @groups.each do |group|
          %tr
            %td= link_to group.name, group_path(group)
            %td
              - group.group_memberships.each do |gm|
                %li= link_to gm.student.name, student_path(gm.student)
            %td= group.approved
            %td
              - group.assignment_groups.each do |ag|
                %li= link_to ag.assignment.name, ag.assignment
            %td
              .button-bar
                %ul.button-group.round.right
                  %li= link_to "See #{term_for :group}", group_path(group), :class => 'button tiny secondary'
                  %li= link_to 'Edit', edit_group_path(group), :class => 'button tiny secondary'
                  %li= link_to 'Delete', group_path(group), :class => 'button tiny secondary', :data => { confirm: 'Are you sure?' }, :method => :delete

  .clearfix