= content_nav_for Group do
  %li= link_to "New #{term_for :group}", new_group_path(@assignment), :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title

%table.table.display.table-striped.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Group Name
      %th.sortable{"data-sort" => "string"}= "#{current_course.user_term}s"
      %th.sortable{"data-sort" => "string"} Status
      %th.sortable{"data-sort" => "string"} Assignments
      %th
      %th
      %th
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to group.name, group_path(group)
        %td
          - group.group_memberships.each do |gm|
            %li= link_to gm.student.name, gm.student
        %td= group.approved
        %td
          - group.assignment_groups.each do |ag|
            %li= link_to ag.assignment.name, ag.assignment
        %td= link_to "See #{term_for :group}", group_path(group), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Edit', edit_group_path(group), :class => 'btn btn-tiny btn-info'
        %td= link_to 'Delete', group_path(group), :class => 'btn btn-tiny btn-warning', :data => { confirm: 'Are you sure?' }, :method => :delete
