.small-12.panel.mainContent
  / Group Navigation
  - if current_user.is_staff?
    = content_nav_for Group, "Create A New #{term_for :group}" do
      %li= link_to "See All #{term_for :groups}", groups_path, :class => "button tiny radius"
  - else
    = content_nav_for "Create A New #{term_for :group}" do
      %li= link_to "My Dashboard", dashboard_path, :class => "button tiny radius"

  .small-12.columns
    %h2= @title
    = render 'form'

  .clearfix
