.small-12.panel.mainContent
  / Group Navigation
  = content_nav do
    - if current_user.is_staff?
      = render "tabs"
    - else
      = render "students/student_profile_tabs"

  .pagetitle= @title

  .small-12.columns
    = render 'form'

  .clearfix
