.small-12.panel.mainContent
  / Group Navigation
  - if current_user.is_staff?
    = content_nav_for Group, "Create A New #{term_for :group}" do
      = render "tabs"
  - else
    = content_nav_for "Create A New #{term_for :group}" do
      = render "students/student_profile_tabs"

  .small-12.columns
    %h2= @title
    = render 'form'

  .clearfix
