.small-12.panel.mainContent
  / Group Navigation
  = content_nav do
    - if current_user.is_staff?
      = render "tabs"
    - else
      = render "students/student_profile_tabs"

  .pagetitle= "#{term_for :group}: #{@group.name}"

  .small-12.columns

    %hr

    %h3 Assignment(s)
    %ul
      - @group.assignment_groups.each do |ag|
        %li= link_to ag.assignment.name, ag.assignment

    %h3 Members: 
    %ul
      - @group.group_memberships.each do |gm|
        - if current_user.is_staff?
          %li= link_to gm.student.name, student_path(gm.student)
        - else
          %li= gm.student.name

    - if @group.text_proposal?
      %h3 Proposal:
      %p= raw @group.try(:proposal)

  .clearfix