= content_nav_for @group do
  %li= link_to "Edit #{@group.name}", edit_group_path(@group)
  %li= link_to 'See All Groups', groups_path

.info
  %p
    %b Group Name:
    = @group.name

  %p
    %b Assignment:

  %p
    %b Proposal:
    = raw @group.text_proposal

  %p
    %b Members:
  - @group.group_memberships.each do |gm|
    %li= link_to gm.student.name, gm.student