%table.table.table-striped
  %thead
    %tr
      %th#icon Icon
      %th#description Description
      %th Tasks
      - if current_course.valuable_badges?
        %th Value
      %th#check Earned?
      - if current_course.shared_badges?
        %th Share this with the class?
  %tbody
    - @badges.each do |badge|
      %tr
        %td
          %img{:src => badge.icon, :alt => badge.name}
        %td
          = link_to badge.name, badge_path(badge)
          = badge.description
        %td
          %ul
            - badge.tasks.each do |task|
              %li= task.name
        - if current_course.valuable_badges?
          %td= number_with_delimiter(badge.value)
        %td
          - if badge.earned_badge_for_student(@user)
            %img{:src => "/icons/icn_check.png", :alt => "You've earned this badge!" }
            = badge.earned_badge_for_student(@user).created_at.strftime("%A, %B %d")
            %br
            = badge.earned_badge_for_student(@user).feedback
        - if current_course.shared_badges?
          %td
            - if badge.earned_badge_for_student(@user)
              %input{ :type=>"checkbox" }