%ul.tabs
  %li.active
    %a{ "data-toggle" => "tab", "data-target" => "#tabb1"} My #{term_for :badges}
  - if current_course.shared_badges?
    %li
      %a{ "data-toggle" => "tab", "data-target" => "#tabb2"} Class #{term_for :badges}
%br
%br
.tab-content
  .tab-pane#tabb1.active
    %table.table.table-striped.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "string"} Icon
          %th.sortable{"data-sort" => "string"} Description
          %th.sortable{"data-sort" => "string"} Tasks
          - if current_course.valuable_badges?
            %th.sortable{"data-sort" => "string"} Value
          %th.sortable{"data-sort" => "string"} Earned?
          - if current_course.shared_badges? && current_student.badges_shared(current_course)
            %th Share this with the class?
      %tbody
        - current_course.badges.includes(:tasks).with_earned_badge_info_for_student(current_student).each do |badge|
          %tr
            %td= image_tag badge.icon, :alt => badge.name, :width => 40
            %td
              = link_to badge.name, badge_path(badge)
              = badge.description
            %td
              %ul
                - badge.tasks.each do |task|
                  %li= task.name
            - if current_course.valuable_badges?
              %td= points badge.point_total
            %td
              - if badge.earned_at.present?
                %img{:src => "/icons/icn_check.png", :alt => "You've earned this badge!" }
                = badge.earned_at.strftime("%A, %B %d")
                %br
                = badge.earned_badge_for_student(current_student).try(:feedback)
            - if current_course.shared_badges? && current_student.badges_shared(current_course)
              %td
                - if badge.earned_badge_for_student(current_student)
                  - @earned_badge = EarnedBadge.find_by badge_id: badge.id
                  %div{:class=>"share_badge", :data => { badge_id: badge.id.to_s, earned_badge_id: @earned_badge.id.to_s}}
                    - if @earned_badge.shared
                      %a.btn{:id => 'shared_' + badge.id.to_s, :class=>"btn-warning btn-primary btn-small"} Stop Sharing
                    - else
                      %a.btn{:id => 'shared_' + badge.id.to_s, :class=>"btn-success btn-primary btn-small"} Share

  .tab-pane#tabb2
    = render "users/public_class_badges"