= simple_form_for(@user, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :username, :input_html => { :class => "col-lg-4"}
  = f.input :email, :input_html => { :class => "col-lg-4"}
  = f.input :first_name, :input_html => { :class => "col-lg-4"}
  = f.input :last_name, :input_html => { :class => "col-lg-4"}
  - if !@user.persisted?
    = f.input :password, :as => :password, :input_html => { :class => "col-lg-4"}
    = f.input :password_confirmation, :as => :password, :input_html => { :class => "col-lg-4"}
  - if current_user.is_admin?
    = f.input :role, :collection => [["Student", "student"],["GSI", "gsi"],["Professor", "professor"],["Admin", "admin"]], :prompt => "Select Role", :input_html => { :class => "col-lg-4 input-sm"}
  - if current_user.is_staff? && current_course.has_teams?
    = f.association :teams, :collection => @teams, :prompt => "Select a #{current_course.team_term}", :label => "#{current_course.team_term}", :as => :check_boxes
    = f.simple_fields_for :course_memberships do |p|
      = p.input :auditing, :hint => "Will this students grades be included in the course analysis?"
    - if current_course.has_teams?
      = f.association :teams, :collection => @teams, :prompt => "Select a #{current_course.team_term}", :label => "#{current_course.team_term}", :as => :check_boxes

    = f.association :courses, :as => :check_boxes
    = f.input :default_course_id, :collection => @courses, :input_html => { :class => "col-lg-4 input-sm"}



  .form-actions.col-lg-offset-3
    = f.button :submit, :class => "btn-primary"
    = link_to 'Cancel', users_path, :class => 'btn btn-info'