= simple_form_for(@user, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :username, :input_html => { :class => "col-lg-4"}
  = f.input :email, :input_html => { :class => "col-lg-4"}
  = f.input :first_name, :input_html => { :class => "col-lg-4"}
  = f.input :last_name, :input_html => { :class => "col-lg-4"}
  = f.input :display_name
  - if !@user.persisted?
    = f.input :password, :as => :password, :input_html => { :class => "col-lg-4"}
    = f.input :password_confirmation, :as => :password, :input_html => { :class => "col-lg-4"}
  - if current_user.is_admin?
    = f.input :role, :collection => [["Student", "student"],["GSI", "gsi"],["Professor", "professor"],["Admin", "admin"]], :prompt => "Select Role", :input_html => { :class => "col-lg-4 input-sm"}
  - if current_user.is_staff?
    = f.simple_fields_for :course_memberships, @course_membership do |p|
      = p.input :auditing, :as => :boolean, :hint => "These students grades will be excluded from the course analysis", :label => "Auditing #{current_course.name}"
      = p.input :character_profile
      = p.input :shared_badges
  - if current_course.has_teams? && @user.is_student?
    - if @user.team_for_course(current_course).present?
      = f.association :course_team_ids, :collection => @teams, :prompt => "Select a #{current_course.team_term}", :label => "#{current_course.team_term}", :as => :radio_buttons, :checked => @user.team_for_course(current_course).id
    - else
      = f.association :course_team_ids, :collection => @teams, :prompt => "Select a #{current_course.team_term}", :label => "#{current_course.team_term}", :as => :radio_buttons
  - else
    = f.association :teams, :collection => @teams, :prompt => "Select a #{current_course.team_term}", :label => "#{current_course.team_term}", :as => :check_boxes

  - if current_user.is_admin?
    = f.association :courses, :as => :check_boxes
    = f.input :default_course_id, :collection => @courses, :input_html => { :class => "col-lg-4 input-sm"}



  .form-actions.col-lg-offset-3
    = f.button :submit, :class => "btn-primary"
    = link_to 'Cancel', users_path, :class => 'btn btn-info'