= form_for @user do |f|

  .panel
    %h4= "User Profile"
    .small-12.medium-4.columns
      = f.label :first_name
      = f.text_field :first_name
    .small-12.medium-4.columns
      = f.label :last_name
      = f.text_field :last_name
    - if current_user.is_admin?
      .small-12.medium-4.columns
        = f.label :role, "Select Role"
        = f.select :role, [["Student", "student"],["GSI", "gsi"],["Professor", "professor"],["Admin", "admin"]]

    .clearfix

    .small-12.medium-4.columns
      = f.label :username
      = f.text_field :username
    .small-12.medium-4.columns
      = f.label :email
      = f.text_field :email, :input_html => { :class => "small-12 medium-4 columns"}
    .small-12.medium-4.columns
      = f.label :display_name
      = f.text_field :display_name

    .clearfix

    - if !@user.persisted?
      .small-12.medium-4.columns
        = f.label :password
        = f.password_field :password, :as => :password, :input_html => { :class => "col-lg-4"}
      .small-12.medium-4.columns
        = f.label :password_confirmation
        = f.password_field :password_confirmation, :as => :password, :input_html => { :class => "col-lg-4"}

    .clearfix

  - if current_user.is_staff?
    .panel
      %h4= f.label :course_memberships, "Course Settings"
      = f.fields_for :course_memberships, @course_membership do |p|
        .small-12.medium-4.columns
          %label.checkbox{ :for => "auditing" }
            = p.label :auditing, "Auditing #{current_course.name}?"
            = p.check_box :auditing
          .clearfix
          %h6.small This student's grades will be excluded from course analysis
        .small-12.medium-4.columns
          = p.label :character_profile
          = p.text_field :character_profile
        .small-12.medium-4.columns
          %label.checkbox{ :for => "shared_badges" }
            = p.label :shared_badges, "Sharing #{term_for :badges}?"
            = p.check_box :shared_badges

      .clearfix

      - if current_course.has_teams? && @user.is_student?
        - if @user.team_for_course(current_course).present?
          .small-12.medium-4.columns
            = f.label :course_team_ids, "Select a #{ term_for :team }"
            = f.radio_button :course_team_ids, @teams
        - else
          .small-12.medium-4.columns
            = f.label :course_team_ids, "Select a #{ term_for :team }"
            = f.radio_button :course_team_ids, @teams
      - else
        .small-12.medium-4.columns
          %label.checkbox{ :for => "teams" }
            = f.label :teams, "Select a #{ term_for :team }"
            = f.check_box :teams

      - if current_user.is_admin?
        .small-12.medium-3.columns
          %label.checkbox{ :for => "courses" }
            = f.label :courses, "Courses"
            = f.check_box :courses, :as => :check_boxes

        .small-12.medium-4.columns
          = f.label :default_course_id, "Default Course"
          = f.select :default_course_id, options_from_collection_for_select(@courses, "id", "name")
          %h6.small This course will be automatically loaded when a student logs in to GradeCraft

      .clearfix


  .right
    = submit_tag "Create", :class => "button tiny radius"
    = link_to 'Cancel', users_path, :class => 'button tiny radius'