= simple_form_for @user do |f|

  .panel
    %h4.bold= "User Profile"
    .small-12.medium-4.columns.columns-no-padding
      = f.label :first_name
      = f.text_field :first_name
    .small-12.medium-4.columns
      = f.label :last_name
      = f.text_field :last_name
    - if current_user.is_admin?
      .small-12.medium-4.columns.columns-no-padding
        = f.label :role, "Select Role"
        = f.select :role, [["Student", "student"],["GSI", "gsi"],["Professor", "professor"],["Admin", "admin"]]

    .clearfix

    .small-12.medium-4.columns.columns-no-padding
      = f.label :username
      = f.text_field :username
    .small-12.medium-4.columns
      = f.label :email
      = f.text_field :email, :input_html => { :class => "small-12 medium-4 columns"}
    .small-12.medium-4.columns.columns-no-padding
      = f.label :display_name
      = f.text_field :display_name

    .clearfix

    - if !@user.persisted?
      .small-12.medium-4.columns
        = f.label :password
        = f.password_field :password, :as => :password
      .small-12.medium-4.columns
        = f.label :password_confirmation
        = f.password_field :password_confirmation, :as => :password

    .clearfix

  - if current_user.is_staff?
    .panel
      %h4.bold= "Course Settings"
      
      - if current_course.has_teams? && @user.is_student?
        .small-12.medium-4.columns.columns-no-padding
          - if @user.team_for_course(current_course).present?
            = f.input :course_team_ids, :collection => @teams, :as => :radio_buttons, :label => "Select #{term_for :team}", :checked => @user.team_for_course(current_course).id
          - else
            = f.input :course_team_ids, :collection => @teams, :as => :radio_buttons, :label => "Select #{term_for :team}"
      - elsif current_course.has_teams? && @user.is_staff?
        .small-12.medium-4.columns
          = f.input :course_team_ids, :collection => @teams, :as => :check_boxes, :label => "Select #{term_for :teams}", :checked => @user.team_for_course(current_course).try(:id)

      - if current_user.is_admin?
        .small-12.medium-4.columns
          .small-12
            = f.label :default_course_id, "Default Course"
            = f.select :default_course_id, options_from_collection_for_select(@courses, "id", "name", @user.try(:default_course_id))
            .form_label This course will be automatically loaded when a student logs in to GradeCraft

          %hr
          .small-12
            = f.association :courses, :as => :check_boxes
          .clearfix


      - if @user.is_student?
        = f.simple_fields_for :course_memberships, @course_membership do |p|
          .small-12.medium-4.columns.columns-no-padding
            .small-12.medium-12.columns
              = p.input :character_profile
            .small-12.medium-12.columns
              = p.input :auditing, :label => "Auditing"
              .clearfix
              .form_label This #{term_for :student}'s grades will be excluded from course analysis
            .small-12.medium-12.columns
              = p.input :shared_badges, :label => "Sharing #{term_for :badges}"
              .form_label This #{term_for :student}'s #{term_for :badges} will be displayed on a class leaderboard
            .clearfix

      .clearfix
      

      


  .right
    = submit_tag "#{@user.persisted? ? 'Update' : 'Create'} User", :class => "button tiny radius"
    = link_to 'Cancel', users_path, :class => 'button tiny radius transparent'