= simple_form_for(@user, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :username, :input_html => { :class => "col-lg-4"}
  = f.input :email, :input_html => { :class => "col-lg-4"}
  = f.input :first_name, :input_html => { :class => "col-lg-4"}
  = f.input :last_name, :input_html => { :class => "col-lg-4"}
  - if !@user.persisted?
    = f.input :password, :as => :password, :input_html => { :class => "col-lg-4"}
    = f.input :password_confirmation, :as => :password, :input_html => { :class => "col-lg-4"}
  - if current_user.is_staff?
    = f.input :role, :collection => [["Student", "student"],["GSI", "gsi"],["Professor", "professor"],["Admin", "admin"]], :prompt => "Select Role", :input_html => { :class => "col-lg-4 input-sm"}
    - if current_course.has_teams?
      = f.association :teams, :collection => @teams, :prompt => "Select a #{current_course.team_term}", :label => "#{current_course.team_term}", :as => :check_boxes

    = f.association :courses, :as => :check_boxes
    = f.input :default_course_id, :collection => @courses, :input_html => { :class => "col-lg-4 input-sm"}

    - if @user.is_student?
      = f.simple_fields_for(@academic_history) do |ah|
        = ah.input :student_id, :as => :hidden
        = ah.input :major, :input_html => { :class => "col-lg-4"}
        = ah.input :gpa,  :input_html => { :class => "col-lg-4"}, :label => "GPA"
        = ah.input :current_term_credits,  :input_html => { :class => "col-lg-4"}
        = ah.input :accumulated_credits,  :input_html => { :class => "col-lg-4"}
        = ah.input :year_in_school, :input_html => { :class => "col-lg-4"}
        = ah.input :state_of_residence,  :input_html => { :class => "col-lg-4"}
        = ah.input :high_school,  :input_html => { :class => "col-lg-4"}
        = ah.input :athlete, :as => :boolean, :input_html => { :class => "col-lg-4"}
        = ah.input :act_score,  :input_html => { :class => "col-lg-4"}, :label => "ACT Score"
        = ah.input :sat_score, :input_html => { :class => "col-lg-4"}, :label => "SAT Score"

  .form-actions.col-lg-offset-3
    = f.button :submit, :class => "btn-primary"
    = link_to 'Cancel', users_path, :class => 'btn btn-info'