%ul.nav.nav-tabs
  %li.active
    %a{ "data-toggle" => "tab", "data-target" => "#tab1" } Timeline
  %li
    %a{ "data-toggle" => "tab", "data-target" => "#tab2"} Calendar
  %li
    %a{ "data-toggle" => "tab", "data-target" => "#tab3"} Badges
  %li
    %a{ "data-toggle" => "tab", "data-target" => "#tab4"} Assignments
  %li
    %a{ "data-toggle" => "tab", "data-target" => "#tab5"} Grade Predictor
.tab-content
  .tab-pane#tab1.active
    = render "users/timeline"
  .tab-pane#tab2
    = render "users/calendar"
  .tab-pane#tab3
    = render "users/badges"
  .tab-pane#tab4
    = render "users/syllabus"
  .tab-pane#tab5
    = render "users/predictor"