%h4
  - if current_user.is_student?
    Your current score is
  - elsif current_user.is_staff?
    Current Score:
  %span#userScoreNum #{points current_student_data.score}/#{points current_student_data.point_total}
  - if current_student_data.grade_level
    Current Level:
    %span#userScoreNum= current_student_data.grade_level
%ul.nav.nav-tabs
  %li.active
    = link_to 'Assignments', '#', data: { toggle: 'tab', target: '#syllabus' }
  %li
    %a{ "data-toggle" => "tab", "data-target" => "#timeline" } Timeline
  - if current_course.grading_philosophy.present?
    %li
      %a{ "data-toggle" => "tab", "data-target" => "#grading-philosophy"} Grading Philosophy
  - if current_course.predictor_on?
    %li
      %a{ "data-toggle" => "tab", "data-target" => "#predictor"} Grade Predictor
  - if current_course.has_badges?
    %li
      %a{ "data-toggle" => "tab", "data-target" => "#badges"} #{current_course.badge_term.pluralize}
  - if current_course.teams_visible?
    %li
      %a{ "data-toggle" => "tab", "data-target" => "#leaderboard"} #{term_for :teams}
.tab-content
  .tab-pane#syllabus.active
    = render "users/syllabus"
  .tab-pane#timeline
    = render "users/timeline"
  - if current_course.grading_philosophy.present?
    .tab-pane#grading-philosophy
      = render "users/grading_philosophy"
  - if current_course.predictor_on?
    .tab-pane#predictor
      = render "users/predictor"
  - if current_course.has_badges?
    .tab-pane#badges
      = render "users/badges"
  - if current_course.teams_visible?
    .tab-pane#leaderboard
      = render "teams/leaderboard"
