.col-lg-12
  #data-predictor{'data-predictor' =>  @predictions.to_json}
  -##data-predictor{ 'data-predictor' => render(:partial => 'timeline', :handlers => [:jbuilder], :formats => [:js])}
  %br
  %h4
    - if current_user.is_student?
      Your current score is
    - elsif current_user.is_staff?
      Current Score:
    %span#userScoreNum #{points current_student_data.score}/#{points current_student_data.point_total}
    Current Level:
    %span#userScoreNum= current_student_data.grade_level
  .charts.dashboard-charts(class="#{current_course.graph_display? ? 'stacked-charts' : 'toggle-charts' }")
    .chart-wrapper.user-bar-in-progress-chart
      .chart#userBarInProgress
      = link_to '#', 'data-shows' => '.user-bar-total-chart', class: 'dashboard-toggle' do
        Show me my score out of the total course points
    .chart-wrapper.user-bar-total-chart
      .chart#userBarTotal
      = link_to '#', 'data-shows' => '.user-bar-in-progress-chart', class: 'dashboard-toggle' do
        Show me my score out of the points available points so far

  %hr
