.col-lg-12
  #userID{ :'data-user-id' => current_student.id }
  %br
  %h4
    - if current_user.is_student?
      Your current score is
    - elsif current_user.is_staff?
      Current Score:
    %span#userScoreNum #{number_with_delimiter(current_student.score_for_course(current_course), :delimiter => ',')}/#{number_with_delimiter(current_student.point_total_for_course(current_course), :delimiter => ',')}
    Current Level:
    %span#userScoreNum #{current_student.grade_level_for_course(current_course)}
  .charts.dashboard-charts(class="#{current_course.graph_display? ? 'stacked-charts' : 'toggle-charts' }")
    .chart-wrapper.user-bar-in-progress-chart
      .chart#userBarInProgress
      = link_to '#', 'data-shows' => '.user-bar-total-chart', class: 'dashboard-toggle' do
        Show me my score out of the total course points
    .chart-wrapper.user-bar-total-chart
      .chart#userBarTotal
      = link_to '#', 'data-shows' => '.user-bar-in-progress-chart', class: 'dashboard-toggle' do
        Show me my score out of the points available points so far

  %hr