.btn.btn-info.col-lg-12.col-md-12.col-sm-12.col-xs-12
  %h5= current_course.name
  %p
    %b Professor
  - if current_course.phone.present?
    %p
      %b Phone Number:
      = current_course.phone
  - if current_course.class_email.present?
    %p
      %b Class Email:
      = mail_to current_course.class_email, current_course.class_email
  - if current_course.twitter_handle.present?
    %p
      %b Twitter Handle:
      = link_to current_course.twitter_handle, "http://www.twitter.com/#{current_course.twitter_handle}"
  - if current_course.twitter_hashtag.present?
    %p
      %b Hashtag:
      = link_to current_course.twitter_hashtag, "http://www.twitter.com/#{current_course.twitter_hashtag}"
  - if current_course.meeting_times.present?
    %b Classes Meet:
    %br= current_course.meeting_times
    %br= current_course.location
  - if current_course.office.present?
    %p
    %b Professor's Office:
    = current_course.office
  - if current_course.office_hours.present?
    %p
      %b Office Hours:
      = current_course.office_hours
