.col.col-lg-12.col-md-12.col-sm-12.col-xs-12.center.badge-info#todo{"data-target" => "#toDoList", "data-toggle" => "collapse"}
  %h4.center Due This Week
  %div{:id => "toDoList", :class => "collapse clear"}
    - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
      - if assignment_type.has_soon_assignments? && assignment_type.name != "Attendance"
        %h5= "#{assignment_type.try(:name)}"
        - assignments.each do |assignment|
          - if assignment.soon? && assignment.assignment_type.name != "Attendance"
            - if current_student.submission_for_assignment(assignment)
              %div.submitted
                = "#{assignment.try(:name)}"
                %div= "Due: #{assignment.try(:due_at).strftime("%b-%d")}"
            - else
              %div
                = "#{assignment.try(:name)}"
                %div= "Due: #{assignment.try(:due_at).strftime("%b-%d")}"
