.btn.btn-info.col-sm-12.col-md-12.col-lg-12.col-xs-12#badges
  %h4.center Badges
  #badgeIcons
    - @badges.each do |badge|
      - @user.earned_badges.where(badge: badge).first.tap do |earned_badge|
        - if earned_badge
          .badgeIcon
            - if current_course.valuable_badges?
              %a{:href => "#", :rel => "tooltip", :title => "#{badge.try(:name)}, #{badge.try(:point_total)} points"}
                %img{:src => badge.try(:icon), :alt => "You've earned the #{badge.try(:name)} badge", :class => "earned"}
            - else
              %a{:href => "#", :rel => "tooltip", :title => "#{badge.try(:name)}"}
                %img{:src => badge.try(:icon), :alt => "You've earned the #{badge.try(:name)} badge", :class => "earned"}
        - else
          - if badge.visible?
            .badgeIcon
              - if current_course.valuable_badges?
                %a{:href => "#", :rel => "tooltip", :title => "#{badge.try(:name)}, #{badge.try(:point_total)} points"}
                  %img{:src => badge.try(:icon), :alt => "You've earned the #{badge.try(:name)} badge", :class => "unearned"}
              - else
                %a{:href => "#", :rel => "tooltip", :title => "#{badge.try(:name)}"}
                  %img{:src => badge.try(:icon), :alt => "You've earned the #{badge.try(:name)} badge", :class => "unearned"}
  .clear.center Badges you've earned will shine brightly!