.col-sm-12.col-md-12.col-lg-12.col-xs-12.center#badges.badge-success{"data-target" => "#badgesInfo" }
  -#, "data-toggle" => "collapse"}
  %h4.center= term_for :badges
  #badgesInfo.collapse.clear
    - current_course_data.badges.each do |badge|
      - if current_student_data.earned_badge?(badge)
        .badgeIcon
          - if current_course.valuable_badges?
            %a{:href => "#", :rel => "tooltip", :title => "#{badge.name}, #{badge.point_total} points"}
              %img{:src => badge.icon, :alt => "You've earned the #{badge.name} badge", :class => "earned"}
          - else
            %a{:href => "#", :rel => "tooltip", :title => "#{badge.name}"}
              %img{:src => badge.icon, :alt => "You've earned the #{badge.name} badge", :class => "earned"}
      - else
        - if badge.visible?
          .badgeIcon
            - if current_course.valuable_badges?
              %a{:rel => "tooltip", :title => "#{badge.try(:name)}, #{badge.try(:point_total)} points"}
                %img{:src => badge.try(:icon), :alt => "You've earned the #{badge.try(:name)} badge", :class => "earned"}
            - else
              %a{:rel => "tooltip", :title => "#{badge.try(:name)}"}
                %img{:src => badge.try(:icon), :alt => "You've earned the #{badge.try(:name)} badge", :class => "earned"}
        - else
          - if badge.visible?
            .badgeIcon
              - if current_course.valuable_badges?
                %a{:rel => "tooltip", :title => "#{badge.try(:name)}, #{badge.try(:point_total)} points"}
                  %img{:src => badge.try(:icon), :alt => "You've earned the #{badge.try(:name)} badge", :class => "unearned"}
              - else
                %a{:rel => "tooltip", :title => "#{badge.try(:name)}"}
                  %img{:src => badge.try(:icon), :alt => "You've earned the #{badge.try(:name)} badge", :class => "unearned"}
    .col-lg-12.clear= "#{term_for :badges} you've earned will shine brightly!"
