.badge.badge-info.col.col-lg-12
  %h5= current_course.name
  %p
    %b Professor
  %p
    %b Phone Number:
    = current_course.phone
  %p
    %b Class Email:
    = mail_to current_course.class_email, current_course.class_email
  %p
    %b Twitter Handle:
    = link_to current_course.twitter_handle, "http://www.twitter.com/#{current_course.twitter_handle}"
  %p
    %b Hashtag:
    = link_to current_course.twitter_hashtag, "http://www.twitter.com/#{current_course.twitter_hashtag}"
  %p
    %b Classes Meet:
    %br= current_course.meeting_times
    %br= current_course.location
  %p
    %b Professor's Office:
    = current_course.office
  %p
    %b Office Hours:
    = current_course.office_hours
