%div.pull-right.col.col-lg-3.sidebar
  %div.section= gravatar_for @user, :size => 300, :d => "mm"

  %div.col.col-lg-12#gradeCurious.btn.btn-primary{:title => "Current Final Grade:", "data-content" => @user.score_for_course(current_course)}
    %span.buttonTitle Check Their Final Grade

  %div.col.col-lg-12
    = render "sidebar_history"

  %div.col.col-lg-12
    = render "sidebar_work"

  %div.col.col-lg-12
    = render "sidebar_badges"

  %div.col.col-lg-12
    = render "sidebar_to_do_list"

%div.col.col-lg-9
  %div.section.col.col-lg-12
    = render "users/scoreboard"
  %div.col.col-lg-12
    = render "users/main_tabs"