.pull-right.col.col-lg-3.sidebar
  = gravatar_for @user, :size => "240", :d => "mm"
  .section.center
    = link_to @user.email, "mailto:#{@user.email}"
    - @user.team_leader.tap do |team_leader|
      - if team_leader.present?
        = link_to "Email #{current_course.section_leader_term} (#{team_leader.first_name})", "mailto:#{team_leader.email}", :class => "btn btn-tiny btn-success btn-info"

  .sidebar_section= render "sidebar_class_info"

  .sidebar_section= render "sidebar_history"

  .sidebar_section= render "sidebar_work"

  - if current_course.has_badges?
    .sidebar_section= render "sidebar_badges"

  .sidebar_section= render "sidebar_to_do_list"

.col.col-lg-9
  .section.col.col-lg-12
    = render "users/scoreboard"
  .col.col-lg-12
    = render "users/main_tabs"