.sidebar_section= render "users/sidebar_class_info"

.sidebar_section= render 'users/sidebar_grade'

.sidebar_section= render 'users/sidebar_grade_distribution'

- if current_course.has_badges?
  .sidebar_section= render 'users/sidebar_badges'

.sidebar_section= render 'users/sidebar_to_do_list'
