.pull-right.col.col-lg-3.sidebar
  = render 'users/sidebar_grade'

  .sidebar_section= render 'users/sidebar_work'

  - if current_course.has_badges?
    .sidebar_section= render 'users/sidebar_badges'

  .sidebar_section= render 'users/sidebar_to_do_list'

  .sidebar_section
    #grade_distro

.col.col-lg-9
  .section.col.col-lg-12
    = render "users/scoreboard"
    = render "users/main_tabs"
