- if current_user.is_staff?
  = content_nav_for @user do
    %li= link_to "See All #{current_course.user_term}s", students_users_path, :class => "btn btn-tiny btn-info"
    %li= link_to "Edit #{@user.name}'s Profile", edit_user_path(@user), :class => "btn btn-tiny btn-info"

  = render 'staff_view_student_dashboard'

- elsif current_user.is_student?
  = render 'users/student_view_student_dashboard'
