.col.col-lg-12
  - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
    .col.col-lg-12
      %button.btn.btn-primary.col.col-sm-12.col-lg-12{"data-target" => "#assignment_type-#{assignment_type.id}", "data-toggle" => "collapse"} #{assignment_type.try(:name)} - #{ number_with_delimiter(@user.score_for_assignment_type(assignment_type))} /

      .collapse{:id => "assignment_type-#{assignment_type.id}"}
        %span.badge.badge-info.pull-right.col.col-lg-4.col-sm-12
          = number_with_delimiter(@user.score_for_assignment_type(assignment_type))
          = "/"
          //= " #{number_with_delimiter(assignment_type.point_total_for_student(@user))} possible points"

        - if assignment_type.student_weightable?
          = render "users/assignment_weights"

        - assignments.each do |assignment|
          .col.col-lg-12
            %h5= assignment.name
            - if assignment.is_required?
              %span.label.label-important Required!
            - if assignment.future?
              = "| Due: #{assignment.try(:due_at).strftime("%A, %B %d")}"
              = raw assignment.description
            .grade
              = render "users/grade", assignment: assignment
            - if assignment.submissions_allowed?
              .submission
                = render "users/submissions", assignment: assignment