- @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
  .col.col-lg-12.col.col-xs-12.col-md-12.col-sm-12
    %button.btn.btn-success.col.col-xs-12.col-md-12.col-sm-12.col-lg-12{"data-target" => "#assignment_type-#{assignment_type.id}", "data-toggle" => "collapse"} #{assignment_type.try(:name)} +#{ number_with_delimiter(@user.score_for_assignment_type(assignment_type))}
    .collapse{:id => "assignment_type-#{assignment_type.id}"}
      %span.badge.badge-info.pull-right.col.col-lg-4.col-sm-12.clear
        = number_with_delimiter(@user.score_for_assignment_type(assignment_type))
        = "/"
        = " #{number_with_delimiter(@user.point_total_for_assignment_type(assignment_type))} possible points"
      - if assignment_type.student_weightable?
        .clear
        %br
        %span.pull-right.btn.badge-primary= link_to "Set #{current_course.weight_term}"
        %a{:href => "#weight_for_assignment_type-#{assignment_type.id}", :role => "button", :class => "btn btn-info btn-tiny", "data-toggle" => "modal"} Set Weight
        //= render "users/assignment_weights", assignment_type: assignment_type, student: @user.id
      %p= raw assignment_type.predictor_description
      - assignments.each do |assignment|
        .col.col-lg-12.col-sm-12.col-xs-12.col-md-12.clear
          %span.assignmentName= assignment.name
          %span.points= "("
          - if assignment.grade_for_student(@user).present? && assignment.grade_for_student(@user) > 0
            %span.points.earned= "#{number_with_delimiter(assignment.grade_for_student(@user))} "
            %span.points= "/"
          - elsif assignment.grade_for_student(@user).present?
            %span.points.missed= "#{number_with_delimiter(assignment.grade_for_student(@user))}  / "
          %span.points.total= "#{number_with_delimiter(assignment.point_total)} points )"
          - if assignment.future?
            %span.italic= " • Due: #{assignment.try(:due_at).strftime("%A, %B %d")}"
          - if assignment.accepts_submissions?
            = render "users/submissions", assignment: assignment
          - if assignment.is_required?
            %span.label.label-important Required!
          - if assignment.self_gradeable?
            = simple_form_for([assignment, grade], :html => {:class => 'form-horizontal' }) do |f|
              = f.button :submit, "Submit", :input_html => { :type => "button", :class => "btn btn-primary", "data-toggle" => "button" }
          - if assignment.has_groups?
            = link_to "Create a Group", new_group_path, :class => "btn btn-primary btn-sm"
          %p= raw assignment.description
          = render "users/grade", assignment: assignment
