%li{class: ("active" if current_page?(users_path)) }
  = link_to_unless_current "All Users", users_path
%li{class: ("active" if current_page?(students_path)) }
  = link_to_unless_current "#{term_for :students}", students_path
%li{class: ("active" if current_page?(staff_index_path)) }
  = link_to_unless_current "Staff", staff_index_path
%li{class: ("active" if current_page?(new_user_path)) }
  = link_to_unless_current "Create a New User", new_user_path
%li
  = link_to_unless_current "Download Roster", students_path(format: 'csv')
- if @user.present? && @user.persisted?
  %li{class: ("active" if current_page?(edit_user_path(@user))) }
    = link_to_unless_current "Editing #{@user.name}", edit_user_path