= content_nav_for "Edit My Profile" do
  %li= link_to "My Dashboard", dashboard_path, :class => "btn btn-info btn-tiny"

%p
.col-lg-offset-3
  = gravatar_for @user, :size => 250
  %p
    Need a Gravatar?
    = link_to "Get One Here!", "https://en.gravatar.com/"

.col-lg-12
  = simple_form_for(@user, method: :put, :html => {:class => 'form-horizontal' }, :url => update_profile_users_path(@user)) do |f|
    = f.input :email
    = f.input :first_name
    = f.input :last_name
    - if current_course.teams_visible?
      = f.input :display_name, :label => "Pseudonym", :hint => "What would you like your name to be on the leaderboards?"
    //= f.input :private_display, :label => "Private Browsing", :hint => "For privacy purposes would you like to hide all identifying information (name and email address) while browsing?"
    - if current_course.team_roles?
      = f.input :team_role, :hint => "What will you contribute to your #{term_for :team}?", :label => "#{term_for :team} Role"
    = f.simple_fields_for :course_memberships do |p|
      - if current_course.shared_badges?
        = p.input :shared_badges, :label => "Shared #{term_for :badges}", as: :boolean, :hint => "Do you want to publically display the #{term_for :badges} you earn?", :hint => "You'll still be able to decide which specific #{term_for :badges} you want to share."
      - if current_course.character_profiles?
        = p.input :character_profile, :label => "Character Profile", :hint => "This will be displayed on the #{term_for :team} leaderboard"
      // Taken out bc of cosign
      //= f.input :password
      //= f.input :password_confirmation


    .form-actions.col-lg-offset-3
      = submit_tag 'Update Settings', :class => 'btn btn-primary'
      = link_to 'Cancel', root_path, :class => 'btn btn-info'
