= content_nav_for User do
  %li= link_to "See All #{term_for :students}", students_path, :class => "btn btn-tiny btn-info"
  %li= link_to "View #{@user.name}'s Dashboard", @user, :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title
  = render 'form'
