.small-12.panel.mainContent
  / Edit user breadcrumbs
  .show-for-large-up
    = content_nav_for @user do
      = render "users/tabs"

  .hide-for-large-up{:style => "padding: 10px"}
    = mobile_nav_for @user 

  .small-12.columns

    .hide-for-large-up
      %a.radius.button.tiny.small-12.medium-4.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Select
      %ul#drop.f-dropdown
        = render "tabs"

    / Form to edit user
    %h2= @title
    = render 'form'

  .clearfix