.small-12.panel.mainContent
  / Student Index breadcrumbs
  = content_nav_for "Edit My Profile" do
    - if current_user.is_student?
      = render "students/student_profile_tabs"

  .small-12.columns    
    .small-12.columns.panel
      .small-3.columns.text-center
        = gravatar_for @user, :size => 200
        .clearfix
        %hr
        .form_label 
          Need a Gravatar?
          = link_to "Get One Here!", "https://en.gravatar.com/"

      .small-9.columns
        = simple_form_for(@user, method: :put, :url => update_profile_users_path(@user)) do |f|
          .small-12.large-4.columns
            = f.input :first_name
          .small-12.large-4.columns
            = f.input :last_name

          .small-12.large-4.columns
            = f.input :email
          - if @user.is_student?
            - if current_course.teams_visible? && (current_course.in_team_leaderboard? || current_student.team_for_course(current_course).in_team_leaderboard?)
              .small-12.large-4.columns
                = f.label :display_name, "Pseudonym"
                = f.text_field :display_name
                .form_label What would you like your name to be on the leaderboards?
            - if current_course.team_roles? 
              .small-12.large-4.columns
                = f.label :team_role, "#{term_for :team} Role"
                = f.text_field :team_role
                .form_label What will you contribute to your #{term_for :team}?"

          .small-12.medium-4.columns
            = f.label :default_course_id, "Default Course"
            = f.select :default_course_id, options_from_collection_for_select(@default_course_options, "id", "name")
            .form_label This course will be automatically loaded when you log in to GradeCraft

          
          - if @user.is_student?
            = f.simple_fields_for :course_memberships do |p|
              - if current_course.shared_badges?
                .small-12.large-4.columns
                  = p.input :shared_badges, :label => "Shared #{term_for :badges}", as: :boolean
                  .form_label Do you want to publically display the #{term_for :badges} you earn? (You'll still be able to decide which specific #{term_for :badges} you want to share.)
              - if current_course.character_profiles?
                .small-12.large-4.columns
                  = p.input :character_profile, :label => "Character Profile", :hint => "This will be displayed on the #{term_for :team} leaderboard"
            

          .clearfix

          .right
            = submit_tag 'Update Settings', :class => 'button tiny radius'
            = link_to 'Cancel', root_path, :class => 'button tiny radius transparent'

    .clearfix
