.small-12.panel.mainContent
  / User Index Navigation
  = content_nav do
    = render "tabs"

  .pagetitle= @title
  
  - if current_course.has_teams?
    .small-12.medium-4.columns.right
      = form_tag users_path, :name => "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
        = select_tag :team_id, options_for_select(current_course.teams.alpha.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select #{current_course.team_term}"

  .small-12.columns
    %table.responsive.simpleTable
      %thead
        %tr
          %th
          %th.sortable{"data-sort" => "string"} First Name
          %th.sortable{"data-sort" => "string"} Last Name
          %th.sortable{"data-sort" => "string"} Email
          %th.sortable{"data-sort" => "string"} Role
          %th.sortable{"data-sort" => "string"} #{term_for :team}
          %th.sortable{"data-sort" => "int"} Score
          %th.button-column
      %tbody
        - @users.each do |user|
          %tr
            %td
              %a{:href => "mailto:#{user.email}" }
                %i.fi-mail
            %td
              = link_to user.first_name, student_path(user) if user.is_student?
              = link_to user.first_name, staff_path(user) if user.is_staff?
            %td
              = link_to user.last_name, student_path(user) if user.is_student?
              = link_to user.last_name, staff_path(user) if user.is_staff?
            %td= user.email
            %td= user.role.capitalize
            %td
              - user.teams.each do |team|
                = link_to team.name, team
            %td
              - if user.is_student?
                = points user.score_for_course(current_course) if user.respond_to?(:grades)
            %td
              .button-bar
                %ul.button-group.right.round
                  %li
                    = link_to "Dashboard", student_path(user), :class => 'button tiny alert' if user.is_student?
                    = link_to "Dashboard", staff_path(user), :class => 'button tiny alert' if user.is_staff?
                  %li= link_to 'Edit', edit_user_path(user), :class => 'button tiny alert'
                  %li= link_to 'Delete', user, :class => 'button tiny alert', :data => { confirm: 'This will delete the student from GradeCraft - Are you sure?' } , :method => :delete

  .clearfix