= content_nav_for User do
  %li= link_to "Create a New #{current_course.user_term}", new_user_path, :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title

  - if current_course.has_teams?
    .filters.col.col-lg-5.col-sm-5.col-md-5
      = form_tag students_users_path, :method => :get do
        = select_tag :team_id, options_for_select(current_course.teams.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select a #{current_course.team_term}", :class => "col col-lg-9 col-sm-8 col-md-9 col-xs-9 input-sm teamfilter"
        = submit_tag 'Filter', :class => 'btn btn-sm btn-primary col col-lg-2 col-sm-3 col-md-2 col-xs-2 pull-right'

%table.table.table-striped.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Name
      %th.sortable{"data-sort" => "string"} Email
      %th.sortable{"data-sort" => "string"} Role
      %th.sortable{"data-sort" => "string"} Team
      %th.sortable{"data-sort" => "int"} Score
      %th.sortable{"data-sort" => "int"} Logins
      - if current_course.has_badges?
        %th.sortable{"data-sort" => "string"} Badges Earned
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user_path(user)
        %td= user.email
        %td= user.role
        %td
          - user.teams.each do |team|
            = team.name
        %td= user.score_for_course(current_course) if user.is_student?
        %td= user.visit_count
        - if current_course.has_badges?
          %td
            - user.earned_badges.each do |badge|
              %img{:src => asset_path(badge.icon), :alt => badge.name, :width => "25"}
        %td= link_to 'Edit', edit_user_path(user), :class => 'btn btn-tiny btn-info'
        %td= link_to 'Delete', user, :class => 'btn btn-tiny btn-warning', :data => { confirm: 'This will delete the student from GradeCraft - Are you sure?' } , :method => :delete
