.small-12.panel.mainContent
  / New user navigation
  = content_nav_for User do
    %li= link_to 'See All Users', users_path, :class => "button tiny radius"

  .small-12.columns
    / Form for creating a new user
    %h2= "Create a New #{term_for(:student)}"
    = render 'form'

  .clearfix