= content_nav_for User, "Staff" do
  %li= link_to 'See All Users', users_path, :class => "btn btn-tiny btn-info"
  %li= link_to 'Create a New Staff Member', new_user_path, :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title

%table.table.display.table-striped.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Username
      %th.sortable{"data-sort" => "string"} Name
      %th.sortable{"data-sort" => "string"} Role
      %th.sortable{"data-sort" => "string"} Team
      %th.sortable{"data-sort" => "string"} Score
      %th.sortable{"data-sort" => "string"} Badges Earned
      %th
      %th
  %tbody
    - current_course.users.each do |user|
      - if user.is_staff?
        %tr
          %td= user.username
          %td= link_to user.name, user_path(user)
          %td= user.role
          %td
            - user.teams.each do |team|
              = team.try(:name)
              %br
          %td
            //= user.team.try(:score)

          %td
            //- user.team_badges.each do |badge|
            //%img{:src => asset_path(badge.icon), :alt => badge.name, :width => "25"}
          %td= link_to 'Edit', edit_user_path(user), {:class => 'btn btn-tiny btn-success'}
          %td= link_to 'Delete', user, :class => 'btn btn-tiny btn-success', :data => { confirm: 'Are you sure?'}, :method => :delete
