- if current_user
  - if current_course
    = render "info/#{current_user.role}_dashboard", :user => @user, :assignments => current_course.assignments
  - else
    %p Your account hasn't yet been connected to any courses. Contact us for help!
- else
  .col-lg-7
    %h2 Welcome to GradeCraft
    .lead GradeCraft is a learning management system dedicated to supporting the gameful classroom. We are actively researching and developing tools to encourage student engagement, and aid instructor workflow. GradeCraft is being developed at the University of Michigan, with the support of the Learning Analytics Taskforce. Interested in being involved? <a href="mailto:gradecraft@gmail.com">Get in touch!</a>
  .col-lg-3.well.col-lg-offset-2
    %h5 LOGIN
    %ul.nav.nav-tabs
      %li.active
        %a{ "data-toggle" => "tab", "data-target" => "#tabkerb" } UM Login
      %li
        %a{ "data-toggle" => "tab", "data-target" => "#tabgc"} GradeCraft Login
    .tab-content.login
      .tab-pane#tabkerb.active
        %ul
          - if %w(development production).include? Rails.env
            .kerberos-auth
              = form_for User.new, :url => auth_kerberos_callback_path do |f|
                %li= text_field_tag :username, nil, placeholder: 'Uniqname'
                %li= password_field_tag :password, nil, placeholder: 'Password'
                %li= f.submit 'Log in', class: 'btn btn-primary', alt: 'Log in'
      .tab-pane#tabgc
        %ul
          - if %w(test development staging).include? Rails.env
            .gradegraft-auth
              = form_for User.new, :url => user_sessions_path do |f|
                %li= f.text_field :email, placeholder: "Email"
                %li= f.password_field :password, placeholder: 'Password'
                %li= f.submit "Log in", class: 'btn btn-primary', alt: "Log in"
