.small-12.medium-2.columns
  = f.label :low_range
  = f.text_field :low_range, data: {autonumeric: true, "m-dec" => "0"}
.small-12.medium-2.columns
  = f.label :high_range
  = f.text_field :high_range, data: {autonumeric: true, "m-dec" => "0"}
.small-12.medium-3.columns
  = f.input :level
.small-12.medium-3.columns
  = f.input :letter
.small-12.medium-2.columns
  = f.input :_destroy, :as => :hidden
  = link_to 'Remove Element', '#', class: 'remove-element button alert tiny radius'
