= simple_form_for(@grade_scheme_element) do |f|
  %h5 Grade Scheme Elements

  %script(id="element-template" type="text/x-template")
    %fieldset.element
      = f.simple_fields_for :elements, GradeSchemeElement.new, child_index: 'child_index' do |ef|
        = render 'element_fields', f: ef

  %fieldset.elements
    - @grade_scheme_elements.each do |element|
      %fieldset.element
        = f.simple_fields_for :elements, element do |ef|
          = render 'element_fields', f: ef

  = link_to 'Add an Element', '#', class: 'add-element button tiny radius'


  .form-actions
    %div.btn-toolbar
      %div.btn-group
        = f.button :submit, "Update Grade Scheme", :class => "btn-primary"
      %div.btn-group
        = link_to 'Cancel', grade_scheme_elements_path, :class => 'button tiny radius'