.small-12.panel.mainContent
  / Grade Scheme Elements Navigation
  = content_nav_for "Edit #{current_course.name} Grading" do
    = render "tabs"

  .small-12.columns

    = simple_form_for @course, method: :put, :url => mass_edit_grade_scheme_elements_path(:course_id => @course) do |f|
      %script(id="element-template" type="text/x-template")
        %fieldset.element
          = f.simple_fields_for :grade_scheme_elements, GradeSchemeElement.new, child_index: 'child_index' do |ef|
            = render 'element_fields', f: ef

      %fieldset.elements.panel
        - @grade_scheme_elements.order_by_high_range.each do |element|
          %fieldset.element
            = f.simple_fields_for :grade_scheme_elements, element do |ef|
              = render 'element_fields', f: ef

        = link_to 'Add an Element', '#', class: 'add-element button tiny radius'


      .right
        = f.button :submit, :class => "button tiny radius"
        = link_to 'Cancel', grade_scheme_elements_path, :class => 'button tiny radius transparent'

  .clearfix