= f.input :low_range, :input_html => {:class => 'col-lg-2'}
= f.input :high_range
= f.input :level
= f.input :letter
= f.input :_destroy, :as => :hidden
= link_to 'Remove Element', '#', class: 'remove-element btn btn-info'
