= simple_form_for(@grade_scheme, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name, :as => :string
  = f.input :description, :as => :text, :input_html => { :style => "width: 90%; height: 200px;"}

  .col-lg-offset-3
    %h5 Grade Scheme Elements

    %script(id="element-template" type="text/x-template")
      %fieldset.element
        = f.simple_fields_for :elements, GradeSchemeElement.new, child_index: 'child_index' do |ef|
          = render 'element_fields', f: ef

    %fieldset.elements
      - @grade_scheme.elements.each do |element|
        %fieldset.element
          = f.simple_fields_for :elements, element do |ef|
            = render 'element_fields', f: ef

    = link_to 'Add an Element', '#', class: 'add-element btn btn-info'


    .form-actions
      %div.btn-toolbar
        %div.btn-group
          = f.button :submit, :class => "btn-primary"
        %div.btn-group
          = link_to 'Cancel', grade_schemes_path, :class => 'btn btn-info'