= f.input :letter, :label => "Letter Grade"
= f.input :level, :label => "Level"
= f.input :description, :label => "Description"
= f.input :low_range, :label => "Low Range"
= f.input :high_range, :label => "High Range"
= f.hidden_field :_destroy, class: 'destroy'
= link_to 'Remove Element', '#', class: 'remove-element'