= content_nav_for @grade_scheme do
  %li= link_to "Edit #{@grade_scheme.name}", edit_grade_scheme_path(@grade_scheme), :class => "btn btn-tiny btn-info"
  %li= link_to 'See All Grade Schemes', grade_schemes_path, :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @grade_scheme.name

  %p= @grade_scheme.description

  %h4 Scheme Elements: (#{link_to 'Add element', edit_grade_scheme_path(@grade_scheme)})

%table.display.table-striped.table
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Name
      %th.sortable{"data-sort" => "int"} Low Range
      %th.sortable{"data-sort" => "int"} High Range
      %th.sortable{"data-sort" => "string"} Letter Grade
      %th
      %th
  %tbody
    - @grade_scheme.elements.each do |element|
      %tr
        %td #{element.level}
        %td #{number_with_delimiter(element.low_range, :delimiter => ',') }
        %td #{number_with_delimiter(element.high_range, :delimiter => ',') }
        %td #{element.letter}
        %td= link_to "Edit", edit_grade_scheme_path(@grade_scheme.id)
        %td= link_to "Delete", grade_scheme_grade_scheme_element_path(@grade_scheme.id, element.id), :data => { :confirm => 'Are you sure?' }, :method => :delete
