= simple_form_for([@assignment, @submission], :html => {:class => 'form-horizontal' }) do |f|
  - if @assignment.has_groups? && current_user.is_student?
    = f.input :group_id, :input_html => { :value => current_student.group_for_assignment(@assignment).id }, :as => :hidden
  - elsif @assignment.has_groups? && current_user.is_staff?
    = f.input :group_id, :input_html => { :value => @group.id }, :as => :hidden
  = f.simple_fields_for :submission_files, @submission.submission_files.new do |sff|
    = sff.input :filename, as: :file
  = f.input :link, :hint => "Where is the assignment located on the web?", :input_html => {:class => 'col col-lg-8' }
  = f.text_area :text_comment, :class => :ckeditor, :input_html => { :ckeditor => {:toolbar => "Mini", :id => 'some-textarea', :class => 'span12', :maxlength => 1000} }, :label => "Comment. Note this must be <strong>TEXT ONLY</strong>"

  %br
  .form-actions.col-lg-offset-3
    .btn-toolbar
      .btn-group
        = f.button :submit, "Submit", :class => "btn-primary"
      .btn-group
        = link_to 'Cancel', assignment_path(@assignment), :class => 'btn btn-info'
