%div.s3_uploader
  = s3_uploader_form key: upload_url('submisssion_files', @assignment), acl: "private", max_file_size: 40.megabytes do
    = file_field_tag :file
  %div#uploaded_files Uploaded:
  %div.upload.s3_progress
    Progress:
    %div.progress
      %div.bar

= simple_form_for([@assignment, @submission], :html => {:class => 'form-horizontal' }) do |f|
  - if @assignment.has_groups? && current_user.is_student?
    = f.input :group_id, :input_html => { :value => current_student.group_for_assignment(@assignment).id }, :as => :hidden
  - elsif @assignment.has_groups? && current_user.is_staff?
    = f.input :group_id, :input_html => { :value => @group.id }, :as => :hidden
  - elsif @assignment.is_individual? && current_user.is_staff?
    = f.input :student_id, :input_html => { :value => @student.id }, :as => :hidden
  = f.simple_fields_for :submission_files, @submission.submission_files.new do |sff|
    = sff.input :filepath, :input_html => { :class => 's3_files' }, :as => :hidden
  = f.input :link, :hint => "Where is the assignment located on the web?", :input_html => {:class => 'col col-lg-8' }
  = f.bootsy_area :text_comment

  %br
  .form-actions
    .btn-toolbar
      .btn-group
        = f.button :submit, "#{@submission.persisted? ? 'Update' : 'Create'} Submission", :class => "button tiny radius"
      .btn-group
        = link_to 'Cancel', assignment_path(@assignment), :class => 'button tiny radius'
