- @assignment.grade_for_student(current_student).tap do |grade|
  - if grade && grade.assignment.release_necessary && grade.is_released? || grade && ! grade.assignment.release_necessary || grade && current_user.is_staff?
    %hr
    %h4 Grade
    .small-12
      .heading.small-2 Score:
      = points grade.score
      - if grade.grade_files.present?
        .heading.small-2 Documents:
        - grade.grade_files.each do |gf|
          = link_to File.basename(gf.filename), gf.url

      - if grade.feedback?
        .heading.small-12 Feedback:
        = raw grade.feedback

      - if grade.earned_badges.present?
        .heading= "#{term_for :badges}:"
        - grade.earned_badges.each do |badge|
          %img{:src => badge.try(:icon), :alt => badge.name, :width => "40", :height => "40"}

      - if grade.assignment.release_necessary?
        .heading.clear Status:
        = grade.status
%br
