- @assignment.grade_for_student(@submission.student).tap do |grade|
  - if grade && grade.assignment.release_necessary && grade.is_released? || grade && ! grade.assignment.release_necessary || grade && current_user.is_staff?
    %hr
    .small-12
      %h5
        Score:
        %span.bold= points grade.score
      - if grade.grade_files.present?
        %h5 Documents:
        - grade.grade_files.each do |gf|
          //= link_to File.basename(gf.filename), gf.url



      - if grade.earned_badges.present?
        %h5= "#{term_for :badges}:"
        - grade.earned_badges.each do |badge|
          %img{:src => badge.try(:icon), :alt => badge.name, :width => "40", :height => "40"}

      - if grade.assignment.release_necessary?
        %h5
          Status:
          %span.bold= grade.status

      - if grade.feedback?
        %h5
          Feedback:
        %p= raw grade.feedback
%br
