.small-12.panel.mainContent
  / Submissions Navigation
  - if current_user.is_staff?
    = content_nav_for @assignment, Submission, "Edit Submission" do
      %li= link_to 'See All Submissions', assignment_path(@assignment), :class => "button tiny radius"
  - else
    = content_nav_for @assignment, "Edit Submission" do
      - if current_course.use_timeline?
        %li= link_to "Timeline", dashboard_path, :class => "button tiny radius"
      %li= link_to "Syllabus", syllabus_path, :class => "button tiny radius"
      - if current_course.grading_philosophy.present?
        %li= link_to "Grade Philosophy", grading_philosophy_path, :class => "button tiny radius"
      - if current_course.predictor_on?
        %li= link_to "Grade Predictor", predictor_path, :class => "button tiny radius"
      - if current_course.has_badges?
        %li= link_to "#{term_for :badges}", my_badges_path, :class => "button tiny radius"
      - if current_course.has_teams? && current_course.teams_visible?
        %li= link_to "#{term_for :teams}", my_team_path, :class => "button tiny radius"
      %li= link_to "See Submission", assignment_submission_path(@assignment, @submission, :student_id => @submission.student_id), :class => "button tiny radius"

  .small-12.columns
    %h2= "#{@title}"

    - if @assignment.description?
      %p
        %b Description:
        = raw @assignment.description

    - if @assignment.open_at?
      %p
        %b Open date:
        = @assignment.open_at

    - if @assignment.due_at?
      %p
        %b Close date:
        = @assignment.due_at

    - if @assignment.accepts_submissions_until?
      %p
        %b Accept submissions until:
        = @assignment.accepts_submissions_until
    - if @submission.submission_files.present?
      %p
        %b Documents:
        - @submission.submission_files.each do |sf|
          = link_to sf.filename, sf.url
          = link_to "(Remove)", remove_uploads_path({ :model => "SubmissionFile", :assignment_id => @assignment.id, :upload_id => sf.id } )

    - if @assignment.has_groups?
      - if current_user.is_student?
        %h4= "You are editing the assignment submission for Group #{current_student.group_for_assignment(@assignment).name }"
      - else
        %h4= "You are editing the assignment submission for Group #{@submission.group.name }"

    = render 'form'

  .clearfix
