.small-12.panel.mainContent
  / Submissions Navigation
  = content_nav do
    = render "students/student_profile_tabs"

  .pagetitle= @title

  .small-12.columns
    - if @assignment.open_at?
      .small-12.columns.large-4.panel
        %b Open date:
        = @assignment.open_at

    - if @assignment.due_at?
      .small-12.columns.large-4.panel
        %b Close date:
        = @assignment.due_at

    .clearfix

    - if @assignment.description?
      %p= raw @assignment.description

    - if @assignment.has_groups?
      - if current_user.is_student?
        %h4= "You are editing the assignment submission for Group #{current_student.group_for_assignment(@assignment).name }"
      - else
        %h4= "You are editing the assignment submission for Group #{@submission.group.name }"

    = render 'form'

  .clearfix
