.small-12.panel.mainContent
  / Submissions Navigation
  - if current_user.is_staff?
    = content_nav_for @assignment, Submission, @title do
      %li= link_to 'See All Submissions', assignment_path(@assignment)
  - else
    = content_nav_for @assignment, "Edit My Submission" do
      = render "students/student_profile_tabs"

  .small-12.columns

    %h2= @title

    - if @assignment.open_at?
      .small-12.columns.large-4.panel
        %b Open date:
        = @assignment.open_at

    - if @assignment.due_at?
      .small-12.columns.large-4.panel
        %b Close date:
        = @assignment.due_at

    .clearfix

    - if @assignment.description?
      %p= raw @assignment.description

    - if @assignment.has_groups?
      - if current_user.is_student?
        %h4= "You are editing the assignment submission for Group #{current_student.group_for_assignment(@assignment).name }"
      - else
        %h4= "You are editing the assignment submission for Group #{@submission.group.name }"

    = render 'form'

  .clearfix
