.small-12.panel.mainContent
  / Submissions Navigation
  - if current_user.is_staff?
    .show-for-medium-up
      = content_nav_for @assignment, Submission, @title do
        %li= link_to 'See All Submissions', assignment_path(@assignment)
    .hide-for-medium-up{:style => "padding: 10px"}
      = mobile_nav_for @assignment, Submission, @title
  - else
    .show-for-medium-up
      = content_nav_for @assignment, "Edit My Submission" do
        = render "students/student_profile_tabs"
    .hide-for-medium-up{:style => "padding: 10px"}
      = mobile_nav_for @assignment, "Edit My Submission" 

  .small-12.columns

    - if current_user.is_staff?
      .hide-for-medium-up
        %a.radius.button.tiny.small-12.dropdown{:href => "#", :data => { :dropdown => "drop" } }
          Options
        %ul#drop.f-dropdown
          %li= link_to 'See All Submissions', assignment_path(@assignment), :class => "button tiny radius"
    - else
      .hide-for-medium-up
        %a.radius.button.tiny.small-12.dropdown{:href => "#", :data => { :dropdown => "drop" } }
          Options
        %ul#drop.f-dropdown
          = render "students/student_profile_tabs"

    %h2= @title

    - if @assignment.open_at?
      .small-12.columns.large-4.panel
        %b Open date:
        = @assignment.open_at

    - if @assignment.due_at?
      .small-12.columns.large-4.panel
        %b Close date:
        = @assignment.due_at

    .clearfix

    - if @assignment.description?
      %p= raw @assignment.description

    - if @submission.submission_files.present?
      %p
        %b Documents:
        - @submission.submission_files.each do |sf|
          = link_to sf.filename, sf.url
          = link_to "(Remove)", remove_uploads_path({ :model => "SubmissionFile", :assignment_id => @assignment.id, :upload_id => sf.id } )

    - if @assignment.has_groups?
      - if current_user.is_student?
        %h4= "You are editing the assignment submission for Group #{current_student.group_for_assignment(@assignment).name }"
      - else
        %h4= "You are editing the assignment submission for Group #{@submission.group.name }"

    = render 'form'

  .clearfix
