= content_nav_for @assignment, Submission do
  %li= link_to "New Submission", new_assignment_submission_path(@assignment)

%table.table.table-bordered.display#sortableTable.tablesorter
  %tr
    - if @assignment.has_groups?
      %th Group
    - elsif @assignment.has_teams?
      %th Team
    - elsif @assignment.is_individual?
      %th #{current_course.user_term}
    %th Submitted
    %th Link
    %th Comment
    %th Feedback
    %th Score
    %th.header
    %th.header
    %th.header
  - @assignment.submissions.each do |submission|
    %tr
      %td= link_to submission.student.try(:name), user_path(submission.student)
      %td= submission.updated_at
      %td= link_to submission.link, submission.link
      %td= raw submission.text_comment
      %td= raw submission.text_feedback
      %td= submission.grade.try(:unmultiplied_score)
      %td= link_to 'View', assignment_submission_path(@assignment, submission, :student_id => submission.student_id, :grade_id => submission.grade.try(:id)), :class => 'btn btn-tiny btn-success'
      %td= link_to 'Edit', edit_assignment_submission_path(@assignment, submission, :student_id => submission.student_id), :class => 'btn btn-tiny btn-success'
      %td= link_to 'Delete', assignment_submission_path(@assignment, submission), :class => 'btn btn-tiny btn-success', :data => { confirm: 'Are you sure?' }, :method => :delete