= content_nav_for @assignment, Submission do
  %li= link_to "New Submission", new_assignment_submission_path(@assignment), :class => "btn btn-tiny btn-info"

%table.table.table-striped.simpleTable
  %thead
    - if @assignment.has_groups?
        %th.sortable{"data-sort" => "string"} Group
      - elsif @assignment.is_individual?
        %th.sortable{"data-sort" => "string"} #{current_course.user_term}
      %th.sortable{"data-sort" => "string"} Submitted
      %th.sortable{"data-sort" => "string"} Link
      %th.sortable{"data-sort" => "string"} Comment
      %th.sortable{"data-sort" => "string"} Feedback
      %th.sortable{"data-sort" => "string"} Score
      %th
      %th
      %th
  %tbody
    - @assignment.submissions.each do |submission|
      %tr
        %td= link_to submission.student.try(:name), user_path(submission.student)
        %td= submission.updated_at
        %td= link_to submission.link, submission.link
        %td= raw submission.text_comment
        %td= raw submission.text_feedback
        %td= submission.grade.try(:unmultiplied_score)
        %td= link_to 'View', assignment_submission_path(@assignment, submission, :student_id => submission.student_id, :grade_id => submission.grade.try(:id)), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Edit', edit_assignment_submission_path(@assignment, submission, :student_id => submission.student_id), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Delete', assignment_submission_path(@assignment, submission), :class => 'btn btn-tiny btn-success', :data => { confirm: 'Are you sure?' }, :method => :delete