.small-12.panel.mainContent
  / Submissions Navigation
  - if current_user.is_staff?
    = content_nav_for @assignment, Submission, "New Submission" do
      %li= link_to "Back to #{@assignment.name}", @assignment, :class => "button tiny radius"
  - else
    = content_nav_for "#{@assignment.name}" do
      %li= link_to "My Dashboard", dashboard_path, :class => "button tiny radius"

  .small-12.columns
    %h2= @title

    - if @assignment.description?
      %p
        %b Description:
        = raw @assignment.description

    - if @assignment.point_total?
      %p
        %b Point Total:
        = points @assignment.point_total

    - if @assignment.open_at?
      %p
        %b Open date:
        = @assignment.open_at

    - if @assignment.due_at?
      %p
        %b Close date:
        = @assignment.due_at

    - if @assignment.accepts_submissions_until?
      %p
        %b Accept submissions until:
        = @assignment.accepts_submissions_until

    - if @assignment.has_groups? && current_user.is_student?
      %h4= "You are submitting this assignment for Group #{current_student.group_for_assignment(@assignment).name }"
    - elsif @assignment.has_groups?
      %h4= "You are submitting this assignment for Group #{@group.name }"

    - if @assignment.accepts_submissions?
      = render 'form'

  .clearfix
