.small-12.panel.mainContent
  / Submissions Navigation
  = content_nav do
    = render "students/student_profile_tabs"

  .pagetitle= "#{@title} (#{points @assignment.point_total} points)"

  .small-12.columns

    - if @assignment.open_at?
      .small-12.columns.large-4.panel
        %b Open date:
        = @assignment.open_at

    - if @assignment.due_at?
      .small-12.columns.large-4.panel
        %b Close date:
        = @assignment.due_at

    - if @assignment.accepts_submissions_until? && current_user.is_staff?
      .small-12.columns.large-4.panel
        %b Accept submissions until:
        = @assignment.accepts_submissions_until

    .clearfix

    - if @assignment.description?
      %p= raw @assignment.description


    - if @assignment.has_groups? && current_user.is_student?
      %h4= "You are submitting this assignment for Group #{current_student.group_for_assignment(@assignment).name }"
    - elsif @assignment.has_groups?
      %h4= "You are submitting this assignment for Group #{@group.name }"

    - if @assignment.accepts_submissions?
      = render 'form'

  .clearfix
