.small-12.panel.mainContent
  / Submissions navigation
  - if current_user.is_staff?
    = content_nav_for @assignment, Submission do
      %li= link_to 'See All Submissions', assignment_path(@assignment), :class => "button tiny radius"
      - if @assignment.is_individual?
        %li= link_to 'Edit Submission', edit_assignment_submission_path(@assignment, @submission, :student_id => @submission.student_id), :class => "button tiny radius"
      - elsif @assignment.has_groups?
        %li= link_to 'Edit Submission', edit_assignment_submission_path(@assignment, @submission, :group_id => @submission.group_id), :class => "button tiny radius"
      - if @assignment.grade_for_student(@submission.student) && @assignment.is_individual?
        %li= link_to 'Edit Grade', edit_assignment_grade_path(@assignment, @assignment.grade_for_student(@submission.student), :student_id => @submission.student_id), :class => "button tiny radius"
      - elsif @assignment.is_individual?
        %li= link_to 'Grade Submission', edit_assignment_grade_path("assignment_id"=>@assignment.id, :student_id => @submission.student.id), :class => 'button tiny radius'
      - if @assignment.has_groups?
        %li= link_to 'Edit Grades', group_grade_assignment_path(@assignment, @assignment.grade_for_student(@submission.student), :student_id => @submission.student_id), :class => "button tiny radius"
        %li= link_to 'Grade Submission', group_grade_assignment_path("assignment_id"=>@assignment.id, :group_id => @submission.group.id), :class => 'button tiny radius'
      %li= link_to "Delete Submission", assignment_submission_path(@assignment, @submission), :class => "button tiny radius", :data => { confirm: 'Are you sure?' }, :method => :delete
  - else
    = content_nav_for @assignment, "My #{@assignment.name} Submission" do
      - if current_course.use_timeline?
        %li= link_to "Timeline", dashboard_path, :class => "button tiny radius"
      %li= link_to "Syllabus", syllabus_path, :class => "button tiny radius"
      - if current_course.grading_philosophy.present?
        %li= link_to "Grade Philosophy", grading_philosophy_path, :class => "button tiny radius"
      - if current_course.predictor_on?
        %li= link_to "Grade Predictor", predictor_path, :class => "button tiny radius"
      - if current_course.has_badges?
        %li= link_to "#{term_for :badges}", my_badges_path, :class => "button tiny radius"
      - if current_course.has_teams? && current_course.teams_visible?
        %li= link_to "#{term_for :teams}", my_team_path, :class => "button tiny radius"
      - if @assignment.is_individual?
        %li= link_to 'Edit Submission', edit_assignment_submission_path(@assignment, @submission, :student_id => @submission.student_id), :class => "button tiny radius"
      - elsif @assignment.has_groups?
        %li= link_to 'Edit Submission', edit_assignment_submission_path(@assignment, @submission, :group_id => @submission.group_id), :class => "button tiny radius"


  .small-12.columns
    %h2
      = link_to "#{@assignment.try(:name)}", @submission.assignment
    %hr
    - if current_user.is_staff?
      %h5
        - if @assignment.is_individual?
          Submitted by:
          = link_to @submission.student.try(:name), student_path(@submission.student)
        - elsif @assignment.has_groups?
          = "#{term_for :group}:"
          = link_to @submission.group.try(:name), group_path(@submission.group)
    .small-12
      %h5
        Submitted:
        = @submission.created_at
      - if @submission.updated_at != @submission.created_at
        %h5
          Updated:
          = @submission.updated_at

      - if @submission.link?
        %h5
          Link:
          = link_to @submission.link, @submission.link

      - if @submission.submission_files.present?
        %h5 Attachments:
        %ul
          - @submission.submission_files.each do |sf|
            %li
              = link_to sf.filename, sf.url
              = link_to "(Remove)", remove_uploads_path({ :model => "SubmissionFile", :assignment_id => @assignment.id, :upload_id => sf.id } )

      %h5 Statement:
      %p= raw @submission.text_comment

    - if @assignment.is_individual?
      = render 'individual_show'
    - elsif @assignment.has_groups?
      = render 'group_show'
  .clearfix
