= content_nav_for @assignment, @submission do
  %li= link_to 'See All Submissions', assignment_path(@assignment), :class => "btn btn-tiny btn-info"
  %li= link_to 'Edit Submission', edit_assignment_submission_path(@assignment, @submission, :student_id => @submission.student_id), :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3
    = "#{term_for :assignment }"
    = link_to "#{@assignment.try(:name)}", @submission.assignment

  - if @assignment.is_individual?
    %p
      %b= "#{term_for :student}:"
      - if current_user.is_staff?
        = link_to @submission.student.try(:name), @submission.student
      - else
        = @submission.student.try(:name)
  - elsif @assignment.has_groups?
    %p
      %b Group:
      = link_to @submission.student.try(:name), assignment_group_path(@submission, @submission.student)
  %p
    %b Submitted:
    = @submission.created_at
  %p
    %b Last Updated:
    = @submission.updated_at
  - if @submission.link?
    %p
      %b Link:
      = link_to @submission.link, @submission.link

  - if @submission.submission_files.present?
    %p
      %b Files:
      - @submission.submission_files.each do |sf|
        = link_to sf, sf

  %p
    %b Statement:
    = raw @submission.text_comment