- if current_user.is_staff?
  = content_nav_for @assignment, @submission do
    %li= link_to 'See All Submissions', assignment_path(@assignment), :class => "btn btn-tiny btn-info"
    %li= link_to 'Edit Submission', edit_assignment_submission_path(@assignment, @submission, :student_id => @submission.student_id), :class => "btn btn-tiny btn-info"
    - if @assignment.grade_for_student(@submission.student)
      %li= link_to 'Edit Grade', edit_assignment_grade_path(@assignment, @assignment.grade_for_student(@submission.student), :student_id => @submission.student_id), :class => "btn btn-tiny btn-info"
    - else
      %li= link_to 'Grade Submission', new_assignment_grade_path("assignment_id"=>@assignment.id, :student_id => @submission.student.id), :class => 'btn btn-tiny btn-info'
    %li= link_to "Delete Submission", assignment_submission_path(@assignment, @submission), :class => "btn btn-tiny btn-info", :data => { confirm: 'Are you sure?' }, :method => :delete
- else
  = content_nav_for "My #{@assignment.name} Submission" do
    %li= link_to "My Dashboard", dashboard_path, :class => "btn btn-tiny btn-info"
    %li= link_to 'Edit Submission', edit_assignment_submission_path(@assignment, @submission, :student_id => @submission.student_id), :class => "btn btn-tiny btn-info"

.col-lg-12.info
  %h3
    = link_to "#{@assignment.try(:name)}", @submission.assignment
    Submission

  - if current_user.is_staff?
    %h4
      - if @assignment.is_individual?
        = "#{term_for :student}:"
        = link_to @submission.student.try(:name), student_path(@submission.student)
      - elsif @assignment.has_groups?
        = "#{term_for :group}:"
        = link_to @submission.student.try(:name), assignment_group_path(@submission, @submission.student)
  .col-lg-12
    .heading.col-lg-2 Submitted:
    .col-lg-offset-2= @submission.created_at
    - if @submission.updated_at != @submission.created_at
      .heading.col-lg-2 Updated:
      .col-lg-offset-2= @submission.updated_at
    - if @submission.link?
      .heading.col-lg-2 Link:
      .col-lg-offset-2
        = link_to @submission.link, @submission.link

    - if @submission.submission_files.present?
      .heading.col-lg-2 Files:
      - @submission.submission_files.each do |sf|
        .col-lg-offset-2= link_to File.basename(sf.filename.path), sf.filename.url

    .heading.col-lg-2 Statement:
    .col-lg-offset-2= raw @submission.text_comment

  - @assignment.grade_for_student(@submission.student).tap do |grade|
    - if grade && grade.assignment.release_necessary && grade.is_released? || grade && ! grade.assignment.release_necessary || grade && current_user.is_staff?
      %hr
      %h4 Grade
      .col-lg-12
        .heading.col-lg-2 Score:
        .col-lg-offset-2
          = points grade.score
        - if grade.grade_files.present?
          .heading.col-lg-2 Documents:
          .col-lg-offset-2
            - grade.grade_files.each do |gf|
              = link_to File.basename(gf.filename.path), gf.filename.url

        - if grade.feedback?
          .heading.col-lg-2 Feedback:
          .col-lg-offset-2= raw grade.feedback

        - if grade.earned_badges.present?
          .heading.col-lg-2= "#{term_for :badges}:"
          .col-lg-offset-2
            - grade.earned_badges.each do |badge|
              %img{:src => badge.try(:icon), :alt => badge.name, :width => "40", :height => "40"}

        - if grade.assignment.release_necessary?
          .heading.col-lg-2.clear Status:
          .col.col-lg-offset-2= grade.status
  %br