- if current_user.is_student?
  / Student Navigation for Assignment Weighting
  .show-for-large-up
    = content_nav_for "Editing My #{term_for :weight}" do
      = render "students/student_profile_tabs"

- elsif current_user.is_staff?
  / Instructor Navigation for Assignment Weighting
  = content_nav_for "Editing #{term_for :weights} for #{current_student.name}" do
    %li{class: ("active" if current_page?(student_path(current_student))) }
      = link_to_unless_current "See #{current_student.name}'s Dashboard", student_path(current_student)
    %li{class: ("active" if current_page?(choices_students_path)) }
      = link_to_unless_current "See All #{term_for :weight} Decisions", choices_students_path