.small-12.panel.mainContent
  - if current_user.is_student?
    = content_nav_for "Editing My #{term_for :weights}" do
      = render "students/student_profile_tabs"
  - elsif current_user.is_staff?
    / Instructor Navigation for Assignment Weighting
    = content_nav_for "Editing #{term_for :weights} for #{current_student.name}" do
      = render "info/tabs"
  .small-12.columns

    .hide-for-medium-up
      - if current_user.is_student?
        = mobile_nav_for "Editing My #{term_for :weights}" do
          = render "students/student_profile_tabs"
      - else
        = mobile_nav_for "Editing #{term_for :weights} for #{current_student.name}" do
          = render "info/tabs"

    .hide-for-medium-up
      %a.radius.button.tiny.small-12.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Options
      %ul#drop.f-dropdown
        - if current_user.is_student?
          = render "students/student_profile_tabs"
        - else
          = render "info/tabs"
        
    - if current_course.assignment_weight_open? || current_user.is_staff?
      %h3 Editing #{current_student.name}'s #{term_for :weights}
      %h4 #{term_for :weights} remaining: #{current_course.total_assignment_weight}
      %h6.small You may set up to #{pluralize current_course.max_assignment_weight, term_for(:weight)} on a single #{ term_for :assignment_type}

      = simple_form_for @form, as: :student, url: assignment_type_weights_path, method: :put do |f|
        = hidden_field_tag :student_id, current_student.id
        - if @form.errors.has_key?(:base)
          .alert.alert-error= f.error :base
        .small-12.columns
          %hr
          %ul.small-block-grid-3
            = f.simple_fields_for :assignment_type_weights do |atwf|
              %li.panel.callout
                = atwf.hidden_field :assignment_type_id
                %h3.panel-title= atwf.object.assignment_type.name
                = atwf.input :weight, :label => "#{term_for :weight}"
          .right
            = f.button :submit, "Update #{term_for :weights}", :class => "button radius tiny"
            = link_to 'Cancel', current_user.is_student? ? dashboard_path : choices_students_path, class: 'button radius tiny'


    - else
      %h3 Your #{term_for :weight} choices:
      %hr
      - @assignment_types.each do |at|
        - if at.student_weightable?
          %h5
            = at.name
            = "- #{current_student_data.weight_for_assignment_type(at)} #{term_for :weight}"

  .clearfix