= simple_form_for(@course, :html => {:class => 'form-horizontal' }, :validate => false)  do |f|
  .well
    %h4 THE BASICS
    = f.input :name, :label => "Course Title", :input_html => {:class => "col-lg-4"}
    = f.input :tagline, :label => "Tagline", :input_html => {:class => "col-lg-4"}
    = f.input :courseno, :label => "Course Number", :input_html => {:class => "col-lg-2"}, :hint => "This will be used as the prefix to the subject line on all email notifications sent for the course"
    = f.input :semester, :collection => [["Winter", "winter"], ["Spring", "spring"], ["Summer", "summer"], ["Fall", "fall"]], :input_html => {:class => "col-lg-4 input-sm"}
    = f.input :year, :collection => (Date.today.year)..(Date.today.year + 2), :input_html => {:class => "col-lg-4 input-sm"}
    = f.input :office, :label => "Professor's Office", :input_html => {:class => "col-lg-4"}
    = f.input :phone, :label => "Contact Phone #", :input_html => {:class => "col-lg-4"}
    = f.input :class_email, :label => "Class Email", :input_html => {:class => "col-lg-4"}
    = f.input :twitter_handle, :label => "Twitter Handle", :input_html => {:class => "col-lg-4"}
    = f.input :twitter_hashtag, :label => "Hashtag", :input_html => {:class => "col-lg-4"}
    = f.input :location, :label => "Location", :input_html => {:class => "col-lg-4"}
    = f.input :office_hours, :label => "Office Hours", :input_html => {:class => "col-lg-4"}
    = f.input :meeting_times, :label => "Class Meeting Times", :input_html => {:class => "col-lg-4"}
    = f.input :grade_scheme_id, :collection => @grade_schemes, :as => :select, :input_html => {:class => "col-lg-4 input-sm"}
    = f.input :point_total, :label => "Maximum Number of Points" , :input_html => {:class => "col-lg-4"}, :hint => "If you leave this blank, GradeCraft will calculate the total number of points based on the assignments you create."
    = f.input :assignment_term, :label => "Assignment Term", :hint => "Would you like to call assignments something else?"
    = f.input :accepts_submissions, :hint=> "Will you be using GradeCraft to accept assignment submissions?", :label => "Assignment Submissions"
    //= f.input :graph_display, :label => "Display charts simultaneously?", :as => :radio_buttons, :hint => "The student dashboard displays two charts to the students, one that shows how many points they have out of all of the points in the whole course, and one that shows how many points they have out of the assignments they've worked on so far. Would you like to display them both at the same time, or one at a time?"
    = f.input :predictor_setting, :label => "Display grade predictor (Student Dashboard)?", :as => :radio_buttons
    %h4 Grading Philosophy
    %p What would you like to tell students about how they should expected to be graded?
    = f.text_area :grading_philosophy, :class => :ckeditor, :label => "What would you like to tell students about how they should expected to be graded?", :input_html => {:style => "width: 100%; height: 200px;"}

  .well
    %h4 BADGES
    = f.input :badge_setting, :hint => "Do you want to use badges in your course?", :label => "Badges", :as => :radio_buttons
    = f.input :badge_term, :label => "Badge Term", :hint => "Would you like to call badges something else?"
    = f.association :badge_sets, :collection => @badge_sets, :label => "Badge Set", :as => :check_boxes
    = f.input :shared_badges, :label => "Social Badges", :hint => "Students can share badges with the class", :as => :radio_buttons
    = f.input :badges_value, :label => "Will badges have points attached to them?", :as => :radio_buttons

  .well
    %h4 SECTIONS
    = f.input :team_setting, :hint => "Will you have semester-long sections in your course?", :label => "Sections"
    = f.input :team_term, :label => "Section Term", :hint => "What will you call these? Team, House, Section...", :input_html => {:class => "col-lg-4"}
    = f.input :team_score_average, :label => "Section Score = Average User Score", :hint => "Will sections' scores be the average of their students' scores?"
    = f.input :team_challenges, :label => "Section Assignments", :hint => "Will the sections have to complete assignments collaboratively?", :input_html => {:class => "col-lg-4"}
    = f.input :challenge_term, :label => "Section Assignment Term", :hint => "What would you like to call these section assignments? Quests, Boss Battles, Challenges...", :input_html => {:class => "col-lg-4"}
    = f.input :teams_visible, :label => "Section Leaderboard", :hint => "Can students see a leaderboard of the section rankings and their points?"
    = f.input :in_team_leaderboard, :label => "In-Section Leaderboard", :hint => "Can students see in-section rankings and points (students must opt in to this by adding a screenname to protect their privacy)?"
    = f.input :team_roles, :label => "Section Roles", :hint => "Do students self-declare their role within the section?"
    = f.input :team_leader_term, :hint => "TA, GSI, Team Leader...", :label => "What do you call your section leaders?", :input_html => {:class => "col-lg-4"}

  .well
    %h4 GROUPS
    = f.input :group_setting, :hint => "Will students work in groups on any assignments, and thus all receive the same grade?", :as => :radio_buttons
    = f.input :group_term, :hint => "What will these groups be called?", :input_html => {:class => "col-lg-4"}
    = f.input :max_group_size, :input_html => {:class => "col-lg-2"}
    = f.input :min_group_size, :input_html => {:class => "col-lg-2"}

  .well
    %h4 STUDENTS
    = f.input :user_term, :hint => "What will you call your user? Student, Learner, Player...", :label => "User Term", :input_html => {:class => "col-lg-4"}
    = f.input :academic_history_visible, :label => "Academic History Visible to GSIs", :as => :boolean

  .well
    %h4 MULTIPLIERS
    = f.input :total_assignment_weight, :label => "Multiplier Count", :hint => "Multipliers allow students to 'boost' their grades on specific assignment types. You decide how many multipliers students can allocate, then the students select which assignment types will get a boost (through their dashboard) and those assignment type's points are multiplied by the number of multipliers that the student allocates.", :input_html => {:class => "col-lg-2"}
    = f.input :assignment_weight_type, :label => "Amount type", :collection => [["Multiplier"]], :input_html => {:class => "col-lg-2 input-sm"}
    = f.input :assignment_weight_close_at, :label => "What date must they make this decision by?", :as => :string, :input_html => {:class => "input-sm datetimepicker"}
    = f.input :max_assignment_weight, :label => "Maximum amount that students may allocate", :input_html => {:class => "col-lg-2"}
    = f.input :max_assignment_types_weighted, :label => "Maximum Multiplied Assignment Types", :hint => "Is there a maximum number of assignment types that students can select to weight?", :input_html => {:class => "col-lg-2"}
    = f.input :default_assignment_weight, :label => "What amount should the assignment types that the student doesn't select to boost be multiplied by?", :validate => false, :input_html => {:class => "col-lg-2"}
    = f.input :weight_term, :label => "What do you want to call these weights/multipliers?", :input_html => {:class => "col-lg-2"}

  .well
    %h4 TIMELINE
    = f.input :use_timeline, :label => "Would you like to use the interactive timeline to display your syllabus?"
    = f.input :media_file, :label => "What video or image file (on YouTube, Flickr or Vimeo) would you like to display here?"
    = f.input :media_credit, :label => "Media Credit"
    = f.input :media_caption, :label => "Media Caption"

  .form-actions.col-lg-offset-3
    = f.button :submit, :class => "btn-primary"
    = link_to 'Cancel', courses_path, :class => 'btn btn-info'
