= content_nav_for Course do
  %li= link_to 'New Course', new_course_path, :class => "btn btn-tiny btn-info"

%table.table-bordered.table
  %thead
    %tr
      %th Name
      %th Course No
      %th Year
      %th Semester
      %th Badge Set
      %th Total Points
      %th Grade Scheme
      %th.header
      %th.header
  %tbody
    - @courses.each do |course|
      %tr
        %td= link_to course.name, course
        %td= course.courseno
        %td= course.year
        %td= course.semester
        %td= course.badge_set_id
        %td
          //= course.total_points
        %td= course.grade_scheme_id
        %td= link_to 'Edit', edit_course_path(course), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Delete', course, :class => 'btn btn-tiny btn-success', :data => { confirm: 'Are you sure?' }, :method => :delete
