.small-12.panel.mainContent
  / Courses Navigation
  = content_nav do
    = render "tabs"

  .pagetitle= @title

  .small-12.columns
    %table.responsive.simpleTable
      %thead
        %tr
          %th.sortable{"data-sort" => "string"} Name
          %th.sortable{"data-sort" => "string"} Course No
          %th.sortable{"data-sort" => "string"} Year
          %th.sortable{"data-sort" => "string"} Semester
          %th.sortable{"data-sort" => "string"} Badges
          %th.sortable{"data-sort" => "string"} Total Points
          %th
      %tbody
        - @courses.each do |course|
          %tr
            %td= link_to course.name, course
            %td= course.courseno
            %td= course.year
            %td= course.semester
            %td
            %td= points course.total_points
            %td
              .button-bar
                %ul.button-group.round.right
                  %li= link_to 'Edit', edit_course_path(course), :class => 'button tiny secondary'
                  %li= link_to 'Delete', course, :class => 'button tiny secondary', :data => { confirm: 'Are you sure?' }, :method => :delete
                  %li= link_to "Copy", copy_courses_path(:id => current_course), :class => 'button tiny secondary', :method => :copy

  .clearfix