= content_nav_for @course do
  %li= link_to 'Edit', edit_course_path(@course)
  %li= link_to 'Back', courses_path

.well
  %h4 THE BASICS
  %p
    %b Course Title:
    = @course.name
  %p
    %b Course Number:
    = @course.courseno
  %p
    %b Semester:
    = @course.semester
  %p
    %b Year:
    = @course.year
  %p
    %b Course Grade Scheme:
    = @course.grade_scheme.try(:name)
  %p
    %b GradeCraft will accept assignment submissions for this course:
    = @course.has_submissions? ? 'Yes' : 'No'
  %p
    %b Course Status:
    = @course.status? ? 'Active' : 'Archived'
  %p
    %b Display current progress and total points charts simultaneously?
    = @course.graph_display? ? 'Simultaneous' : 'Toggle'
  %p
    %b The Predictor is:
    = @course.predictor_setting? ? 'On' : 'Off'

  %p
    %b Professor's Office Location:
    = @course.office
  %p
    %b Official Phone Number:
    = @course.phone
  %p
    %b Class Email:
    = @course.class_email
  %p
    %b Twitter Handle:
    = @course.twitter_handle
  %p
    %b Hashtag:
    = @course.twitter_hashtag
  %p
    %b Meeting Location:
    = @course.location
  %p
    %b Office Hours:
    = @course.office_hours
  %p
    %b Meeting Time:
    = @course.meeting_times


.well
  %h4 BADGES
  %p
    %b Badges will be used:
    = @course.badge_setting? ? 'Yes' : 'No'
  %p
    %b Badge Set:
    - @course.badge_sets.each do |b|
      = b.try(:name)
  %p
    %b Badges will be awarded through...
    = @course.badge_use_scope
  %p
    %b Social Badges:
    = @course.shared_badges? ? 'Yes' : 'No'
  %p
    %b Badges are valuable:
    = @course.badges_value? ? 'Yes' : 'No'

.well
  %h4 TEAMS & GROUPS
  %p
    %b Students will be grouped into teams or sections:
    = @course.team_setting? ? 'Yes' : 'No'
  %p
    %b These sections will be called:
    = @course.team_term
  %p
    %b Students can see the teams, the team's points, and the team's badges:
    = @course.teams_visible? ? 'Yes' : 'No'
  %p
    %b Students will work in groups:
    = @course.group_setting? ? 'Yes' : 'No'
  %p
    %b Groups will be called:
    = @course.group_term
  %p
    %b Students self-declare their group roles:
    = @course.team_roles? ? 'Yes' : 'No'
  %p
    %b Section Leaders will be called:
    = @course.team_leader_term
  %p
    %b Max Group Size:
    = @course.max_group_size
  %p
    %b Min Group Size:
    = @course.min_group_size


.well
  %h4 STUDENTS
  %p
    %b Students will be called:
    = @course.user_term

.well
  %h4 MULTIPLIERS
  %p
    %b User's set:
    = @course.max_assignment_weight
    = @course.assignment_weight_type
  %p
    %b Minimum size:
    //= @course.min_size
  %p
    %b Maximium size:
    = @course.max_assignment_weight
  %p
    %b Multipliers must be set by:
    = @course.assignment_weight_close_at
  %p
    %b Multiplier/weight term:
    = @course.weight_term
  %p
    %b What amount should other (unselected) assignment types be multiplied by?
    = @course.default_assignment_weight
