%div.form-inputs.s3_uploader
  = s3_uploader_form key: upload_url('challenge_files', @challenge), acl: "private", max_file_size: 40.megabytes do
    = file_field_tag :file
  %div#uploaded_files Uploaded:
  %div.upload.s3_progress
    %div.progress
      %div.bar

= simple_form_for(@challenge, :html => {:class => 'form-horizontal' }) do |f|

  .form-inputs
    = f.input :name, :input_html => {:class => 'col-lg-3'}
    = f.simple_fields_for :challenge_files, @challenge.challenge_files.new do |cff|
      = cff.input :filepath, :input_html => { :class => 's3_files' }, :as => :hidden
    = f.text_area :description, :class => "ckeditor", :label => "Description", :input_html => {:style => "width: 90%; height: 200px;"}, :label => "Description", :placeholder => "What do the #{term_for :teams} need to do to succeed?"
    = f.input :point_total, :input_html => {:class => 'col-lg-3'}
    = f.input :due_at, as: :string, :start_year => Date.today.year, :include_blank => true, :input_html => { :class => 'datetimepicker' }
    = f.input :visible, :label => "Visible to students?"
    = f.input :accepts_submissions, :label => "Will the #{term_for :team} submit materials?", :hint => "All #{term_for :team} members will be able to submit work for their #{term_for :team} as a whole, and see their resulting grades."
    = f.input :release_necessary, :label => "Release necessary?", :hint => "Do you want to release all grades at once? This is particularly useful for situations where extensive feedback is important."

  .form-actions
    = f.button :submit, :class => "button tiny radius"
    = link_to 'Cancel', challenges_path, :class => 'button tiny radius'
