.small-12.right.medium-4.columns
  %br
  .label.radius Supporting Files
  .s3_uploader
    = s3_uploader_form key: upload_url('challenge_files', @challenge), acl: "private", max_file_size: 40.megabytes do
      .small-12.medium-6.columns
        = file_field_tag :file, :multiple => true
      .small-12.medium-6.columns
        .upload.s3_progress
          Progress:
          .progress
            .bar
        .clearfix
      %ul#uploaded_files
        - if @challenge.challenge_files.present?
          %hr
          %h5.bold Uploaded files
          - @challenge.challenge_files.each do |cf|
            %li
              = link_to cf.filename, cf.filename
              = link_to "(Remove)", remove_uploads_path({ :model => "ChallengeFile", :challenge_id => @challenge.id, :upload_id => cf.id } )

= simple_form_for(@challenge) do |f|
  .small-12.large-4.columns.right.panel.callout
    .small-12
      %label.checkbox{ :for => "visible" }
        = f.label :visible, "Visible to students?"
        = f.check_box :visible

    .small-12
      %label.checkbox{ :for => "accepts_submissions" }
        = f.label :check_box, "Will the #{term_for :team} submit materials?"
        = f.check_box :accepts_submissions
        .form_label All #{term_for :team} members will be able to submit work for their #{term_for :team} as a whole, and see their resulting grades.

    .small-12
      %label.checkbox{ :for => "release_necessary" }
        = f.label :release_necessary, "Release necessary?"
        = f.check_box :release_necessary
        .form_label Do you want to release all grades at once? This is particularly useful for situations where extensive feedback is important.

  .small-12.large-4.columns
    = f.label :name
    = f.text_field :name

  .small-12.large-4.columns
    = f.simple_fields_for :challenge_files, @challenge.challenge_files.new do |cff|
      = cff.input :filepath, :input_html => { :class => 's3_files' }, :as => :hidden

  .small-12.large-4.columns
    = f.label :point_total
    = f.text_field :point_total, data: {autonumeric: true, "m-dec" => "0"}
  
  
  .small-12.large-4.columns
    = f.input :open_at, as: :string, :input_html => { :class => 'datetimepicker', :value => @challenge.try(:open_at) }
    
  .small-12.large-4.columns
    = f.input :due_at, as: :string, :include_blank => true, :input_html => { :class => 'datetimepicker', :value => @challenge.try(:due_at) }

  

  .clearfix

  .small-12.columns.textarea
    = f.bootsy_area :description
    .form_label What do the #{term_for :teams} need to do to succeed?


  .right
    = f.button :submit, "#{@challenge.persisted? ? 'Update' : 'Create'} #{term_for :challenge }", :class => "button tiny radius"
    = link_to 'Cancel', challenges_path, :class => 'button tiny radius transparent'
