%table.responsive.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Name
      %th.sortable{"data-sort" => "string"} Description
      %th.sortable{"data-sort" => "int"} Point total
      %th.sortable{"data-sort" => "string"} Due date
      - if current_student.team_for_course(current_course).present?
        %th.sortable{"data-sort" => "int"} Score

  %tbody
    - current_course_data.challenges.each do |challenge|
      - if challenge.visible?
        %tr
          %td= link_to challenge.name, challenge
          %td= raw challenge.description
          %td= points challenge.point_total
          %td= challenge.due_at
          - if current_student.team_for_course(current_course).present?
            %td= challenge.challenge_grade_for_team(current_student.team_for_course(current_course)).try(:score)
