.small-12.panel.mainContent
  / Editing Challenge Navigation
  = content_nav_for Challenge, "Edit #{breadcrumb_link_for(@challenge)}".html_safe do
    = render "tabs"

  .small-12.columns
    %h2= @title
    = render 'form'

  .clearfix
