= content_nav_for Challenge do
  - if current_user.is_staff?
    %li= link_to 'New Challenge', new_challenge_path

%table.table-bordered.table.display.simpleTable
  %thead
    %tr
      %th{"data-sort" => "string"} Name
      %th{"data-sort" => "string"} Description
      %th{"data-sort" => "int"} Point total
      %th{"data-sort" => "string"} Due date
      %th{"data-sort" => "string"} Visible
      %th{"data-sort" => "int"} Submissions?
      %th{"data-sort" => "string"} Release necessary
      %th
      %th

  %tbody
    - @challenges.each do |challenge|
      %tr
        %td= link_to challenge.name, challenge
        %td= raw challenge.description
        %td= challenge.point_total
        %td= challenge.due_at
        %td= challenge.visible? ? 'Yes' : 'No'
        %td= challenge.accepts_submissions? ? 'Yes' : 'No'
        %td= challenge.release_necessary? ? 'Yes' : 'No'
        %td= link_to 'Edit', edit_challenge_path(challenge), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Delete', challenge, :class => 'btn btn-tiny btn-success', :method => :delete, data: { confirm: 'Are you sure?' }

