= content_nav_for Challenge, "Create a New #{term_for :challenge}" do
  %li= link_to "See All #{term_for :challenges}", challenges_path, :class => "button tiny radius success"

.small-12.columns
  %h3= @title
  = render 'form'


