= content_nav_for Challenge, "Create a New #{term_for :challenge}" do
  %li= link_to "See All #{term_for :challenges}", challenges_path, :class => "btn btn-tiny btn-info"

.col-lg-12
  %h3= @title
  = render 'form'


