.small-12.panel.mainContent
  / Create a Challenge Navigation
  = content_nav_for Challenge, "Create a New #{term_for :challenge}" do
    = render "tabs"

  .small-12.columns
    %h3= @title
    = render 'form'

  .clearfix


