= content_nav_for @challenge do
  %li= link_to 'Edit', edit_challenge_path(@challenge)
  %li= link_to 'Back', challenges_path

%p
  %b Name:
  = @challenge.name
%p
  %b Description:
  = raw @challenge.description
%p
  %b Point total:
  = @challenge.point_total
%p
  %b Due date:
  = @challenge.due_at
%p
  %b Visible to students:
  = @challenge.visible? ? 'Yes' : 'No'
%p
  %b Challenge Submissions:
  = @challenge.submissions_allowed? ? 'Yes' : 'No'
%p
  %b Release Necessary:
  = @challenge.release_necessary? ? 'Yes' : 'No'

