= content_nav_for @challenge do
  %li= link_to 'See All Challenges', challenges_path
  %li= link_to "Edit #{@challenge.name}", edit_challenge_path(@challenge)

%p
  %b Description:
  = raw @challenge.description
%p
  %b Point Total:
  = number_with_delimiter(@challenge.point_total, :delimiter => ',')
%p
  %b Open date:
  = @challenge.open_at
%p
  %b Close date:
  = @challenge.due_at

- if current_user.is_staff?
  %h4 Grades
  - if @challenge.mass_grade?
    .pull-right
      = link_to 'Log Grades', mass_edit_challenge_challenge_grades_path(:challenge_id => @challenge.id), :class => "btn btn-tiny btn-success btn-primary"

  = simple_form_for @challenge do
    %table.display.table-bordered.table.simpleTable
      %thead
        %tr
          - if @challenge.release_necessary?
            %th
          %th{"data-sort" => "string"}= current_course.team_term
          %th{"data-sort" => "int"} Score
          - if @challenge.has_levels?
            %th{"data-sort" => "string"} Level
          %th{"data-sort" => "string"} Badges Earned
          - if @challenge.release_necessary?
            %th{"data-sort" => "string"} Status
          - if @challenge.accepts_submissions?
            %th{"data-sort" => "string"} Submission
          %th Grade
      %tbody
        - @teams.each do |team|
          - challenge_grade = @challenge.challenge_grades.find_by team: team
          %tr
            - if @challenge.release_necessary?
              %td
                - if challenge_grade
                  = check_box_tag "challenge_grade_ids[]", challenge_grade.id
            %td= link_to team.name, team
            %td
              - if challenge_grade
                = challenge_grade.score
            - if @challenge.has_levels?
              %td
                - if challenge_grade
                  = @challenge.grade_level(grade)
            %td
              - team.earned_badges.each do |badge|
                %img{:src => badge.try(:icon), :alt => badge.try(:name), :width => 40}
            - if @challenge.release_necessary?
              %td= challenge_grade.try(:status)
            - if @challenge.accepts_submissions?
              %td
            %td
              - if challenge_grade
                = link_to "See Grade", challenge_challenge_grade_path(@challenge.id, challenge_grade.id, :team_id => team.id), :class => 'btn btn-tiny btn-success'
              - else
                = link_to 'Grade', new_challenge_challenge_grade_path("challenge_id"=>@challenge.id, :team_id => team.id), :class => 'btn btn-tiny btn-success'
    - if @challenge.release_necessary?
      = submit_tag "Update Grade Statuses", :class => "btn btn-info"
