.small-12.panel.mainContent
  / Challenge View Navigation

  = content_nav do
    - if current_user.is_staff?
      = render "teams/tabs"
    - else 
      = render "students/student_profile_tabs"

  .pagetitle= @title

  .small-12.columns
    - if @challenge.challenge_files.present?
      %p
        %b Documents:
        %ul
        - @challenge.challenge_files.each do |cf|
          %li= link_to cf.filename, cf.url
          - if current_user.is_staff?
            = link_to "(Remove)", remove_uploads_path({ :model => "ChallengeFile", :upload_id => cf.id })

    = simple_form_for @challenge do
      %table.responsive.simpleTable
        %thead
          %tr
            - if @challenge.release_necessary?
              %th
            %th.sortable{"data-sort" => "string"}= current_course.team_term
            %th.sortable{"data-sort" => "int"} Score
            - if @challenge.has_levels?
              %th.sortable{"data-sort" => "string"} Level
            - if @challenge.release_necessary?
              %th.sortable{"data-sort" => "string"} Status
            - if current_user.is_staff?
              %th
        %tbody
          - @teams.alpha.each do |team|
            - challenge_grade = @challenge.challenge_grades.find_by team: team
            %tr
              - if @challenge.release_necessary?
                %td
                  - if challenge_grade
                    = check_box_tag "challenge_grade_ids[]", challenge_grade.id
              %td= link_to team.name, team
              %td
                - if challenge_grade
                  = points challenge_grade.score
              - if @challenge.has_levels?
                %td
                  - if challenge_grade
                    = @challenge.grade_level(grade)
              - if @challenge.release_necessary?
                %td= challenge_grade.try(:status) ? 'Released' : ''
              - if current_user.is_staff?
                %td
                  - if challenge_grade
                    .button-bar
                      %ul.button-group.right.round
                        %li= link_to "See Grade", challenge_challenge_grade_path(@challenge.id, challenge_grade.id, :team_id => team.id), :class => 'button tiny secondary'
                        %li= link_to "Edit Grade", edit_challenge_challenge_grade_path(@challenge.id, challenge_grade.id, :team_id => team.id), :class => 'button tiny secondary'
                        %li= link_to "Delete", challenge_challenge_grade_path(@challenge.id, challenge_grade.id, :team_id => team.id), :class => 'button tiny secondary', :action => :delete
                  - else
                    = link_to 'Grade', new_challenge_challenge_grade_path("challenge_id"=>@challenge.id, :team_id => team.id), :class => 'button tiny round secondary'

      - if @challenge.release_necessary? && @challenge.challenge_grades.present?
        = submit_tag "Update Grade Statuses", :class => "button tiny radius"

  .clearfix
