- assignment_type, assignments = assignment_type_and_assignments
%li{:id => "slide-#{assignment_type.id}", :'data-assignment-type-id' => assignment_type.id, :'data-assignment-type-name' => assignment_type.name}
  .slide-panel
    .assignmentType
      %h4= assignment_type.name
      .pull-right
        %span.badge.badge-info
          = "#{points current_student_data.score_for_assignment_type(assignment_type)} / "
          = "#{points current_student_data.point_total_for_assignment_type(assignment_type)} possible points"
    - assignments.each do |assignment|
      - if assignment.point_total > 0
        .assignment.clear{:data => {:assignment => assignment.id, :'possible-points' => current_student_data.point_total_for_assignment(assignment)}}
          %span.assignmentName= assignment.name
          - if assignment.is_required?
            %span.label.label-important Required!
          - if current_student_data.grade_released_for_assignment?(assignment)
            %span.earned= points current_student_data.score_for_assignment(assignment)
            = " / #{points current_student_data.point_total_for_assignment(assignment)} points"
            = hidden_field_tag assignment.name, current_student_data.score_for_assignment(assignment), :'data-assignment-type-id' => assignment.assignment_type_id
          - else
            = "–"
            - if assignment_type.fixed?
              = "#{points current_student_data.point_total_for_assignment(assignment)} possible points"
              %input{:type => "checkbox", :name => assignment.name, :value => current_student_data.point_total_for_assignment(assignment), :class => "class-checkbox", :'data-assignment-type-id' => assignment.assignment_type_id }
            - elsif assignment_type.slider?
              %span.pScore= "0 "
              = "/ #{points current_student_data.point_total_for_assignment(assignment)} possible points"
              %span.score-level-name
              .slider{:id => "slider-#{assignment.id}", :max => current_student_data.point_total_for_assignment(assignment), :value => "#{current_student_data.grade_for_assignment(assignment).predicted_score}", :'data-scorelevelvals' => "#{assignment_type.score_levels.map(&:value)}", :'data-scorelevelnames' => "#{assignment_type.score_levels.map(&:name)}"}
            - elsif assignment_type.select?
              = "#{points current_student_data.point_total_for_assignment(assignment)} possible points"
              = select_tag assignment.name, options_from_collection_for_select(assignment_type.score_levels,'value','name'), :class => 'point-value', :id => "total-#{assignment.id}", :include_blank => true
            - elsif assignment_type.per_assignment?
              - if assignment.fixed?
                = "#{points current_student_data.point_total_for_assignment(assignment)} possible points"
                %input{:type => "checkbox", :name => assignment.name, :value => current_student_data.point_total_for_assignment(assignment), :class => "class-checkbox", :'data-assignment-type-id' => assignment.assignment_type_id }
              - elsif assignment.slider?
                %span.pScore= "0 "
                = "/ #{points current_student_data.point_total_for_assignment(assignment)} possible points"
                .slider{:id => "slider-#{assignment.id}", :max => current_student_data.point_total_for_assignment(assignment) , :value => "#{current_student_data.grade_for_assignment(assignment).predicted_score}", :'data-scorelevelvals' => "#{assignment_type.score_levels.map(&:value)}", :'data-scorelevelnames' => "#{assignment_type.score_levels.map(&:name)}"}
              - elsif assignment.select?
                = "#{points current_student_data.point_total_for_assignment(assignment)} possible points"
                = select_tag assignment.name, options_from_collection_for_select(assignment_type.score_levels,'value','name'), :class => 'point-value', :id => "total-#{assignment.id}", :include_blank => true
    %hr
