- cache current_student_data.cache_key('v1', :badges_key, current_student.id) do
  - if current_course.valuable_badges?
    %li#slide-badges(data-assignment-type-id="badges" data-assignment-type-name)
      %h3="#{term_for :badges}"
      .slide-panel.small-12
        %span.badge.badge-info.pull-right #{points current_student_data.earned_badge_score} possible points
        %p.clear.lead
        %div.clear
          - current_course_data.badges.each do |badge|
            - if current_student_data.earned_badge?(badge)
              .earnedBadgeField
                %img{:src => badge.icon, :alt => badge.name, :width => "40"}
                .clearfix= badge.name
                .clearfix
                  %b= "#{points badge.point_total} points"
                = hidden_field_tag badge.name, badge.point_total
            - else
              .badgeField
                %img{:src => badge.icon, :alt => badge.name, :width => "40"}
                .clearfix= badge.name
                .clearfix
                  %b #{points badge.point_total} points
                .clearfix= check_box_tag badge.name, badge.point_total, false, :class => 'class-checkbox', :'data-assignment-type-id' => 'grades'
    %hr