- cache [ 'v1', @cache_keys['badges_key'] ] do
  - if current_course.valuable_badges?
    %li#slide-badges(data-assignment-type-id="badges" data-assignment-type-name="#{term_for :badges}")
      .slide-panel.col.col-lg-12
        .assignmentType
          %span.assignmentTypeTitle Badges
          %span.badge.badge-warning.pull-right #{current_student_data.earned_badge_score} points
        %p.lead
        %div
          - current_course_data.badges.each do |badge|
            - if current_student_data.earned_badge?(badge)
              .earnedBadgeField
                %img{:src => badge.icon, :alt => badge.name, :width => "40"}
                .clearfix= badge.name
                .clearfix
                  %b= "#{badge.point_total} points"
                = hidden_field_tag badge.name, badge.point_total
            - else
              .badgeField
                %img{:src => badge.icon, :alt => badge.name, :width => "40"}
                .clearfix= badge.name
                .clearfix
                  %b #{badge.point_total} points
                .clearfix= check_box_tag badge.name, badge.point_total, false, :class => 'class-checkbox', :'data-assignment-type-id' => 'grades'
