= simple_form_for @rubric do |f|
  = f.input :name
  = f.bootsy_area :description

  .well= render 'categories_form', f: f, rubric: @rubric

  .form-actions
    %div.btn-toolbar
      %div.btn-group
        = f.button :submit, :class => "button tiny radius"
      %div.btn-group
        = link_to 'Cancel', assignment_path(@assignment), :class => 'button tiny radius'
