.small-12.panel.mainContent
  / Rubrics Navigation
  .show-for-medium-up
    = content_nav_for Rubric, "Edit #{breadcrumb_link_for(@rubric)}".html_safe
  
  .hide-for-medium-up{:style => "padding: 10px"}
    = mobile_nav_for Rubric, "Edit #{breadcrumb_link_for(@rubric)}".html_safe
    
  = render 'form'