.small-12.panel.mainContent
  / Rubrics Navigation
  = content_nav_for Rubric do
    %li= link_to 'New Rubric', new_rubric_path

  %table.responsive.table-striped
    %thead
      %tr
        %th Name
        %th Description
        %th(colspan="3")
    %tbody
      - @rubrics.each do |rubric|
        %tr
          %td= rubric.name
          %td= rubric.description
          %td
            = table_link_to 'Show', rubric
            = table_link_to 'Edit', edit_rubric_path(rubric)
            = table_link_to 'Destroy', rubric, method: :delete, data: { confirm: 'Are you sure?' }