= content_nav_for @rubric do
  %li= link_to 'Edit', edit_rubric_path(@rubric)
  %li= link_to 'Criteria', rubric_criteria_path(@rubric)

%p
  %b Name:
  = @rubric.name
%p
  %b Description:
  = @rubric.description
