= simple_form_for(@category) do |f|
  = f.input :name, :label => "Category Name"
  = f.input :description, :input_html => {:style => "width: 90%; height: 200px;"}, :label => "Notes"

  .form-actions
    = f.button :submit, "#{@category.persisted? ? 'Update' : 'Create'} #{term_for :category}",  :class => "button tiny radius"
    = link_to 'Cancel', categories_path, :class => 'button tiny radius transparent'

