.small-12.panel.mainContent
  / Category Navigation
  = content_nav_for Category, "Edit #{breadcrumb_link_for(@category)}".html_safe do
    = render "tabs"

  .small-12
    %h3= @title
    = render 'form'

  .clearfix