.small-12.panel.mainContent
  / Category Navigation
  = content_nav_for Category do
    = render  "tabs"

  .small-12
    %h2= @title

  %table.responsive.simpleTable
    %thead
      %tr
        %th.sortable{"data-sort" => "string"} Name
        %th.sortable{"data-sort" => "string"} Description
        %th
        %th
    %tbody
      - @categories.each do |category|
        %tr
          %td= link_to category.name, category
          %td= raw category.description
          %td
            .button-bar
              %ul.button-group.radius.round
                %li= link_to 'Edit', edit_category_path(category), :class => 'button tiny radius'
                %li= link_to 'Delete', category, :class => 'button tiny radius', :data => { confirm: 'Are you sure?' }, :method => :delete

  .clearfix