.small-12.panel.mainContent
  / Category Navigation
  = content_nav do
    = render  "tabs"

  .pagetitle= @title 

  %table.responsive.small-12.columns
    %thead
      %tr
        %th.sortable{"data-sort" => "string"} Name
        %th.sortable{"data-sort" => "string"} Description
        %th
        %th
    %tbody
      - @categories.each do |category|
        %tr
          %td= link_to category.name, category
          %td= raw category.description
          %td
            .button-bar
              %ul.button-group.right.round
                %li= link_to 'Edit', edit_category_path(category), :class => 'button tiny radius'
                %li= link_to 'Delete', category, :class => 'button tiny radius', :data => { confirm: 'Are you sure?' }, :method => :delete

  .clearfix