= content_nav_for @category do
  - if current_user.is_staff?
    %li= link_to 'Edit', edit_category_path(@category)
    %li= link_to 'Back', categories_path
    %li= link_to 'Add New Assignment', new_assignment_path
%table.display.table-bordered.table
  %thead
    %tr
      %th Assignment
      %th Name
      %th Value
      %th Description
      %th
      %th
      %th
  %tbody
    - @category.assignments.each do |assignment|
      %tr
        %td 
          %img{:src => assignment.icon, :alt => assignment.name}
        %td= assignment.name
        %td= assignment.point_total
        %td= raw assignment.description
        %td= link_to "View", assignment_path(assignment), :class => 'btn btn-tiny btn-success'
        %td= link_to "Edit", edit_assignment_path(assignment), :class => 'btn btn-tiny btn-success'
        %td= link_to "Delete", assignment_path(assignment), :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-tiny btn-success', :method => :delete

