%dl.tabs{:data => {'tab' => true}}
  %dd.active
    %a{ "href" => "#tabkerb" } UM Login
  %dd
    %a{ "href" => "#tabgc"} GradeCraft Login
.tabs-content
  .content#tabkerb.active
    .kerberos-auth
      = form_for User.new, :url => auth_kerberos_callback_path do |f|
        = text_field_tag :username, nil, placeholder: 'Uniqname'
        = password_field_tag :password, nil, placeholder: 'Password'
        = f.submit 'Log in', class: 'button tiny radius', alt: 'Log in'
  .content#tabgc
    .gradegraft-auth
      = form_for User.new, :url => user_sessions_path do |f|
        = f.text_field :email, placeholder: "Email"
        = f.password_field :password, placeholder: 'Password'
        = f.submit "Log in", class: 'button tiny radius', alt: "Log in"