%table.responsive.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Badge
      %th.sortable{"data-sort" => "string"} Tasks
      %th.sortable{"data-sort" => "string"} # Earned
      %th
  %tbody
    - badges.each do |badge|
      %tr
        %td
          = image_tag badge.icon, :alt => badge.name, :width => 40
          = link_to badge.name, badge
        %td
          %ul
            - badge.tasks.each do |task|
              %li= link_to task.name, badge_task_path(badge, task)
        %td= badge.earned_badges.count
        %td
          = link_to "Award", new_badge_earned_badge_path(:badge_id => badge), :class => "button tiny radius"
          = link_to "Quick Award", mass_award_badge_path(badge), :class => "button tiny radius"
