%table.table.table-striped.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"}= course.user_term
      %th.sortable{"data-sort" => "int"} Score
      //%th Chart
      %th.sortable{"data-sort" => "string"}= course.team_term
      %th.sortable{"data-sort" => "int"} Badges
      %th.sortable{"data-sort" => "int"} Logins
      %th.sortable{"data-sort" => "int"} Pageviews
      %th.sortable{"data-sort" => "int"} Predictor Views
      %th.sortable{"data-sort" => "string"} Email
      %th.sortable{"data-sort" => "string"}= course.team_leader_term
  %tbody
    - students.each do |student|
      %tr
        %td= link_to student.name, user_path(student)
        %td= number_with_delimiter(student.score_for_course(course), :delimiter => ',')
        //%td{:data => { :id => student.id.to_s}, :class => "bar-chart" }
        %td
          - if student.teams.present?
            = link_to student.teams.first.try(:name), student.teams.first
        %td= student.earned_badges.count
        %td= student.visit_count
        %td= student.page_views
        %td= student.predictor_views
        %td= mail_to student.email, "Email #{student.first_name}", :class => "btn btn-tiny btn-success"
        %td
          - if student.team_leader.present?
            = mail_to team_leader.email, "Email GSI (#{team_leader.first_name})", :class => "btn btn-primary btn-tiny btn-success"
