.small-12.panel.mainContent
  = content_nav_for "My Dashboard" do
    - if current_course.use_timeline?
      %li= link_to "Timeline", "#", :class => "button tiny radius active"
    %li= link_to "Syllabus", syllabus_path, :class => "button tiny radius"
    - if current_course.grading_philosophy.present?
      %li= link_to "Grade Philosophy", grading_philosophy_path, :class => "button tiny radius"
    - if current_course.predictor_on?
      %li= link_to "Grade Predictor", predictor_path, :class => "button tiny radius"
    - if current_course.has_badges?
      %li= link_to "#{term_for :badges}", my_badges_path, :class => "button tiny radius"
    - if current_course.has_teams? && current_course.teams_visible?
      %li= link_to "#{term_for :teams}", my_team_path, :class => "button tiny radius"

  .small-12.columns
    %h2
      - if current_user.is_student?
        Your current score is
        / Check to see if the course has a pre-determined total number of points
      - if current_course.point_total?
        %span#userScoreNum.bold #{points current_student_data.score}
        %span /#{points current_course.point_total} points
        / Else tally all of the points for all of the assignments in the course
      - else
        %span#userScoreNum #{points current_student_data.score}/#{points current_student_data.point_total}
      - if current_student_data.grade_level.present?
        Current Level:
        %span#userScoreNum= current_student_data.grade_level

    = render "students/timeline"

  .clearfix