%table.table.table-bordered
  %thead
    %tr
      %th= course.team_term
      %th Score
      %th Badges
      %th Average Grade
      %th= course.section_leader_term
  %tbody
    - teams.each do |team|
      %tr
        %td= link_to team.name, team_path(team)
        %td= team.try(:score)
        %td
          - team.earned_badges.each do |badge|
            = image_tag badge.icon, :alt => badge.name, :width => 25
        %td
        %td= team.team_leader.try(:name)
