%table.table.table-striped.simpleTable
  %thead
    %tr
      %th{"data-sort" => "string"}= course.team_term
      %th{"data-sort" => "int"} Score
      %th Badges
      %th{"data-sort" => "int"} Average #{course.user_term} Grade
      %th= course.team_leader_term
  %tbody
    - teams.each do |team|
      %tr
        %td= link_to team.name, team_path(team)
        %td= team.try(:score)
        %td
          - team.earned_badges.each do |badge|
            = image_tag badge.icon, :alt => badge.name, :width => 25
        %td= "#{number_with_delimiter(team.try(:average_grade), :delimiter => ',')}"
        %td
          - if team.team_leader.present?
            = link_to team.team_leader.try(:name), team.team_leader
