- @ungraded_submissions.group_by(&:assignment).each do |assignment, submissions|
  %h5
    = assignment.name
    - if assignment.assignment_type.mass_grade?
      = link_to 'Quick Grade', mass_grade_assignment_path(assignment), :class => "btn btn-tiny btn-info"
  %table.table.simpleTable
    %thead
      %tr
        %th.sortable{"data-sort" => "string"} Student
        - if current_course.has_teams?
          %th
        %th
        %th
    %tbody
      - submissions.each do |ug|
        %tr
          %th= link_to ug.student.try(:name)
          - if current_course.has_teams?
            %th= link_to ug.student.team_for_course(current_course).try(:name), ug.student.team_for_course(current_course)
          %th= link_to "See Submission", assignment_submission_path(ug.assignment, ug), :class => 'btn btn-xs btn-success'
          %th= link_to 'Grade', new_assignment_grade_path("assignment_id"=>assignment.id, :student_id => ug.student.try(:id)), :class => 'btn btn-xs btn-success'