.pagetitle
  = "Unreleased Grades"
  .label.alert.round= @count_unreleased

- @unreleased_grades.group_by(&:assignment).each do |assignment, grades|
  .small-12.columns
    %h5.bold
      = link_to assignment.name, assignment
      = link_to 'Quick Grade', mass_grade_assignment_path(assignment), :class => "button tiny round success"

  = form_tag edit_status_grades_assignment_path assignment do
    %table.responsive.columns
      %thead
        %tr
          - if assignment.is_individual?
            %th.sortable{"data-sort" => "string"} First Name
            %th.sortable{"data-sort" => "string"} Last Name
            - if current_course.has_teams?
              %th= "#{term_for :team}"
          - elsif assignment.has_groups?
            %th.sortable{"data-sort" => "string"} Group
          %th Score
          %th Feedback
          %th 
          %th
            .button-bar
              %ul.button-group.right.round
                %li
                  %button.select-all.tiny= "Check"
                %li
                  %button.select-none.tiny= "Uncheck"
      %tbody
        - grades.each do |g|
          %tr
            - if assignment.is_individual?
              %td= link_to g.student.try(:first_name), student_path(g.student)
              %td= link_to g.student.try(:last_name), student_path(g.student)
              %td
                - if current_course.has_teams? && g.student.present? && g.student.team_for_course(current_course).present?
                  = link_to g.student.team_for_course(current_course).try(:name), g.student.team_for_course(current_course)
              %td= points g.score
              %td= g.feedback
            %td
              .button-bar
                %ul.button-group.right.round
                  %li
                    = link_to "See Grade", assignment_grade_path(g.assignment, :student_id => g.student_id), :class => "button tiny alert"
                  %li= link_to 'Edit Grade', edit_assignment_grade_path("assignment_id"=>assignment.id, :student_id => g.student.try(:id)), :class => "button tiny alert"
            %td.text-center
              = check_box_tag "grade_ids[]", g.id

    .columns
      .right
        = submit_tag "Update Selected Grade Statuses", :class => "button tiny primary radius"

