.small-12.panel.mainContent
  / Students Navigation
  = content_nav do
    = render "info/tabs"

  %span.pagetitle= @title

  - if current_course.has_teams?
    .small-12.large-4.medium-6.columns.right
      = form_tag choices_students_path, :name => "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
        = select_tag :team_id, options_for_select(current_course.teams.alpha.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select #{current_course.team_term}"
        
    %table.responsive.small-12.columns
      %thead
        %tr
          %th.sortable{"data-sort" => "string"} First Name
          %th.sortable{"data-sort" => "string"} Last Name
          - @assignment_types.each do |assignment_type|
            - if assignment_type.student_weightable?
              %th.sortable{"data-sort" => "string"}= assignment_type.name
          %th.sortable{"data-sort" => "string"} #{current_course.weight_term.pluralize} Awarded?
          %th.button-column
      %tbody
        - if @team
          - students = current_course_data.students_for_team(@team)
        - else
          - students = current_course_data.students
        - students.each do |student|
          %tr
            %td= link_to student.first_name, student_path(student)
            %td= link_to student.last_name, student_path(student)
            - @assignment_types.each do |assignment_type|
              - if assignment_type.student_weightable?
                %td= assignment_type.weight_for_student(student)
            %td
              = current_course.assignment_weight_spent_for_student(student) ? "Yes" : "No"
            %td
              .button-bar
                %ul.button-group.round.right
                  %li= link_to "Dashboard", student_path(student), :class => "button tiny alert"
                  %li= link_to "Edit #{term_for :weights}", assignment_type_weights_path(:student_id => student.id), :class => "button tiny alert"

    - if current_course_data.auditing_students.present?
      %h2 Auditing

      %table.responsive.simpleTable
        %thead
          %tr
            %th.sortable{"data-sort" => "string"} First Name
            %th.sortable{"data-sort" => "string"} Last Name
            - @assignment_types.each do |assignment_type|
              - if assignment_type.student_weightable?
                %th.sortable{"data-sort" => "string"}= assignment_type.name
            %th.sortable{"data-sort" => "string"} #{current_course.weight_term.pluralize} Awarded?
            %th{:width => '350'}
        %tbody
          - if @team
            - students = current_course_data.auditing_students_for_team(@team)
          - else
            - students = current_course_data.auditing_students
          - students.each do |student|
            %tr
              %td= link_to student.first_name, student_path(student)
              %td= link_to student.last_name, student_path(student)
              - @assignment_types.each do |assignment_type|
                - if assignment_type.student_weightable?
                  %td= assignment_type.weight_for_student(student)
              %td
                = current_course.assignment_weight_spent_for_student(student) ? "Yes" : "No"
              %td
                .button-bar
                  %ul.button-group.round
                    %li= link_to "Dashboard", student_path(student), :class => "button tiny alert"
                    %li= link_to "Edit #{term_for :weights}", assignment_type_weights_path(:student_id => student.id), :class => "button tiny alert"



  .clearfix