.small-12.panel.mainContent
  / Ungraded Assignments
  .show-for-large-up
    = content_nav_for Assignment, "Ungraded #{term_for :assignments}" do
      = render "info/tabs"

  .hide-for-large-up{:style => "padding: 10px"}
    = mobile_nav_for Assignment, "Ungraded #{term_for :assignments}" 

  .small-12.columns

    .hide-for-large-up
      %a.radius.button.tiny.small-12.medium-4.dropdown{:href => "#", :data => { :dropdown => "drop" } }
        Select
      %ul#drop.f-dropdown
        = render "tabs"

    = render 'ungraded_submissions_table', :course => current_course, :submissions => @ungraded_submissions

  .clearfix