%li.has-dropdown.course_switch
  %a My Courses
  //= form_tag change_current_course_path  do
  %ul.dropdown
    - current_user.courses.each do |c|
      %li= link_to "#{c.name}", change_current_course_path(:id => c.id), :method => 'post'
      //%li= select_tag 'course_id', options_from_collection_for_select(current_user.courses, 'id', 'name')

%li.has-dropdown
  %a Class Info
  %ul.dropdown.classInfo
    %li Professor #{ current_course.professor.try(:name) }
    - if current_user.is_student?
      - current_student.team_leader.tap do |team_leader|
        - if team_leader.present?
          %li= link_to "Email #{current_course.team_leader_term} (#{team_leader.first_name})", "mailto:#{team_leader.email}"
    - if current_course.phone.present?
      %li Phone Number: #{current_course.phone }
    - if current_course.class_email.present?
      %li Class Email: #{mail_to current_course.class_email, current_course.class_email}
    - if current_course.twitter_handle.present?
      %li
        Twitter Handle:
        = link_to current_course.twitter_handle, "http://www.twitter.com/#{current_course.twitter_handle}"
    - if current_course.twitter_hashtag.present?
      %li
        Hashtag:
        = link_to current_course.twitter_hashtag, "http://www.twitter.com/#{current_course.twitter_hashtag}"
    - if current_course.meeting_times.present?
      %li
        Classes Meet:
        = current_course.meeting_times
        = current_course.location
    - if current_course.office.present?
      %li
        Professor's Office:
        = current_course.office
    - if current_course.office_hours.present?
      %li
        Office Hours:
        = auto_link(current_course.office_hours)

%li.has-dropdown
  = link_to current_user.public_name
  %ul.dropdown
    %li= link_to "My Account", edit_profile_users_path
    %li= link_to "Logout", :logout
