.small-12.medium-2.columns
  %h5 Explore
  %ul
    %li= link_to_unless_current "Features", features_path
    %li= link_to_unless_current "See the Demo", "http://staging.gradecraft.com"
  .clearfix
  %hr.show-for-small-only

.small-12.medium-2.columns
  %h5 Using GradeCraft
  %ul
    %li= link_to_unless_current "Apply to Use", using_gradecraft_path
    %li= link_to_unless_current "Documentation", documentation_path
    %li= link_to_unless_current "Submit a Bug", submit_a_bug_path
  .clearfix
  %hr.show-for-small-only

.small-12.medium-2.columns
  %h5 About
  %ul
    %li= link_to_unless_current "Research", research_path
    %li= link_to_unless_current "People", people_path
    %li= link_to_unless_current "Codebase", "https://github.com/bellotastudios/gradecraft"
  .clearfix
  %hr.show-for-small-only

.small-12.medium-2.columns
  %h5 Talk to Us
  %ul
    %li= mail_to 'gradecraft@gmail.com', 'Email'
    %li= link_to_unless_current "Twitter", "https://twitter.com/gradecraft"
  .clearfix
  %hr.show-for-small-only

.small-12.medium-4.columns
  %h5.small.inverse.not_bold &copy; 2012-13 Regents of the University of Michigan