%div{:class => 'btn-group pull-right'}
  %a{:class => 'btn btn-xs username btn-info dropdown-toggle', "data-toggle" => 'dropdown', :href => '#' }
    Log In
    %span{:class => 'caret'}
  %ul{:class => 'dropdown-menu dropdown form-inline login'}
    - if %w(production).include? Rails.env
      .kerberos-auth
        = simple_form_for User.new, :url => auth_kerberos_callback_path do |f|
          %li= f.input :username, :label => false, placeholder: 'Uniqname', :html => { :class => "col-lg-12"}
          %li= f.input :password, :label => false
          %li= f.submit 'Log in', class: 'dropmenu btn btn-primary btn-small pull-right', alt: 'Log in'
    - if %w(test development staging).include? Rails.env
      .gradegraft-auth
        = simple_form_for User.new, :url => user_sessions_path do |f|
          %li= f.input :email, :label => false, :html => { :class => "col-lg-12"}
          %li= f.input :password, :label => false
          %li= submit_tag "Log in", :class => 'dropmenu btn btn-primary btn-small pull-right', :alt => "Log in"
    .spacer
    .divider.clear
    = link_to 'Forget your password?', new_user_session_path, :class => "forgot"
