.row
  .primaryContent.rounded.row
    .col-lg-12.col-md-12
      - if flash[:notice]
        .alert.alert-success= flash[:notice]
      - if flash[:error]
        .alert.alert-error= flash[:error]
      - if flash[:alert]
        .alert.alert-info= flash[:alert]
    = render 'layouts/content'
  %footer.row.rounded
    = render 'layouts/footer'
