.row
  .col-lg-2.col-sm-3.col-md-3.col-sm-3.sidebar-nav-fixed
    = render 'layouts/admin_subnav'
  .col-lg-10.col-sm-9.col-md-9
    - if flash[:notice]
      .alert.alert-success= flash[:notice]
    - if flash[:error]
      .alert.alert-error= flash[:error]
    - if flash[:alert]
      .alert.alert-info= flash[:alert]
    .primaryContent.row= render 'layouts/content'
%footer.row
  .col-lg-12.col-md-12.col-sm-12.rounded
    = render 'layouts/footer'