%ul.side-nav
  %li
    %label Overview
  %li
    %i.fi-home
    = link_to "Timeline", dashboard_path
  %li
    %i.fi-list-thumbnails
    = link_to "Leaderboard", leaderboard_path
  %li
    %i.fi-flag
    = link_to "Grading Status", grading_status_path
  - if current_course.student_weighted?
    %li
      %i.fi-die-three
      = link_to "#{term_for :weight} Choices", multiplier_choices_path
  - if current_course.has_badges?
    %li
      %i.fi-star
      = link_to "Awarded #{current_course.badge_term.pluralize}", earned_badges_path
  %li
    %i.fi-book-bookmark
    = link_to "Gradebook", gradebook_path

  %li.divider

  %li
    %label Coursework
  %li
    %i.fi-map
    = link_to term_for(:assignments), assignments_path
  - if current_course.has_badges?
    %li
      %i.fi-shield
      = link_to term_for(:badges), badges_path
  - if current_course.team_challenges?
    %li
      %i.fi-trophy
      = link_to term_for(:challenges), challenges_path
  
  %li.divider

  %li
    %label Analytics
  %li
    %i.fi-graph-horizontal
    = link_to "Top 10/Bottom 10", analytics_top_10_path
  %li
    %i.fi-graph-trend
    = link_to "Course Analytics", analytics_root_path
  %li
    %i.fi-results-demographics
    = link_to "#{term_for :assignment} Analytics", analytics_per_assign_path
  
  %li.divider

  %li 
    %label Users  
  %li
    %i.fi-torsos-female-male
    = link_to "Users", users_path
  - if current_course.has_teams?
    %li
      %i.fi-die-three
      = link_to term_for(:teams), teams_path
  %li
    %i.fi-elevator
    = link_to term_for(:groups), groups_path
  
  %li.divider

  %li
    %label Course Setup
  %li
    %i.fi-wrench
    = link_to "Options", edit_course_path(current_course)
  %li
    %i.fi-database
    = link_to "#{term_for :assignment_types}", assignment_types_path
  %li
    %i.fi-list
    = link_to "Grading Scheme", grade_scheme_elements_path
  %li
    %i.fi-torso-business
    = link_to "Staff", staff_index_path
  
  %li.divider

  %li
    %label Tools
  - LTIProvider.all.each do |tool|
    %li
      %i.fi-puzzle
      = link_to tool.name, launch_lti_provider_path(tool)
  
  %li.divider

  - if current_user.is_admin?
    %li
      %label Admin
    %li
      %i.fi-torsos-all
      = link_to "All Users", users_path
    %li
      %i.fi-key
      = link_to "Course Index", courses_path
