.row
  .twelve.columns
    - if flash[:notice]
      %div.alert-box.success
        = flash[:notice]
        <a class="close" data-dismiss="alert" href="#">&times;</a>
    - if flash[:error]
      %div.alert-box.alert
        = flash[:error]
        <a class="close" data-dismiss="alert" href="#">&times;</a>
    - if flash[:alert]
      %div.alert-box
        = flash[:alert]
        <a class="close" data-dismiss="alert" href="#">&times;</a>
    = render 'layouts/content'
  .col-lg-3.col-sm-3.col-md-3.col-xs-12
    = render 'layouts/student_sidebar'
%footer.row
  .col-lg-12.col-md-12.col-sm-12.rounded
    = render 'layouts/footer'
