.row
  .small-12
    - if flash[:notice]
      %div.alert-box.success
        = flash[:notice]
        <a class="close" data-dismiss="alert" href="#">&times;</a>
    - if flash[:error]
      %div.alert-box.alert
        = flash[:error]
        <a class="close" data-dismiss="alert" href="#">&times;</a>
    - if flash[:alert]
      %div.alert-box
        = flash[:alert]
        <a class="close" data-dismiss="alert" href="#">&times;</a>
    = render 'layouts/content'
  .small-12
    = render 'layouts/student_sidebar'
%footer.row
  .small-12
    = render 'layouts/footer'
