.row
  .col-lg-9.col-sm-9.col-md-9
    - if flash[:notice]
      .alert.alert-success= flash[:notice]
    - if flash[:error]
      .alert.alert-error= flash[:error]
    - if flash[:alert]
      .alert.alert-info= flash[:alert]
    .primaryContent= render 'layouts/content'
  .col-lg-3.col-sm-3.col-md-3
    = render 'layouts/student_sidebar'
%footer.row
  .col-lg-12.col-md-12.col-sm-12.rounded
    = render 'layouts/footer'
