!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      = "#{yield :title} - " if content_for? :title
      = current_course.try(:name) || 'GradeCraft'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    = yield(:head)
  %body(class="#{body_class}")
    .fixed
      %nav.top-bar{:data => {'topbar' => true}}
        %ul.title-area
          %li.name
            %h1
              %a(href="/dashboard")
                - if current_course
                  #{current_course.name}
                - else
                  gradecraft
        - if current_course && current_course.tagline?
          %section.top-bar-section.show-for-large-only
            %ul.left
              %li
                %a= current_course.try(:tagline)
        - if current_user
          %section.top-bar-section
            %ul.right= render 'layouts/authenticated_nav'
    - if current_user
      - if current_user.is_staff?
        = render 'layouts/staff'
      - else
        = render 'layouts/student'
    - else
      .row.panel.publicContent
        .small-12.columns
          = render 'layouts/public'
      - if ! current_user
        .row.panel.footer
          .small-12.medium-12.columns
            = render 'layouts/footer'
    = render 'layouts/google_analytics'
    = javascript_include_tag 'application'

        