!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      = "#{yield :title} - " if content_for? :title
      = current_course.try(:name) || 'GradeCraft'
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "https://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %script(src="/ckeditor/ckeditor.js")
    %script(src="/ckeditor/adapters/jquery.js")
    %script(src="/highcharts/js/highcharts.src.js")
    %script(src="/highcharts/js/highcharts-more.src.js")
    = javascript_include_tag "vendor/modernizr"
    = yield(:head)
  %body(class="#{body_class}")
    .fixed
      %nav.top-bar{:data => {'topbar' => true}}
        %ul.title-area
          %li.name
            %h1
              %a(href="/dashboard")
                - if current_course
                  #{current_course.name}
                - else
                  gradecraft
        - if current_course && current_course.tagline?
          %section.top-bar-section
            %ul.left
              %li
                %a= current_course.try(:tagline)
        - if current_user
          %section.top-bar-section
            %ul.right= render 'layouts/authenticated_nav'
    .row
      .large-12.small-12.columns
        - if flash[:notice]
          .alert-box.success.radius
            = flash[:notice]
            <a href="" class="close">&times;</a>
        - if flash[:error]
          .alert-box.alert.radius
            = flash[:error]
            <a href="" class="close">&times;</a>
        - if flash[:alert]
          .alert-box.radius
            = flash[:alert]
            <a href="" class="close">&times;</a>
    - if current_user
      - if current_user.is_staff?
        = render 'layouts/staff'
      - else
        = render 'layouts/student'
    - else
      .row= render 'layouts/public'

  %footer.radius
    .row= render 'layouts/footer'

  = render 'layouts/google_analytics'
  = javascript_include_tag 'application'