!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      = "#{yield :title} - " if content_for? :title
      = current_course.try(:name) || 'GradeCraft'
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "https://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag 'application'
    %script(src="/ckeditor/ckeditor.js")
    %script(src="/ckeditor/adapters/jquery.js")
    %script(src="/highcharts/js/highcharts.src.js")
    %script(src="/highcharts/js/highcharts-more.src.js")
    = yield(:head)
  %body(class="#{body_class}")
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        %div.col-lg-6.col-sm-12.col-12
          %a.brand(href="/dashboard")
            - if current_course
              #{current_course.name}
            - else
              GradeCraft
        .pull-right.col-lg-4.col-sm-12.col-12
          - if current_user
            %div{:class => 'btn-group pull-right'}
              %a{:class => 'username btn dropdown-toggle', "data-toggle" => 'dropdown', :href => '#' }
                = current_user.public_name
                %i.caret
              %ul{:class => 'dropdown-menu well'}
                %li= link_to "My Account", edit_profile_users_path
                %li= link_to "Logout", :logout
          - else
            %div{:class => 'btn-group pull-right'}
              %a{:class => 'btn btn-xs btn-primary dropdown-toggle', "data-toggle" => 'dropdown', :href => '#' }
                Log In
                %span{:class => 'caret'}
              %ul{:class => 'dropdown-menu dropdown form-inline login'}
                = simple_form_for User.new, :url => user_sessions_path do |f|
                  %li= f.input :email, :label => false, :html => { :class => "col-lg-12"}
                  %li= f.input :password, :label => false
                  %li= submit_tag "Log in", :class => 'dropmenu btn btn-primary btn-small pull-right', :alt => "Log in"
                .spacer
                .divider.clear
                = link_to 'Forget your password?', new_user_session_path, :class => "forgot"
    .container
      - if current_user
        - if current_user.is_staff?
          = render 'layouts/staff'
        - else
          = render 'layouts/student'
      - else
        = render 'layouts/public'

