!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      = "#{yield :title} - " if content_for? :title
      = current_course.try(:name) || 'GradeCraft'
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "https://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag 'application'
    = javascript_include_tag 'per-assign'
    %script(src="/ckeditor/ckeditor.js")
    %script(src="/ckeditor/adapters/jquery.js")
    %script(src="/highcharts/js/highcharts.src.js")
    %script(src="/highcharts/js/highcharts-more.src.js")
    = yield(:head)
  %body(class="#{body_class}")
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .col-lg-8.col-sm-9.col-md-9.col-xs-9
          %a.brand(href="/dashboard")
            - if current_course
              #{current_course.name}
            - else
              GradeCraft
          - if current_course && current_course.tagline?
            %span.earned= current_course.try(:tagline)
        .pull-right.col-lg-4.col-sm-3.col-md-3.col-xs-3
          - if current_user
            = render 'layouts/authenticated_nav'
          - else
            = render 'layouts/nav'
    .container
      - if current_user
        - if current_user.is_staff?
          = render 'layouts/staff'
        - else
          = render 'layouts/student'
      - else
        = render 'layouts/public'

